# DB Project, data prep #1

## Feature Generation, Data Merging

In [1]:
# Importing relevant packages, loading relevant data.

import numpy as np
import pandas as pd
import geopandas as gpd
from geopandas import GeoDataFrame
from shapely.geometry import Point
import warnings
warnings.filterwarnings('ignore')

crime_df = pd.read_csv('../raw_data/Crimes_-_2015_to_Present.csv')
crime_class_df = pd.read_csv('../raw_data/Crimes_classes.csv')
beats_df = pd.read_csv('../intermediate_data/beats.csv')
weather_df = pd.read_csv('../raw_data/weather_2015-2020.csv')

/opt/anaconda3/lib/python3.8/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.1-CAPI-1.14.2). Conversions between both will be slow.
  warnings.warn(

In [2]:
# Transforming crime data to datetime, indexing by such, limiting data to 2015-2020.

crime_df['Date'] = pd.to_datetime(crime_df['Date'])
crime_df = crime_df.set_index('Date')
crime_df = crime_df['20150101' : '20201231']

In [3]:
# Creating features for month, week of the current year, day of the week, and hour of day .

crime_df['Month'] = crime_df.index.month
crime_df['Week'] = crime_df.index.week
crime_df['Day'] = crime_df.index.day
crime_df['Hour'] = crime_df.index.hour

def find_watch(n):
    if 0 <= n < 8:
        return 'First'
    elif 8 <= n < 16:
        return 'Second'
    elif 16 <= n:
        return 'Third'
        

crime_df['Watch'] = crime_df['Hour'].apply(find_watch)

crime_df.index = crime_df.index.date

In [4]:
# Dropping non-criminal reports

crime_df = crime_df[~crime_df['IUCR'].isin(['5073', '5093', '5094', '5113', '5114'])]

In [5]:
# Transforming weather data to datetime, indexing by such.

weather_df['Date'] = pd.to_datetime(weather_df['DATE'])
weather_df = weather_df.set_index('Date')

In [6]:
#Generating separate df aggregating weather by year/month

precip_df = weather_df.copy(deep = True)

precip_df['Month'] = precip_df.index.month

precip_df['Year'] = precip_df.index.year

precip_df = precip_df.groupby(['Year','Month'])['PRCP', 'SNOW'].sum()

In [7]:
# Merging weather data to crime data.

crime_df = pd.merge(crime_df, weather_df, how = 'left', left_index = True, right_index = True)

In [8]:
# Saving total tempral data for analysis

crime_df.to_csv("../intermediate_data/df_temporal_to_graph.csv")

In [9]:
# Preparing crime classes to merge into crime data, and merging.

for index, row in crime_class_df.iterrows():
    if len(row['crime_id']) == 3:
        row['crime_id'] = '0' + row['crime_id']

crime_df = pd.merge(crime_df, crime_class_df, how = 'left', left_on = 'IUCR', right_on = 'crime_id')

In [10]:
# Merging beat data to crime data.  

crime_df = pd.merge(crime_df, beats_df, how = 'left', left_on = 'Beat', right_on = 'beat_num')

In [11]:
crime_df.loc[crime_df.category_1 == 'serious', 'serious'] = 1
crime_df.serious.fillna(0, inplace=True)

In [12]:
# Dropping undesired features.

col_list = ['ID','Arrest', 'Domestic', 'Beat', 'Year', 'Month', 'Watch', 
            'PRCP', 'SNOW','TMAX', 'TMIN', 'serious']

df_filtered = crime_df.filter(col_list)

In [13]:
df_filtered

,ID,Arrest,Domestic,Beat,Year,Month,Watch,PRCP,SNOW,TMAX,TMIN,serious
0,10225520,False,False,411,2015,1,First,0.0,0.0,32,17,1.0
1,11028448,True,True,1532,2015,1,First,0.0,0.0,32,17,1.0
2,10225760,False,False,2024,2015,1,First,0.0,0.0,32,17,1.0
3,11242929,False,False,223,2015,1,First,0.0,0.0,32,17,1.0
4,10229179,False,False,214,2015,1,First,0.0,0.0,32,17,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1542399,12259610,False,False,322,2020,12,Third,0.0,0.0,30,23,0.0
1542400,12263896,False,False,223,2020,12,Third,0.0,0.0,30,23,1.0
1542401,12274737,False,False,114,2020,12,Third,0.0,0.0,30,23,1.0
1542402,12258658,False,False,1021,2020,12,Third,0.0,0.0,30,23,1.0
1542403,12262588,False,False,2533,2020,12,Third,0.0,0.0,30,23,1.0

In [14]:
groups = df_filtered[['Year','Month','Watch','Beat']]

In [15]:
groups = groups.merge(df_filtered.groupby(['Year','Month', 'Watch','Beat'])['ID'].count().reset_index()).drop_duplicates()

groups = groups.merge(df_filtered.groupby(['Year','Month', 'Watch','Beat'])['serious'].sum().reset_index())
groups = groups.merge(df_filtered.groupby(['Year','Month', 'Watch','Beat'])['Arrest'].sum().reset_index())
groups = groups.merge(df_filtered.groupby(['Year','Month', 'Watch','Beat'])['Domestic'].sum().reset_index())
groups = groups.merge(df_filtered.groupby(['Year','Month'])['TMAX'].mean().reset_index(), how='left')
groups = groups.merge(df_filtered.groupby(['Year','Month'])['TMIN'].mean().reset_index(), how='left')
groups = groups.merge(precip_df.reset_index(), how='left')

groups.rename({'ID':'Total', 'serious':'Serious'}, axis=1, inplace=True)

In [16]:
groups['rank'] = groups.groupby(['Year','Month'])['Serious'].rank(pct=True)
groups.loc[groups['rank'] > .75, "high_crime"] = 1
groups['high_crime'].fillna(0, inplace=True)
groups.drop('rank', axis = 1, inplace=True)

In [17]:
groups.iloc[1]

Year             2015
Month               1
Watch           First
Beat             1532
Total              24
Serious            13
Arrest              9
Domestic            7
TMAX            32.47
TMIN          20.1385
PRCP             1.55
SNOW             11.3
high_crime          0
Name: 1, dtype: object

In [18]:
# Merging beat data to crime data.  

crime_df = pd.merge(groups, beats_df, how = 'left', left_on = 'Beat', right_on = 'beat_num')

In [19]:
crime_df.head()

,Year,Month,Watch,Beat,Total,Serious,Arrest,Domestic,TMAX,TMIN,...,count_metra_stops,count_restaurants,count_bars,count_daycares,count_entertainment,count_businesses,road_distance_ft,TOTAL POPULATION,dist_to_police,dist_to_hospital
0,2015,1,First,411,16,9.0,3,5,32.469987,20.138549,...,2.0,16.0,0.0,1.0,0.0,58.0,231176.656022,5470.665022,7180.695576,2783.222325
1,2015,1,First,1532,24,13.0,9,7,32.469987,20.138549,...,0.0,14.0,2.0,1.0,0.0,24.0,162950.259395,6459.881637,5701.676947,6619.369443
2,2015,1,First,2024,7,6.0,1,0,32.469987,20.138549,...,0.0,36.0,7.0,2.0,0.0,50.0,84982.042393,11195.685856,9224.617641,989.984955
3,2015,1,First,223,11,8.0,0,4,32.469987,20.138549,...,0.0,21.0,3.0,0.0,1.0,30.0,132102.433573,7269.595612,5686.009943,1509.833687
4,2015,1,First,214,8,8.0,1,2,32.469987,20.138549,...,0.0,11.0,2.0,2.0,2.0,48.0,179945.426889,6796.787190,6120.288930,6801.558784

In [20]:
crime_df.drop(["Unnamed: 0", 'beat'], axis=1, inplace=True)

In [21]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59093 entries, 0 to 59092
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 59093 non-null  int64
 1   Month                59093 non-null  int64
 2   Watch                59093 non-null  object
 3   Beat                 59093 non-null  int64
 4   Total                59093 non-null  int64
 5   Serious              59093 non-null  float64
 6   Arrest               59093 non-null  int64
 7   Domestic             59093 non-null  int64
 8   TMAX                 59093 non-null  float64
 9   TMIN                 59093 non-null  float64
 10  PRCP                 59093 non-null  float64
 11  SNOW                 59093 non-null  float64
 12  high_crime           59093 non-null  float64
 13  beat_num             59093 non-null  int64
 14  district             59093 non-null  int64
 15  sector               59093 non-null  int64
 16  count_l_stops        59093 non-null  float64
 17  count_bus_stops      59093 non-null  float64
 18  count_metra_stops    59093 non-null  float64
 19  count_restaurants    59093 non-null  float64
 20  count_bars           59093 non-null  float64
 21  count_daycares       59093 non-null  float64
 22  count_entertainment  59093 non-null  float64
 23  count_businesses     59093 non-null  float64
 24  road_distance_ft     59093 non-null  float64
 25  TOTAL POPULATION     59093 non-null  float64
 26  dist_to_police       59093 non-null  float64
 27  dist_to_hospital     59093 non-null  float64
dtypes: float64(18), int64(9), object(1)
memory usage: 13.1+ MB

In [22]:
%run geoprocessing_helpers.ipynb

../raw_data/Boundaries - Police Beats (current).geojson EPSG:3435
../raw_data/Boundaries - Census Blocks - 2010.geojson EPSG:3435

In [23]:
beats = gpd.read_file("../raw_data/Boundaries - Police Beats (current).geojson")

In [24]:
beats

,beat,beat_num,district,sector,geometry
0,1,1713,17,1,"MULTIPOLYGON (((-87.70473 41.97577, -87.70472 ..."
1,0,3100,31,0,"MULTIPOLYGON (((-87.83365 41.97535, -87.83366 ..."
2,5,1651,16,5,"MULTIPOLYGON (((-87.90684 41.97656, -87.91070 ..."
3,1,1914,19,1,"MULTIPOLYGON (((-87.64492 41.96973, -87.64431 ..."
4,1,1915,19,1,"MULTIPOLYGON (((-87.63724 41.96599, -87.63644 ..."
...,...,...,...,...,...
272,1,0314,03,1,"MULTIPOLYGON (((-87.58879 41.78612, -87.58844 ..."
273,2,0825,08,2,"MULTIPOLYGON (((-87.67917 41.78656, -87.67912 ..."
274,1,0313,03,1,"MULTIPOLYGON (((-87.60854 41.78583, -87.60808 ..."
275,2,0823,08,2,"MULTIPOLYGON (((-87.69354 41.78458, -87.69354 ..."
276,1,0312,03,1,"MULTIPOLYGON (((-87.60431 41.78043, -87.60400 ..."

In [25]:
crime_df["Beat"]=crime_df["Beat"].astype("string")
crime_df["Beat"] =crime_df["Beat"].str.zfill(4)

In [26]:
crime_df.iloc[0]

Year                      2015
Month                        1
Watch                    First
Beat                      0411
Total                       16
Serious                      9
Arrest                       3
Domestic                     5
TMAX                     32.47
TMIN                   20.1385
PRCP                      1.55
SNOW                      11.3
high_crime                   0
beat_num                   411
district                     4
sector                       1
count_l_stops                0
count_bus_stops             49
count_metra_stops            2
count_restaurants           16
count_bars                   0
count_daycares               1
count_entertainment          0
count_businesses            58
road_distance_ft        231177
TOTAL POPULATION       5470.67
dist_to_police          7180.7
dist_to_hospital       2783.22
Name: 0, dtype: object

In [27]:
beats.iloc[1]

beat                                                        0
beat_num                                                 3100
district                                                   31
sector                                                      0
geometry    (POLYGON ((-87.83365455041093 41.9753548151922...
Name: 1, dtype: object

In [28]:
crime_data = beats.merge(crime_df, left_on="beat_num", right_on="Beat")

In [29]:
crime_data = compute_spatial_lag(crime_data, "high_crime", 
                                 "high_crime_geog_lag", 
                                 "Year")

In [30]:
crime_data.drop(['beat_num_y', 'district_y', 'sector_y'], axis=1, inplace = True)
crime_data.rename(columns={'Total': 'Crimes',
                         'beat_num_x': 'beat_num', 
                         'district_x': 'district', 
                         'sector_x': 'sector'}, inplace=True)

In [31]:
crime_data.columns

Index(['beat', 'beat_num', 'district', 'sector', 'geometry', 'Year', 'Month',
       'Watch', 'Beat', 'Crimes', 'Serious', 'Arrest', 'Domestic', 'TMAX',
       'TMIN', 'PRCP', 'SNOW', 'high_crime', 'count_l_stops',
       'count_bus_stops', 'count_metra_stops', 'count_restaurants',
       'count_bars', 'count_daycares', 'count_entertainment',
       'count_businesses', 'road_distance_ft', 'TOTAL POPULATION',
       'dist_to_police', 'dist_to_hospital', 'high_crime_geog_lag'],
      dtype='object')

In [32]:
# Saving aggregate geospatial data for analysis

crime_data.to_csv("../intermediate_data/df_geospatial_to_graph.csv")

In [33]:
crime_data.drop(columns = "geometry", axis=0, inplace=True)

In [34]:
crime_data.describe()

,Year,Month,Crimes,Serious,Arrest,Domestic,TMAX,TMIN,PRCP,SNOW,...,count_restaurants,count_bars,count_daycares,count_entertainment,count_businesses,road_distance_ft,TOTAL POPULATION,dist_to_police,dist_to_hospital,high_crime_geog_lag
count,59093.000000,59093.000000,59093.000000,59093.000000,59093.000000,59093.000000,59093.000000,59093.000000,59093.000000,59093.000000,...,59093.000000,59093.000000,59093.000000,59093.000000,59093.000000,5.909300e+04,59093.000000,59093.000000,59093.000000,59093.000000
mean,2017.498892,6.499518,26.101298,14.358824,5.396747,4.311154,61.187205,45.189980,3.826423,3.089808,...,46.355321,14.788977,3.527237,3.260437,109.826697,2.247101e+05,9851.246161,7080.778639,6681.503985,0.253453
std,1.707773,3.452081,15.515035,10.009157,6.003247,3.692969,18.538525,17.145786,2.312055,5.546681,...,45.939449,26.067116,2.961380,6.865174,128.819829,1.231862e+05,5414.486981,5296.909480,4840.844549,0.150990
min,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,26.455588,10.647633,0.440000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.617925e+04,0.000000,51.196801,504.915576,0.000000
25%,2016.000000,3.000000,15.000000,8.000000,2.000000,2.000000,43.761013,29.648049,2.150000,0.000000,...,15.000000,1.000000,1.000000,0.000000,40.000000,1.457003e+05,5915.764670,4192.196166,3423.123963,0.142061
50%,2017.000000,6.000000,23.000000,13.000000,4.000000,3.000000,61.480997,42.797441,3.260000,0.000000,...,34.000000,5.000000,3.000000,1.000000,78.000000,1.954650e+05,8757.892084,6244.617199,5502.906400,0.232558
75%,2019.000000,9.000000,34.000000,18.000000,7.000000,6.000000,80.276572,63.707535,5.240000,5.000000,...,64.000000,16.000000,5.000000,3.000000,143.000000,2.782085e+05,12938.223137,8389.332817,8685.244596,0.344948
max,2020.000000,12.000000,272.000000,247.000000,84.000000,30.000000,87.283496,70.835736,10.690000,28.300000,...,383.000000,238.000000,16.000000,60.000000,1344.000000,1.107101e+06,26746.589142,39139.467736,26281.783262,0.809302

In [35]:
crime_data.to_csv("../intermediate_data/high_crime_labeled.csv")