### Get Packages

In [55]:
import pandas as pd
import geopandas as gpd
import seaborn as sns
import numpy as np
import sklearn as sk
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import precision_score
import datetime

%run ml_helpers.ipynb
%run ml.ipynb

         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
1145280     1145280   812  2019      4  Second  0.00   0.0    66    50
1239002     1239002   725  2019      8  Second  0.00   0.0    84    65
1295971     1295971   213  2019     11   First  0.00   0.0    33    17
1134302     1134302  2432  2019      4   Third  0.16   0.0    70    53
1218458     1218458  1131  2019      7   Third  0.00   0.0    86    68
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
1237656     1237656  1832  2019      8   Third  0.04   0.0    85    71
1204555     1204555   124  2019      7  Second  0.00   0.0    89    67
1245917     1245917   924  2019      8   Third  0.00   0.0    74    62
1127254     1127254   834  2019      3  Second  0.00   0.0    65    45
1235591     1235591   933  2019      8   First  0.04   0.0    78    69

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
1145280            0.0  ...               40.0        13.0             1.0
1239002            1.0  ...               13.0         0.0             2.0
1295971            1.0  ...                7.0         4.0             2.0
1134302            1.0  ...               78.0        24.0             6.0
1218458            0.0  ...               14.0         1.0             0.0
...                ...  ...                ...         ...             ...
1237656            0.0  ...               91.0        69.0             3.0
1204555            0.0  ...               39.0        11.0             0.0
1245917            0.0  ...               62.0         9.0             1.0
1127254            0.0  ...               58.0        13.0             8.0
1235591            0.0  ...               19.0         5.0             0.0

         count_entertainment  count_businesses  road_distance_ft  \
1145280                  2.0             102.0          0.824280
1239002                  0.0              24.0          0.457074
1295971                  2.0              31.0          0.647690
1134302                  4.0             108.0          0.643712
1218458                  0.0              30.0          0.451278
...                      ...               ...               ...
1237656                 20.0             166.0          0.268514
1204555                  0.0              77.0          0.538028
1245917                  2.0             729.0          1.130868
1127254                  2.0             160.0          1.228132
1235591                  0.0              48.0          0.575957

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
1145280      15985.470472        0.072157          0.089178           0.0
1239002       5168.646461        0.007154          0.028739           0.0
1295971       4923.794671        0.007787          0.022774           0.0
1134302      14944.282715        0.004981          0.014287           0.0
1218458       3537.092424        0.031135          0.024774           1.0
...                   ...             ...               ...           ...
1237656       8038.135255        0.014020          0.009861           0.0
1204555        816.487556        0.014753          0.027771           0.0
1245917       8579.132341        0.031390          0.048508           0.0
1127254      23979.728417        0.038494          0.040016           0.0
1235591       7088.921817        0.025387          0.034543           0.0

[255 rows x 22 columns]
         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
1057011     1057011  2232  2018     12   Third  0.00   0.0    39    26
886924       886924   422  2018      5   Third  0.00   0.0    82    57
996310       996310   323  2018      9   Third  0.00   0.0    81    69
992560       992560  1121  2018      9   First  0.00   0.0    85    62
965170       965170  2032  2018      8   Third  0.00   0.0    85    71
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
946991       946991  2512  2018      7  Second  0.05   0.0    89    66
888413       888413   513  2018      5   Third  0.00   0.0    73    50
923920       923920  1923  2018      6   First  2.70   0.0    68    64
1001464     1001464   822  2018      9  Second  0.53   0.0    84    63
979399       979399   733  2018      8   First  0.65   0.0    93    69

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
1057011            0.0  ...               16.0         0.0             6.0
886924             0.0  ...               11.0         0.0             1.0
996310             0.0  ...               37.0         4.0             8.0
992560             0.0  ...               25.0         0.0             1.0
965170             0.0  ...               36.0        10.0             5.0
...                ...  ...                ...         ...             ...
946991             0.0  ...               74.0        22.0             1.0
888413             0.0  ...               14.0         0.0             2.0
923920             2.0  ...               89.0        53.0             3.0
1001464            0.0  ...               60.0        12.0             4.0
979399             0.0  ...               11.0         1.0             1.0

         count_entertainment  count_businesses  road_distance_ft  \
1057011                  0.0              48.0          0.992037
886924                   0.0              25.0          0.574125
996310                   1.0              55.0          0.819839
992560                   0.0              56.0          0.597790
965170                   2.0              99.0          0.541595
...                      ...               ...               ...
946991                   5.0             159.0          0.938036
888413                   0.0              45.0          0.850162
923920                  30.0              75.0          0.425258
1001464                  0.0             104.0          0.961339
979399                   0.0              15.0          0.446254

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
1057011       7667.159964        0.028021          0.025985           1.0
886924        6260.193323        0.045373          0.019090           0.0
996310        7460.887096        0.008261          0.026222           1.0
992560        7026.957744        0.023843          0.006807           1.0
965170        8539.240027        0.018700          0.006046           0.0
...                   ...             ...               ...           ...
946991       20264.390883        0.026523          0.004278           0.0
888413        7489.527304        0.011224          0.011974           0.0
923920        9520.958331        0.006543          0.006665           0.0
1001464      22558.324368        0.014122          0.031323           0.0
979399        4906.580008        0.012347          0.022164           0.0

[291 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
678775      678775   511  2017      7  Second  0.00   0.0    90    63
546969      546969   722  2017      1   Third  0.78   0.0    42    32
745059      745059  1814  2017     10  Second  0.83   0.0    63    57
619212      619212  1014  2017      5   First  0.00   0.0    56    38
612667      612667   531  2017      4   First  0.00   0.0    72    42
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
581326      581326   423  2017      3   Third  0.00   0.0    41    34
588020      588020   824  2017      3  Second  0.62   0.0    54    41
595803      595803   112  2017      3   Third  0.00   0.0    41    37
596351      596351  2212  2017      4  Second  0.00   0.0    56    33
798264      798264   624  2017     12   Third  0.00   0.0    35    21

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
678775            0.0  ...               30.0         1.0             3.0
546969            0.0  ...                6.0         0.0             0.0
745059            0.0  ...               71.0        39.0            10.0
619212            1.0  ...               14.0         0.0             2.0
612667            0.0  ...               22.0         4.0             6.0
...               ...  ...                ...         ...             ...
581326            0.0  ...               26.0         1.0             7.0
588020            0.0  ...               49.0         3.0             7.0
595803            4.0  ...              130.0        55.0             1.0
596351            0.0  ...               40.0         8.0            10.0
798264            0.0  ...               36.0         6.0             5.0

        count_entertainment  count_businesses  road_distance_ft  \
678775                  0.0              92.0          1.821520
546969                  0.0              11.0          0.531990
745059                  8.0             108.0          0.665584
619212                  0.0              39.0          0.388796
612667                  2.0              70.0          0.539635
...                     ...               ...               ...
581326                  0.0              55.0          0.988734
588020                  0.0             126.0          0.836459
595803                 15.0             669.0          0.161066
596351                  0.0             155.0          1.627776
798264                  0.0             110.0          0.574488

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
678775      14541.672233        0.023072          0.027551           0.0
546969       4125.689705        0.024648          0.004527           0.0
745059      10335.656619        0.018172          0.016124           0.0
619212       5637.559333        0.011615          0.020788           0.0
612667       4596.896631        0.008241          0.014369           0.0
...                  ...             ...               ...           ...
581326      14302.375154        0.028620          0.011085           0.0
588020      15413.588923        0.019887          0.020102           0.0
595803       1195.459578        0.022807          0.014610           0.0
596351      18875.580749        0.007211          0.051043           0.0
798264       8351.790851        0.012854          0.020856           0.0

[288 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
277469      277469  1922  2016      1   Third  0.05   0.9    25    13
487571      487571   722  2016     10  Second  0.93   0.0    51    46
430400      430400   213  2016      8  Second  0.00   0.0    85    69
274746      274746   824  2016      1   First  0.00   0.0    32    14
323311      323311   533  2016      3  Second  0.00   0.0    53    39
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
416028      416028   823  2016      7   Third  0.00   0.0    90    71
318630      318630   613  2016      3   Third  0.00   0.0    50    32
492625      492625  1411  2016     11   Third  0.00   0.0    77    62
498176      498176  1232  2016     11  Second  0.00   0.0    58    43
318730      318730  1114  2016      3   Third  0.00   0.0    50    32

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
277469            2.0  ...              108.0        55.0            15.0
487571            0.0  ...                6.0         0.0             0.0
430400            1.0  ...                7.0         4.0             2.0
274746            0.0  ...               49.0         3.0             7.0
323311            0.0  ...                4.0         0.0             1.0
...               ...  ...                ...         ...             ...
416028            0.0  ...               68.0         6.0             6.0
318630            0.0  ...               18.0         3.0             4.0
492625            0.0  ...               73.0        37.0             5.0
498176            1.0  ...               94.0        38.0            10.0
318730            0.0  ...                5.0         0.0             1.0

        count_entertainment  count_businesses  road_distance_ft  \
277469                  5.0             290.0          0.883093
487571                  0.0              11.0          0.531990
430400                  2.0              31.0          0.647690
274746                  0.0             126.0          0.836459
323311                  0.0              10.0          0.696166
...                     ...               ...               ...
416028                  0.0             135.0          0.977021
318630                  0.0              40.0          0.605173
492625                  4.0             123.0          0.806729
498176                  8.0             219.0          0.833498
318730                  0.0              23.0          0.237520

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
277469      16847.431187        0.020095          0.017856           0.0
487571       4125.689705        0.024648          0.004527           0.0
430400       4923.794671        0.007787          0.022774           0.0
274746      15413.588923        0.019887          0.020102           0.0
323311       6481.643563        0.040540          0.047040           1.0
...                  ...             ...               ...           ...
416028      22290.925452        0.001047          0.018951           0.0
318630       8391.226891        0.012467          0.041256           0.0
492625      12938.223478        0.012440          0.028284           0.0
498176      13529.039892        0.010052          0.019678           0.0
318730       2377.586803        0.027670          0.011927           1.0

[262 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
132500      132500   924  2015      7   First  0.40   0.0    74    59
168209      168209  2521  2015      8  Second  0.00   0.0    84    60
256874      256874  2222  2015     12   Third  0.00   0.0    32    17
257645      257645  1633  2015     12   First  0.84   0.0    54    43
152174      152174   414  2015      8  Second  0.00   0.0    89    66
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
168699      168699   833  2015      8   Third  0.00   0.0    84    60
152702      152702   421  2015      8   Third  0.00   0.0    89    66
40811        40811  1512  2015      3  Second  0.00   0.0    28     6
211357      211357   412  2015     10  Second  0.00   0.0    56    42
200360      200360  2233  2015     10   Third  0.00   0.0    60    53

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
132500            0.0  ...               62.0         9.0             1.0
168209            0.0  ...               69.0         7.0             3.0
256874            0.0  ...               19.0         1.0             5.0
257645            0.0  ...               64.0        18.0             9.0
152174            0.0  ...               24.0         1.0             6.0
...               ...  ...                ...         ...             ...
168699            0.0  ...               64.0         6.0             5.0
152702            0.0  ...                7.0         1.0             3.0
40811             2.0  ...                5.0         0.0             5.0
211357            0.0  ...               50.0         1.0            12.0
200360            0.0  ...               16.0         0.0             8.0

        count_entertainment  count_businesses  road_distance_ft  \
132500                  2.0             729.0          1.130868
168209                  4.0             215.0          0.915899
256874                  0.0              37.0          0.616238
257645                  2.0             174.0          1.051864
152174                  1.0              81.0          0.962700
...                     ...               ...               ...
168699                  2.0             174.0          1.287641
152702                  0.0              37.0          0.499217
40811                   0.0              20.0          0.351806
211357                  1.0             143.0          1.194758
200360                  0.0              36.0          0.795703

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
132500       8579.132341        0.031390          0.048508           0.0
168209      19733.417542        0.022036          0.020799           1.0
256874       8697.312175        0.024752          0.046998           1.0
257645      20708.358721        0.029355          0.006257           0.0
152174      11696.404888        0.034587          0.006471           0.0
...                  ...             ...               ...           ...
168699      20560.614401        0.023650          0.034665           0.0
152702      10253.749063        0.050269          0.015925           0.0
40811        5694.263624        0.006821          0.015815           0.0
211357      10123.086459        0.034260          0.017540           0.0
200360       7605.209075        0.030469          0.014037           1.0

[252 rows x 22 columns]
Finished splitting...
Working on: [2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...

Finished standardizing...
Working on: [2015]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

In [116]:
#Get Final data: 
data = pd.read_csv("../intermediate_data/high_crime_labeled.csv")
data = data.drop(columns=["beat", "beat_num", "Crimes", "Arrest"])

data = convert_to_categorical(data, ["district", "sector",
                                    "Month",
                                     "Watch", "Beat"])
data.drop(columns = ["Unnamed: 0"], inplace=True)
data_list_20 = prep_data_test(data, "high_crime",
                                        2, "Year", ["district", "sector", 
                                                    "Month", "Beat", "Watch"])

      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
29557       17      1  2018     1   First  1713      1.0         2  33.201426
29558       17      1  2018     1  Second  1713      8.0         4  33.201426
29559       17      1  2018     1   Third  1713     11.0         4  33.201426
29560       17      1  2018     2   Third  1713      5.0         3  39.791635
29561       17      1  2018     2   First  1713      6.0         2  39.791635
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
49256        3      1  2019    11  Second   312     13.0        11  43.761013
49257        3      1  2019    11   Third   312     13.0         8  43.761013
49258        3      1  2019    12  Second   312     20.0         8  42.647269
49259        3      1  2019    12   First   312      7.0         8  42.647269
49260        3      1  2019    12   Third   312     13.0         4  42.647269

            TMIN  ...  count_restaurants  count_bars count_daycares  \
29557  18.884223  ...               63.0         9.0            6.0
29558  18.884223  ...               63.0         9.0            6.0
29559  18.884223  ...               63.0         9.0            6.0
29560  22.439919  ...               63.0         9.0            6.0
29561  22.439919  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
49256  29.648049  ...               14.0         1.0            3.0
49257  29.648049  ...               14.0         1.0            3.0
49258  27.854899  ...               14.0         1.0            3.0
49259  27.854899  ...               14.0         1.0            3.0
49260  27.854899  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
29557      13283.675264     5454.068890       3258.006066             0.231076
29558      13283.675264     5454.068890       3258.006066             0.231076
29559      13283.675264     5454.068890       3258.006066             0.231076
29560      13283.675264     5454.068890       3258.006066             0.231076
29561      13283.675264     5454.068890       3258.006066             0.231076
...                 ...             ...               ...                  ...
49256       4144.689546     4843.037238       4374.482421             0.174216
49257       4144.689546     4843.037238       4374.482421             0.174216
49258       4144.689546     4843.037238       4374.482421             0.170732
49259       4144.689546     4843.037238       4374.482421             0.174216
49260       4144.689546     4843.037238       4374.482421             0.174216

[19704 rows x 26 columns]
      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
19712       17      1  2017     1   First  1713      6.0         5  36.668219
19713       17      1  2017     1   Third  1713     16.0         4  36.668219
19714       17      1  2017     1  Second  1713     13.0         2  36.668219
19715       17      1  2017     2  Second  1713      7.0         2  48.828937
19716       17      1  2017     2   Third  1713      9.0         3  48.828937
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
39402        3      1  2018    11   Third   312     15.0         7  40.859811
39403        3      1  2018    11   First   312      7.0         4  40.859811
39404        3      1  2018    12   First   312      7.0         4  40.587445
39405        3      1  2018    12  Second   312     20.0        12  40.587445
39406        3      1  2018    12   Third   312     14.0         7  40.587445

            TMIN  ...  count_restaurants  count_bars count_daycares  \
19712  25.445660  ...               63.0         9.0            6.0
19713  25.445660  ...               63.0         9.0            6.0
19714  25.445660  ...               63.0         9.0            6.0
19715  30.957247  ...               63.0         9.0            6.0
19716  30.957247  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
39402  30.481732  ...               14.0         1.0            3.0
39403  30.481732  ...               14.0         1.0            3.0
39404  27.929352  ...               14.0         1.0            3.0
39405  27.929352  ...               14.0         1.0            3.0
39406  27.929352  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
19712      13283.675264     5454.068890       3258.006066             0.243028
19713      13283.675264     5454.068890       3258.006066             0.243028
19714      13283.675264     5454.068890       3258.006066             0.243028
19715      13283.675264     5454.068890       3258.006066             0.243028
19716      13283.675264     5454.068890       3258.006066             0.243028
...                 ...             ...               ...                  ...
39402       4144.689546     4843.037238       4374.482421             0.104530
39403       4144.689546     4843.037238       4374.482421             0.104530
39404       4144.689546     4843.037238       4374.482421             0.104530
39405       4144.689546     4843.037238       4374.482421             0.101045
39406       4144.689546     4843.037238       4374.482421             0.104530

[19695 rows x 26 columns]
      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
9861        17      1  2016     1  Second  1713     10.0         3  34.634797
9862        17      1  2016     1   Third  1713     11.0         4  34.634797
9863        17      1  2016     1   First  1713      2.0         4  34.634797
9864        17      1  2016     2   First  1713      5.0         0  39.873946
9865        17      1  2016     2  Second  1713     14.0         2  39.873946
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
29552        3      1  2017    11  Second   312     21.0        10  48.004051
29553        3      1  2017    11   Third   312     15.0         8  48.004051
29554        3      1  2017    12  Second   312      7.0         7  36.924981
29555        3      1  2017    12   Third   312     16.0        14  36.924981
29556        3      1  2017    12   First   312     11.0        11  36.924981

            TMIN  ...  count_restaurants  count_bars count_daycares  \
9861   21.333060  ...               63.0         9.0            6.0
9862   21.333060  ...               63.0         9.0            6.0
9863   21.333060  ...               63.0         9.0            6.0
9864   26.515109  ...               63.0         9.0            6.0
9865   26.515109  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
29552  33.954321  ...               14.0         1.0            3.0
29553  33.954321  ...               14.0         1.0            3.0
29554  23.299649  ...               14.0         1.0            3.0
29555  23.299649  ...               14.0         1.0            3.0
29556  23.299649  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
9861       13283.675264     5454.068890       3258.006066             0.167331
9862       13283.675264     5454.068890       3258.006066             0.167331
9863       13283.675264     5454.068890       3258.006066             0.167331
9864       13283.675264     5454.068890       3258.006066             0.167331
9865       13283.675264     5454.068890       3258.006066             0.167331
...                 ...             ...               ...                  ...
29552       4144.689546     4843.037238       4374.482421             0.135889
29553       4144.689546     4843.037238       4374.482421             0.139373
29554       4144.689546     4843.037238       4374.482421             0.139373
29555       4144.689546     4843.037238       4374.482421             0.139373
29556       4144.689546     4843.037238       4374.482421             0.139373

[19696 rows x 26 columns]
      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
0           17      1  2015     1   Third  1713     10.0         1  32.469987
1           17      1  2015     1  Second  1713     13.0         4  32.469987
2           17      1  2015     1   First  1713      5.0         3  32.469987
3           17      1  2015     2  Second  1713      7.0         1  26.455588
4           17      1  2015     2   Third  1713      5.0         3  26.455588
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
19707        3      1  2016    11   First   312      7.0         4  56.907539
19708        3      1  2016    11  Second   312     20.0         8  56.907539
19709        3      1  2016    12   First   312      8.0         4  33.189478
19710        3      1  2016    12  Second   312     20.0         8  33.189478
19711        3      1  2016    12   Third   312     21.0         4  33.189478

            TMIN  ...  count_restaurants  count_bars count_daycares  \
0      20.138549  ...               63.0         9.0            6.0
1      20.138549  ...               63.0         9.0            6.0
2      20.138549  ...               63.0         9.0            6.0
3      10.647633  ...               63.0         9.0            6.0
4      10.647633  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
19707  41.575555  ...               14.0         1.0            3.0
19708  41.575555  ...               14.0         1.0            3.0
19709  22.018894  ...               14.0         1.0            3.0
19710  22.018894  ...               14.0         1.0            3.0
19711  22.018894  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
0          13283.675264     5454.068890       3258.006066             0.155378
1          13283.675264     5454.068890       3258.006066             0.155378
2          13283.675264     5454.068890       3258.006066             0.155378
3          13283.675264     5454.068890       3258.006066             0.155378
4          13283.675264     5454.068890       3258.006066             0.155378
...                 ...             ...               ...                  ...
19707       4144.689546     4843.037238       4374.482421             0.156794
19708       4144.689546     4843.037238       4374.482421             0.156794
19709       4144.689546     4843.037238       4374.482421             0.156794
19710       4144.689546     4843.037238       4374.482421             0.153310
19711       4144.689546     4843.037238       4374.482421             0.153310

[19712 rows x 26 columns]
Finished splitting...
Working on: [2018 2019]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...

Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

In [117]:
data_list_20[0][0]

,Year,Serious,Domestic,TMAX,TMIN,PRCP,SNOW,high_crime,count_l_stops,count_bus_stops,...,Beat_2524,Beat_2525,Beat_2531,Beat_2532,Beat_2533,Beat_2534,Beat_2535,Watch_First,Watch_Second,Watch_Third
29557,2018,-1.254018,-0.644941,-1.376112,-1.389057,-1.299674,0.231712,0.0,3.214337,-0.589002,...,0,0,0,0,0,0,0,1,0,0
29558,2018,-0.620498,-0.112728,-1.376112,-1.389057,-1.299674,0.231712,0.0,3.214337,-0.589002,...,0,0,0,0,0,0,0,0,1,0
29559,2018,-0.348990,-0.112728,-1.376112,-1.389057,-1.299674,0.231712,0.0,3.214337,-0.589002,...,0,0,0,0,0,0,0,0,0,1
29560,2018,-0.892007,-0.378835,-1.034854,-1.191190,0.608665,3.009861,0.0,3.214337,-0.589002,...,0,0,0,0,0,0,0,0,0,1
29561,2018,-0.801504,-0.644941,-1.034854,-1.191190,0.608665,3.009861,0.0,3.214337,-0.589002,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49256,2019,-0.167984,1.750018,-0.829309,-0.790072,-1.045229,-0.115556,0.0,1.952276,-0.250446,...,0,0,0,0,0,0,0,0,1,0
49257,2019,-0.167984,0.951698,-0.829309,-0.790072,-1.045229,-0.115556,0.0,1.952276,-0.250446,...,0,0,0,0,0,0,0,0,0,1
49258,2019,0.465536,0.951698,-0.886981,-0.889857,-1.225095,-0.297459,1.0,1.952276,-0.250446,...,0,0,0,0,0,0,0,0,1,0
49259,2019,-0.711001,0.951698,-0.886981,-0.889857,-1.225095,-0.297459,0.0,1.952276,-0.250446,...,0,0,0,0,0,0,0,1,0,0
49260,2019,-0.167984,-0.112728,-0.886981,-0.889857,-1.225095,-0.297459,0.0,1.952276,-0.250446,...,0,0,0,0,0,0,0,0,0,1

In [118]:
def compute_scores_final_data(grid, model, model_name, data_list, target, target_year):
    '''
    Function that computes dataframe for results of best models
    Inputs:
        grid (dict): maps the model_name to a list which contains a dictionary mapping parameter (keys) to their 
                     values in the gest model
        model (sklearn): An sklearn algorithm
        model_name: a string assigned to the model, typically the same as model without the last parentheses
        data_list: list of tuples of dataframes. IN THIS CASE, this should include for 2020
        target (string): the column we seek to predict in the data frames
        target_year (int): 2020, the year we seek to predict
    Output:
        results (df): a dataframe with the results
    
    Note: the code that removes the params columns comes from here: https://stackoverflow.com/questions/19071199/drop-columns-whose-name-contains-a-specific-string-from-pandas-dataframe
    '''
    results, model, X_test_20 = results_by_year(model, 
                                    model_name, grid, 
                                    data_list, 
                                    target, 
                                    target_year)
    results["model_type"]= model_name
    results["params"]=results["parameters_2020"]
    
    bool_array = results.columns.str.startswith("parameters")
    results2 = results.loc[:,~bool_array]
    return results2, model, X_test_20

## Logistic Regression

In [119]:
#Logistic Regression!
grid_log_reg ={"LogisticRegression": [{'penalty': 'l2',
                              'C': 0.001,
                              'random_state': 0}]}

In [120]:
results_log, model, X_test = compute_scores_final_data(grid_log_reg, LogisticRegression(),
                                    "LogisticRegression", data_list_20, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]
precision is: (0.990185387131952,) |recall is: (0.37598343685300206,)
precision is: (0.987597911227154,) |recall is: (0.6011124354390147,)
precision is: (0.9846968805179518,) |recall is: (0.6765062676910635,)
precision is: (0.9649581589958159,) |recall is: (0.7564575645756457,)

In [149]:
results_log

,precision_2020,recall_2020,precision_2019,recall_2019,precision_2018,recall_2018,precision_2017,recall_2017,model_type,params
0,0.990185,0.375983,0.987598,0.601112,0.984697,0.676506,0.964958,0.756458,LogisticRegression,"{'penalty': 'l2', 'C': 0.001, 'random_state': 0}"

In [121]:
#Below code to make model coefficient df from Stack Exchange: https://stackoverflow.com/questions/26951880/scikit-learn-linear-regression-how-to-get-coefficients-respective-features
model_coefs = pd.concat([pd.DataFrame(X_test.columns), 
                         pd.DataFrame(np.transpose(model.coef_))], axis = 1)
model_coefs.columns = ["Predictor", "Coefficient"]
model_coefs["Coefficient"]=model_coefs["Coefficient"].abs()
model_coefs.sort_values(by="Coefficient", ascending=False, inplace=True)
model_coefs.head(10)

               Predictor  Coefficient
1                Serious     1.552341
332          Watch_First     0.362579
19   high_crime_geog_lag     0.294331
2               Domestic     0.257853
334          Watch_Third     0.182501
333         Watch_Second     0.180108
6                   SNOW     0.099002
8        count_bus_stops     0.098973
4                   TMIN     0.076224
13   count_entertainment     0.071749

## KNN

In [146]:
#KNN!
grid_knn = {"KNeighborsClassifier": [{'weights': 'uniform', 'n_neighbors': 20}]}
results_knn = compute_scores_final_data(grid_knn, KNeighborsClassifier(),
                                    "KNeighborsClassifier", data_list_20, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]
precision is: (0.8411811652035116,) |recall is: (0.43643892339544516,)
precision is: (0.8785399622404028,) |recall is: (0.5546285260230434,)
precision is: (0.896551724137931,) |recall is: (0.5677315002021835,)
precision is: (0.8852459016393442,) |recall is: (0.6199261992619927,)

In [148]:
results_knn[0]

,precision_2020,recall_2020,precision_2019,recall_2019,precision_2018,recall_2018,precision_2017,recall_2017,model_type,params
0,0.841181,0.436439,0.87854,0.554629,0.896552,0.567732,0.885246,0.619926,KNeighborsClassifier,"{'weights': 'uniform', 'n_neighbors': 20}"

## SVM:

In [ ]:
grid_svm = { :[{}]}
results_svm = compute_scores_final_data()

## Naive Bayes:

In [ ]:
grid_nb = { :[{}]}
results_nb = compute_scores_final_data()

## Decision Tree:

In [ ]:
grid_dt = { :[{}]}
results_dt = compute_scores_final_data()

## Random Forest:

In [ ]:
grid_rf = { :[{}]}
results_rf = compute_scores_final_data()

## Aggregate Files:

In [151]:
results = pd.concat([results_log, results_knn[0]
#                    , results_svm, results_nb, results_dt, results_rf
                    ])
results

,precision_2020,recall_2020,precision_2019,recall_2019,precision_2018,recall_2018,precision_2017,recall_2017,model_type,params
0,0.990185,0.375983,0.987598,0.601112,0.984697,0.676506,0.964958,0.756458,LogisticRegression,"{'penalty': 'l2', 'C': 0.001, 'random_state': 0}"
0,0.841181,0.436439,0.878540,0.554629,0.896552,0.567732,0.885246,0.619926,KNeighborsClassifier,"{'weights': 'uniform', 'n_neighbors': 20}"