### Get Packages

In [159]:
import pandas as pd
import geopandas as gpd
import seaborn as sns
import numpy as np
import sklearn as sk
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import precision_score
import datetime

%run ml_helpers.ipynb
%run ml.ipynb

       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
29557         108     1      1713        17       1  2018     1   First  1713
29558         109     1      1713        17       1  2018     1  Second  1713
29559         110     1      1713        17       1  2018     1   Third  1713
29560         111     1      1713        17       1  2018     2   Third  1713
29561         112     1      1713        17       1  2018     2   First  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
49256       59052     1       312         3       1  2019    11  Second   312
49257       59053     1       312         3       1  2019    11   Third   312
49258       59054     1       312         3       1  2019    12  Second   312
49259       59055     1       312         3       1  2019    12   First   312
49260       59056     1       312         3       1  2019    12   Third   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
29557       8  ...               63.0         9.0             6.0
29558      16  ...               63.0         9.0             6.0
29559      24  ...               63.0         9.0             6.0
29560      16  ...               63.0         9.0             6.0
29561       8  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
49256      43  ...               14.0         1.0             3.0
49257      28  ...               14.0         1.0             3.0
49258      33  ...               14.0         1.0             3.0
49259      19  ...               14.0         1.0             3.0
49260      31  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
29557      13283.675264    5454.068890       3258.006066             0.231076
29558      13283.675264    5454.068890       3258.006066             0.231076
29559      13283.675264    5454.068890       3258.006066             0.231076
29560      13283.675264    5454.068890       3258.006066             0.231076
29561      13283.675264    5454.068890       3258.006066             0.231076
...                 ...            ...               ...                  ...
49256       4144.689546    4843.037238       4374.482421             0.174216
49257       4144.689546    4843.037238       4374.482421             0.174216
49258       4144.689546    4843.037238       4374.482421             0.170732
49259       4144.689546    4843.037238       4374.482421             0.174216
49260       4144.689546    4843.037238       4374.482421             0.174216

[19704 rows x 31 columns]
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
19712          72     1      1713        17       1  2017     1   First  1713
19713          73     1      1713        17       1  2017     1   Third  1713
19714          74     1      1713        17       1  2017     1  Second  1713
19715          75     1      1713        17       1  2017     2  Second  1713
19716          76     1      1713        17       1  2017     2   Third  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
39402       59016     1       312         3       1  2018    11   Third   312
39403       59017     1       312         3       1  2018    11   First   312
39404       59018     1       312         3       1  2018    12   First   312
39405       59019     1       312         3       1  2018    12  Second   312
39406       59020     1       312         3       1  2018    12   Third   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
19712      17  ...               63.0         9.0             6.0
19713      23  ...               63.0         9.0             6.0
19714      17  ...               63.0         9.0             6.0
19715      10  ...               63.0         9.0             6.0
19716      19  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
39402      33  ...               14.0         1.0             3.0
39403      12  ...               14.0         1.0             3.0
39404      15  ...               14.0         1.0             3.0
39405      36  ...               14.0         1.0             3.0
39406      34  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
19712      13283.675264    5454.068890       3258.006066             0.243028
19713      13283.675264    5454.068890       3258.006066             0.243028
19714      13283.675264    5454.068890       3258.006066             0.243028
19715      13283.675264    5454.068890       3258.006066             0.243028
19716      13283.675264    5454.068890       3258.006066             0.243028
...                 ...            ...               ...                  ...
39402       4144.689546    4843.037238       4374.482421             0.104530
39403       4144.689546    4843.037238       4374.482421             0.104530
39404       4144.689546    4843.037238       4374.482421             0.104530
39405       4144.689546    4843.037238       4374.482421             0.101045
39406       4144.689546    4843.037238       4374.482421             0.104530

[19695 rows x 31 columns]
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
9861           36     1      1713        17       1  2016     1  Second  1713
9862           37     1      1713        17       1  2016     1   Third  1713
9863           38     1      1713        17       1  2016     1   First  1713
9864           39     1      1713        17       1  2016     2   First  1713
9865           40     1      1713        17       1  2016     2  Second  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
29552       58980     1       312         3       1  2017    11  Second   312
29553       58981     1       312         3       1  2017    11   Third   312
29554       58982     1       312         3       1  2017    12  Second   312
29555       58983     1       312         3       1  2017    12   Third   312
29556       58984     1       312         3       1  2017    12   First   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
9861       20  ...               63.0         9.0             6.0
9862       18  ...               63.0         9.0             6.0
9863        8  ...               63.0         9.0             6.0
9864        9  ...               63.0         9.0             6.0
9865       21  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
29552      45  ...               14.0         1.0             3.0
29553      35  ...               14.0         1.0             3.0
29554      29  ...               14.0         1.0             3.0
29555      42  ...               14.0         1.0             3.0
29556      22  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
9861       13283.675264    5454.068890       3258.006066             0.167331
9862       13283.675264    5454.068890       3258.006066             0.167331
9863       13283.675264    5454.068890       3258.006066             0.167331
9864       13283.675264    5454.068890       3258.006066             0.167331
9865       13283.675264    5454.068890       3258.006066             0.167331
...                 ...            ...               ...                  ...
29552       4144.689546    4843.037238       4374.482421             0.135889
29553       4144.689546    4843.037238       4374.482421             0.139373
29554       4144.689546    4843.037238       4374.482421             0.139373
29555       4144.689546    4843.037238       4374.482421             0.139373
29556       4144.689546    4843.037238       4374.482421             0.139373

[19696 rows x 31 columns]
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
0               0     1      1713        17       1  2015     1   Third  1713
1               1     1      1713        17       1  2015     1  Second  1713
2               2     1      1713        17       1  2015     1   First  1713
3               3     1      1713        17       1  2015     2  Second  1713
4               4     1      1713        17       1  2015     2   Third  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
19707       58944     1       312         3       1  2016    11   First   312
19708       58945     1       312         3       1  2016    11  Second   312
19709       58946     1       312         3       1  2016    12   First   312
19710       58947     1       312         3       1  2016    12  Second   312
19711       58948     1       312         3       1  2016    12   Third   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
0          16  ...               63.0         9.0             6.0
1          20  ...               63.0         9.0             6.0
2          14  ...               63.0         9.0             6.0
3          12  ...               63.0         9.0             6.0
4          12  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
19707      11  ...               14.0         1.0             3.0
19708      40  ...               14.0         1.0             3.0
19709      17  ...               14.0         1.0             3.0
19710      39  ...               14.0         1.0             3.0
19711      42  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
0          13283.675264    5454.068890       3258.006066             0.155378
1          13283.675264    5454.068890       3258.006066             0.155378
2          13283.675264    5454.068890       3258.006066             0.155378
3          13283.675264    5454.068890       3258.006066             0.155378
4          13283.675264    5454.068890       3258.006066             0.155378
...                 ...            ...               ...                  ...
19707       4144.689546    4843.037238       4374.482421             0.156794
19708       4144.689546    4843.037238       4374.482421             0.156794
19709       4144.689546    4843.037238       4374.482421             0.156794
19710       4144.689546    4843.037238       4374.482421             0.153310
19711       4144.689546    4843.037238       4374.482421             0.153310

[19712 rows x 31 columns]
Finished splitting...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...

Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.852368
1    0.852368
2    0.852368
3    0.852368
4    0.852368
Name: principal component 1, dtype: float64
(19695, 2) (19695, 328)
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.85269
1    0.85269
2    0.85269
3    0.85269
4    0.85269
Name: principal component 1, dtype: float64
(19696, 2) (19696, 328)
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.856576
1    0.856576
2    0.856576
3    0.856576
4    0.856576
Name: principal component 1, dtype: float64
(19712, 2) (19712, 328)
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
29557         108     1      1713        17       1  2018     1   First  1713
29558         109     1      1713        17       1  2018     1  Second  1713
29559         110     1      1713        17       1  2018     1   Third  1713
29560         111     1      1713        17       1  2018     2   Third  1713
29561         112     1      1713        17       1  2018     2   First  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
49256       59052     1       312         3       1  2019    11  Second   312
49257       59053     1       312         3       1  2019    11   Third   312
49258       59054     1       312         3       1  2019    12  Second   312
49259       59055     1       312         3       1  2019    12   First   312
49260       59056     1       312         3       1  2019    12   Third   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
29557       8  ...               63.0         9.0             6.0
29558      16  ...               63.0         9.0             6.0
29559      24  ...               63.0         9.0             6.0
29560      16  ...               63.0         9.0             6.0
29561       8  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
49256      43  ...               14.0         1.0             3.0
49257      28  ...               14.0         1.0             3.0
49258      33  ...               14.0         1.0             3.0
49259      19  ...               14.0         1.0             3.0
49260      31  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
29557      13283.675264    5454.068890       3258.006066             0.231076
29558      13283.675264    5454.068890       3258.006066             0.231076
29559      13283.675264    5454.068890       3258.006066             0.231076
29560      13283.675264    5454.068890       3258.006066             0.231076
29561      13283.675264    5454.068890       3258.006066             0.231076
...                 ...            ...               ...                  ...
49256       4144.689546    4843.037238       4374.482421             0.174216
49257       4144.689546    4843.037238       4374.482421             0.174216
49258       4144.689546    4843.037238       4374.482421             0.170732
49259       4144.689546    4843.037238       4374.482421             0.174216
49260       4144.689546    4843.037238       4374.482421             0.174216

[19704 rows x 31 columns]
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
19712          72     1      1713        17       1  2017     1   First  1713
19713          73     1      1713        17       1  2017     1   Third  1713
19714          74     1      1713        17       1  2017     1  Second  1713
19715          75     1      1713        17       1  2017     2  Second  1713
19716          76     1      1713        17       1  2017     2   Third  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
39402       59016     1       312         3       1  2018    11   Third   312
39403       59017     1       312         3       1  2018    11   First   312
39404       59018     1       312         3       1  2018    12   First   312
39405       59019     1       312         3       1  2018    12  Second   312
39406       59020     1       312         3       1  2018    12   Third   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
19712      17  ...               63.0         9.0             6.0
19713      23  ...               63.0         9.0             6.0
19714      17  ...               63.0         9.0             6.0
19715      10  ...               63.0         9.0             6.0
19716      19  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
39402      33  ...               14.0         1.0             3.0
39403      12  ...               14.0         1.0             3.0
39404      15  ...               14.0         1.0             3.0
39405      36  ...               14.0         1.0             3.0
39406      34  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
19712      13283.675264    5454.068890       3258.006066             0.243028
19713      13283.675264    5454.068890       3258.006066             0.243028
19714      13283.675264    5454.068890       3258.006066             0.243028
19715      13283.675264    5454.068890       3258.006066             0.243028
19716      13283.675264    5454.068890       3258.006066             0.243028
...                 ...            ...               ...                  ...
39402       4144.689546    4843.037238       4374.482421             0.104530
39403       4144.689546    4843.037238       4374.482421             0.104530
39404       4144.689546    4843.037238       4374.482421             0.104530
39405       4144.689546    4843.037238       4374.482421             0.101045
39406       4144.689546    4843.037238       4374.482421             0.104530

[19695 rows x 31 columns]
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
9861           36     1      1713        17       1  2016     1  Second  1713
9862           37     1      1713        17       1  2016     1   Third  1713
9863           38     1      1713        17       1  2016     1   First  1713
9864           39     1      1713        17       1  2016     2   First  1713
9865           40     1      1713        17       1  2016     2  Second  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
29552       58980     1       312         3       1  2017    11  Second   312
29553       58981     1       312         3       1  2017    11   Third   312
29554       58982     1       312         3       1  2017    12  Second   312
29555       58983     1       312         3       1  2017    12   Third   312
29556       58984     1       312         3       1  2017    12   First   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
9861       20  ...               63.0         9.0             6.0
9862       18  ...               63.0         9.0             6.0
9863        8  ...               63.0         9.0             6.0
9864        9  ...               63.0         9.0             6.0
9865       21  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
29552      45  ...               14.0         1.0             3.0
29553      35  ...               14.0         1.0             3.0
29554      29  ...               14.0         1.0             3.0
29555      42  ...               14.0         1.0             3.0
29556      22  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
9861       13283.675264    5454.068890       3258.006066             0.167331
9862       13283.675264    5454.068890       3258.006066             0.167331
9863       13283.675264    5454.068890       3258.006066             0.167331
9864       13283.675264    5454.068890       3258.006066             0.167331
9865       13283.675264    5454.068890       3258.006066             0.167331
...                 ...            ...               ...                  ...
29552       4144.689546    4843.037238       4374.482421             0.135889
29553       4144.689546    4843.037238       4374.482421             0.139373
29554       4144.689546    4843.037238       4374.482421             0.139373
29555       4144.689546    4843.037238       4374.482421             0.139373
29556       4144.689546    4843.037238       4374.482421             0.139373

[19696 rows x 31 columns]
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
0               0     1      1713        17       1  2015     1   Third  1713
1               1     1      1713        17       1  2015     1  Second  1713
2               2     1      1713        17       1  2015     1   First  1713
3               3     1      1713        17       1  2015     2  Second  1713
4               4     1      1713        17       1  2015     2   Third  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
19707       58944     1       312         3       1  2016    11   First   312
19708       58945     1       312         3       1  2016    11  Second   312
19709       58946     1       312         3       1  2016    12   First   312
19710       58947     1       312         3       1  2016    12  Second   312
19711       58948     1       312         3       1  2016    12   Third   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
0          16  ...               63.0         9.0             6.0
1          20  ...               63.0         9.0             6.0
2          14  ...               63.0         9.0             6.0
3          12  ...               63.0         9.0             6.0
4          12  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
19707      11  ...               14.0         1.0             3.0
19708      40  ...               14.0         1.0             3.0
19709      17  ...               14.0         1.0             3.0
19710      39  ...               14.0         1.0             3.0
19711      42  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
0          13283.675264    5454.068890       3258.006066             0.155378
1          13283.675264    5454.068890       3258.006066             0.155378
2          13283.675264    5454.068890       3258.006066             0.155378
3          13283.675264    5454.068890       3258.006066             0.155378
4          13283.675264    5454.068890       3258.006066             0.155378
...                 ...            ...               ...                  ...
19707       4144.689546    4843.037238       4374.482421             0.156794
19708       4144.689546    4843.037238       4374.482421             0.156794
19709       4144.689546    4843.037238       4374.482421             0.156794
19710       4144.689546    4843.037238       4374.482421             0.153310
19711       4144.689546    4843.037238       4374.482421             0.153310

[19712 rows x 31 columns]
Finished splitting...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data

Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.852368
1    0.852368
2    0.852368
3    0.852368
4    0.852368
Name: principal component 1, dtype: float64
(19695, 2) (19695, 328)
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.85269
1    0.85269
2    0.85269
3    0.85269
4    0.85269
Name: principal component 1, dtype: float64
(19696, 2) (19696, 328)
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.856576
1    0.856576
2    0.856576
3    0.856576
4    0.856576
Name: principal component 1, dtype: float64
(19712, 2) (19712, 328)
         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
1315900     1315900   332  2019     12   Third  0.00   0.0    39    25
1321350     1321350   214  2019     12   First  0.01   0.2    31    25
1219092     1219092   511  2019      7  Second  0.00   0.0    89    72
1269021     1269021  1511  2019      9  Second  0.00   0.0    87    66
1237252     1237252  1134  2019      8   First  0.04   0.0    85    71
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
1298283     1298283   313  2019     11   Third  0.27   2.9    37    14
1205019     1205019   711  2019      7   Third  0.00   0.0    89    67
1101728     1101728   813  2019      2   First  0.13   2.1    29    25
1137829     1137829  2513  2019      4   Third  0.15   0.0    54    39
1278653     1278653  1523  2019     10   Third  0.00   0.0    56    38

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
1315900            0.0  ...               15.0         2.0             3.0
1321350            0.0  ...               11.0         2.0             2.0
1219092            0.0  ...               30.0         1.0             3.0
1269021            0.0  ...               20.0         0.0             4.0
1237252            1.0  ...               16.0         0.0             1.0
...                ...  ...                ...         ...             ...
1298283            0.0  ...               11.0         0.0             3.0
1205019            1.0  ...               10.0         1.0             0.0
1101728            1.0  ...              138.0        45.0             5.0
1137829            0.0  ...               29.0         4.0             6.0
1278653            0.0  ...               11.0         0.0             0.0

         count_entertainment  count_businesses  road_distance_ft  \
1315900                  1.0              45.0          0.400015
1321350                  2.0              48.0          0.592841
1219092                  0.0              92.0          1.821520
1269021                  1.0              49.0          0.422969
1237252                  0.0              24.0          0.442468
...                      ...               ...               ...
1298283                  0.0              26.0          0.410752
1205019                  1.0              17.0          0.871383
1101728                  1.0             207.0          1.551454
1137829                  0.0              98.0          0.554927
1278653                  0.0              18.0          0.393697

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
1315900       6647.401609        0.022760          0.012327           0.0
1321350       6796.786889        0.020608          0.019376           0.0
1219092      14541.672233        0.023072          0.027551           1.0
1269021       7288.330267        0.016733          0.025322           0.0
1237252       3489.194531        0.001833          0.007326           1.0
...                   ...             ...               ...           ...
1298283       5786.813143        0.016152          0.008552           1.0
1205019       5090.701236        0.016196          0.009681           0.0
1101728      21819.823082        0.033934          0.052171           0.0
1137829       7861.558494        0.026041          0.007677           0.0
1278653       6376.246288        0.010972          0.014966           0.0

[281 rows x 22 columns]
         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
927506       927506   624  2018      6   Third  0.00   0.0    78    64
939021       939021  2534  2018      7  Second  0.00   0.0    91    68
1007992     1007992   321  2018     10   First  0.02   0.0    80    53
850685       850685   432  2018      3   Third  0.00   0.0    49    31
914803       914803  1434  2018      6   Third  0.38   0.0    81    58
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
887449       887449   822  2018      5  Second  0.00   0.0    69    52
920990       920990  1821  2018      6   Third  0.00   0.0    95    78
834472       834472  2534  2018      2   Third  0.83   0.0    60    39
1002054     1002054  1131  2018      9  Second  0.00   0.0    68    51
994051       994051   815  2018      9   Third  0.00   0.0    83    63

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
927506             0.0  ...               36.0         6.0             5.0
939021             0.0  ...               40.0         7.0             9.0
1007992            0.0  ...               21.0         1.0             0.0
850685             0.0  ...               44.0         8.0             4.0
914803             1.0  ...               90.0        41.0            13.0
...                ...  ...                ...         ...             ...
887449             0.0  ...               60.0        12.0             4.0
920990             1.0  ...               90.0        38.0             3.0
834472             0.0  ...               40.0         7.0             9.0
1002054            0.0  ...               14.0         1.0             0.0
994051             1.0  ...               98.0        24.0             3.0

         count_entertainment  count_businesses  road_distance_ft  \
927506                   0.0             110.0          0.574488
939021                   1.0             119.0          0.558825
1007992                  0.0              45.0          0.865410
850685                   0.0             114.0          1.285686
914803                   6.0             202.0          0.622163
...                      ...               ...               ...
887449                   0.0             104.0          0.961339
920990                  12.0             129.0          0.360019
834472                   1.0             119.0          0.558825
1002054                  0.0              30.0          0.451278
994051                   3.0             277.0          1.182081

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
927506        8351.790851        0.012854          0.020856           0.0
939021       14027.159738        0.034701          0.022307           0.0
1007992       8025.144034        0.007697          0.016496           0.0
850685       17822.563137        0.033735          0.035176           0.0
914803       11020.867583        0.016993          0.007159           0.0
...                   ...             ...               ...           ...
887449       22558.324368        0.014122          0.031323           0.0
920990       11322.979399        0.007463          0.020099           0.0
834472       14027.159738        0.034701          0.022307           0.0
1002054       3537.092424        0.031135          0.024774           1.0
994051       16492.893824        0.037567          0.056090           0.0

[270 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
547013      547013   921  2017      1   Third  0.78   0.0    42    32
536290      536290  1022  2017      1   Third  0.02   0.0    42    21
582720      582720   623  2017      3   Third  0.00   0.0    30    18
681581      681581  2411  2017      7   Third  1.35   0.0    89    73
536892      536892  2413  2017      1  Second  0.00   0.0    21    10
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
614482      614482  1711  2017      4  Second  0.27   0.0    77    62
705419      705419  1122  2017      8   First  0.01   0.0    89    67
739060      739060  1532  2017     10  Second  0.08   0.0    79    67
798654      798654  1922  2017     12  Second  0.21   2.7    24    19
565303      565303   911  2017      2   First  0.00   0.0    51    34

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
547013            0.0  ...               47.0         5.0             4.0
536290            1.0  ...               15.0         0.0             1.0
582720            1.0  ...               42.0         3.0             6.0
681581            0.0  ...               60.0        11.0             5.0
536892            0.0  ...              109.0        13.0             9.0
...               ...  ...                ...         ...             ...
614482            0.0  ...               67.0        13.0             9.0
705419            1.0  ...               19.0         0.0             0.0
739060            1.0  ...               14.0         2.0             1.0
798654            2.0  ...              108.0        55.0            15.0
565303            0.0  ...               30.0         4.0             0.0

        count_entertainment  count_businesses  road_distance_ft  \
547013                  3.0             109.0          0.571819
536290                  0.0              41.0          0.602113
582720                  1.0              79.0          0.783098
681581                  1.0             135.0          0.818497
536892                  1.0             226.0          0.939568
...                     ...               ...               ...
614482                  2.0             212.0          1.208690
705419                  1.0              66.0          0.685754
739060                  0.0              24.0          0.516070
798654                  5.0             290.0          0.883093
565303                  1.0              85.0          0.973216

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
547013      14053.802398        0.039860          0.036207           0.0
536290       5064.789654        0.007007          0.005852           0.0
582720       6759.295725        0.019789          0.027108           0.0
681581      23472.617731        0.026993          0.036871           0.0
536892      23395.191940        0.013988          0.019703           0.0
...                  ...             ...               ...           ...
614482      17206.377149        0.023791          0.034215           0.0
705419       5159.409728        0.019547          0.005248           0.0
739060       6459.881345        0.019838          0.020157           0.0
798654      16847.431187        0.020095          0.017856           0.0
565303       9822.809004        0.030209          0.026847           0.0

[286 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
373171      373171  1934  2016      6   Third  0.00   0.0    84    63
330231      330231  1511  2016      4   First  0.05   0.0    43    35
279956      279956  1123  2016      1  Second  0.00   0.0    37    24
358414      358414  2234  2016      5  Second  0.00   0.0    71    47
324084      324084   834  2016      3  Second  0.00   0.0    60    35
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
474667      474667  2531  2016     10  Second  0.00   0.0    63    50
476939      476939  1811  2016     10   Third  0.45   0.0    68    47
451331      451331  1013  2016      9  Second  0.06   0.0    81    69
522505      522505   113  2016     12  Second  0.00   0.0    21     4
464596      464596  1813  2016      9   First  0.03   0.0    72    57

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
373171            0.0  ...              138.0        59.0             7.0
330231            0.0  ...               20.0         0.0             4.0
279956            1.0  ...               11.0         1.0             3.0
358414            0.0  ...               25.0         4.0             2.0
324084            0.0  ...               58.0        13.0             8.0
...               ...  ...                ...         ...             ...
474667            0.0  ...               24.0         1.0             4.0
476939            0.0  ...               90.0        45.0             7.0
451331            0.0  ...               38.0         5.0             5.0
522505            4.0  ...               91.0        23.0             1.0
464596            0.0  ...               53.0        31.0             4.0

        count_entertainment  count_businesses  road_distance_ft  \
373171                 12.0             190.0          0.440060
330231                  1.0              49.0          0.422969
279956                  0.0              19.0          0.534829
358414                  2.0              51.0          0.903273
324084                  2.0             160.0          1.228132
...                     ...               ...               ...
474667                  0.0              60.0          0.446396
476939                  3.0             214.0          0.759616
451331                  2.0             121.0          0.616119
522505                  8.0             212.0          0.150686
464596                  6.0             106.0          0.439919

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
373171      18539.749953        0.015415          0.004236           0.0
330231       7288.330267        0.016733          0.025322           0.0
279956       4891.262743        0.012715          0.007027           1.0
358414       7798.227539        0.013132          0.031111           1.0
324084      23979.728417        0.038494          0.040016           1.0
...                  ...             ...               ...           ...
474667       7586.424461        0.010847          0.025368           0.0
476939       9097.492384        0.023817          0.014224           0.0
451331      10553.296873        0.020585          0.029866           0.0
522505       1746.267459        0.019029          0.018079           0.0
464596       8757.892119        0.011695          0.010568           0.0

[257 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
133743      133743   533  2015      7   Third  0.02   0.0    68    59
68868        68868  1831  2015      4   Third  0.00   0.0    67    46
19176        19176  1913  2015      1  Second  0.00   0.0    39    31
119916      119916  1113  2015      6   Third  0.37   0.0    82    57
11827        11827   132  2015      1   First  0.00   0.0    43    27
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
95377        95377  1113  2015      5   Third  0.00   0.0    54    44
264063      264063   532  2015     12  Second  0.00   0.0    29    24
202231      202231  1233  2015     10   First  0.00   0.0    60    51
70230        70230   412  2015      4  Second  0.42   0.0    64    47
85681        85681   111  2015      5  Second  0.00   0.0    87    57

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
133743            0.0  ...                4.0         0.0             1.0
68868             1.0  ...              220.0       168.0             6.0
19176             1.0  ...               40.0        10.0             4.0
119916            1.0  ...               12.0         1.0             2.0
11827             0.0  ...               51.0        45.0             5.0
...               ...  ...                ...         ...             ...
95377             1.0  ...               12.0         1.0             2.0
264063            0.0  ...               14.0         0.0             1.0
202231            0.0  ...               61.0        13.0             5.0
70230             0.0  ...               50.0         1.0            12.0
85681             3.0  ...              127.0        73.0             0.0

        count_entertainment  count_businesses  road_distance_ft  \
133743                  0.0              10.0          0.696166
68868                  60.0             750.0          0.633247
19176                   3.0              84.0          0.303271
119916                  1.0              44.0          0.465835
11827                  12.0             144.0          0.861995
...                     ...               ...               ...
95377                   1.0              44.0          0.465835
264063                  1.0              34.0          1.042029
202231                  2.0             125.0          0.969649
70230                   1.0             143.0          1.194758
85681                  20.0             278.0          0.247834

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
133743       6481.643563        0.040540          0.047040           0.0
68868        9746.448124        0.013669          0.014807           1.0
19176        7773.099032        0.020637          0.010780           0.0
119916       4161.746005        0.028441          0.021861           0.0
11827       10875.719218        0.011881          0.012282           0.0
...                  ...             ...               ...           ...
95377        4161.746005        0.028441          0.021861           1.0
264063       5578.598700        0.021799          0.025951           0.0
202231       6373.273003        0.013074          0.007271           0.0
70230       10123.086459        0.034260          0.017540           1.0
85681        1830.562201        0.023780          0.010850           0.0

[220 rows x 22 columns]
Finished splitting...
Working on: [2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...

Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

In [160]:
#Get Final data: 
data = pd.read_csv("../intermediate_data/high_crime_labeled.csv")
data = data.drop(columns=["beat", "beat_num", "Crimes", "Arrest"])

data = convert_to_categorical(data, ["district", "sector",
                                    "Month",
                                     "Watch", "Beat"])
data.drop(columns = ["Unnamed: 0"], inplace=True)
data_list_20 = prep_data_test(data, "high_crime",
                                        2, "Year", ["district", "sector", 
                                                    "Month", "Beat", "Watch"])
data.dtypes

      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
29557       17      1  2018     1   First  1713      1.0         2  33.201426
29558       17      1  2018     1  Second  1713      8.0         4  33.201426
29559       17      1  2018     1   Third  1713     11.0         4  33.201426
29560       17      1  2018     2   Third  1713      5.0         3  39.791635
29561       17      1  2018     2   First  1713      6.0         2  39.791635
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
49256        3      1  2019    11  Second   312     13.0        11  43.761013
49257        3      1  2019    11   Third   312     13.0         8  43.761013
49258        3      1  2019    12  Second   312     20.0         8  42.647269
49259        3      1  2019    12   First   312      7.0         8  42.647269
49260        3      1  2019    12   Third   312     13.0         4  42.647269

            TMIN  ...  count_restaurants  count_bars count_daycares  \
29557  18.884223  ...               63.0         9.0            6.0
29558  18.884223  ...               63.0         9.0            6.0
29559  18.884223  ...               63.0         9.0            6.0
29560  22.439919  ...               63.0         9.0            6.0
29561  22.439919  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
49256  29.648049  ...               14.0         1.0            3.0
49257  29.648049  ...               14.0         1.0            3.0
49258  27.854899  ...               14.0         1.0            3.0
49259  27.854899  ...               14.0         1.0            3.0
49260  27.854899  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
29557      13283.675264     5454.068890       3258.006066             0.231076
29558      13283.675264     5454.068890       3258.006066             0.231076
29559      13283.675264     5454.068890       3258.006066             0.231076
29560      13283.675264     5454.068890       3258.006066             0.231076
29561      13283.675264     5454.068890       3258.006066             0.231076
...                 ...             ...               ...                  ...
49256       4144.689546     4843.037238       4374.482421             0.174216
49257       4144.689546     4843.037238       4374.482421             0.174216
49258       4144.689546     4843.037238       4374.482421             0.170732
49259       4144.689546     4843.037238       4374.482421             0.174216
49260       4144.689546     4843.037238       4374.482421             0.174216

[19704 rows x 26 columns]
      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
19712       17      1  2017     1   First  1713      6.0         5  36.668219
19713       17      1  2017     1   Third  1713     16.0         4  36.668219
19714       17      1  2017     1  Second  1713     13.0         2  36.668219
19715       17      1  2017     2  Second  1713      7.0         2  48.828937
19716       17      1  2017     2   Third  1713      9.0         3  48.828937
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
39402        3      1  2018    11   Third   312     15.0         7  40.859811
39403        3      1  2018    11   First   312      7.0         4  40.859811
39404        3      1  2018    12   First   312      7.0         4  40.587445
39405        3      1  2018    12  Second   312     20.0        12  40.587445
39406        3      1  2018    12   Third   312     14.0         7  40.587445

            TMIN  ...  count_restaurants  count_bars count_daycares  \
19712  25.445660  ...               63.0         9.0            6.0
19713  25.445660  ...               63.0         9.0            6.0
19714  25.445660  ...               63.0         9.0            6.0
19715  30.957247  ...               63.0         9.0            6.0
19716  30.957247  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
39402  30.481732  ...               14.0         1.0            3.0
39403  30.481732  ...               14.0         1.0            3.0
39404  27.929352  ...               14.0         1.0            3.0
39405  27.929352  ...               14.0         1.0            3.0
39406  27.929352  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
19712      13283.675264     5454.068890       3258.006066             0.243028
19713      13283.675264     5454.068890       3258.006066             0.243028
19714      13283.675264     5454.068890       3258.006066             0.243028
19715      13283.675264     5454.068890       3258.006066             0.243028
19716      13283.675264     5454.068890       3258.006066             0.243028
...                 ...             ...               ...                  ...
39402       4144.689546     4843.037238       4374.482421             0.104530
39403       4144.689546     4843.037238       4374.482421             0.104530
39404       4144.689546     4843.037238       4374.482421             0.104530
39405       4144.689546     4843.037238       4374.482421             0.101045
39406       4144.689546     4843.037238       4374.482421             0.104530

[19695 rows x 26 columns]
      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
9861        17      1  2016     1  Second  1713     10.0         3  34.634797
9862        17      1  2016     1   Third  1713     11.0         4  34.634797
9863        17      1  2016     1   First  1713      2.0         4  34.634797
9864        17      1  2016     2   First  1713      5.0         0  39.873946
9865        17      1  2016     2  Second  1713     14.0         2  39.873946
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
29552        3      1  2017    11  Second   312     21.0        10  48.004051
29553        3      1  2017    11   Third   312     15.0         8  48.004051
29554        3      1  2017    12  Second   312      7.0         7  36.924981
29555        3      1  2017    12   Third   312     16.0        14  36.924981
29556        3      1  2017    12   First   312     11.0        11  36.924981

            TMIN  ...  count_restaurants  count_bars count_daycares  \
9861   21.333060  ...               63.0         9.0            6.0
9862   21.333060  ...               63.0         9.0            6.0
9863   21.333060  ...               63.0         9.0            6.0
9864   26.515109  ...               63.0         9.0            6.0
9865   26.515109  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
29552  33.954321  ...               14.0         1.0            3.0
29553  33.954321  ...               14.0         1.0            3.0
29554  23.299649  ...               14.0         1.0            3.0
29555  23.299649  ...               14.0         1.0            3.0
29556  23.299649  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
9861       13283.675264     5454.068890       3258.006066             0.167331
9862       13283.675264     5454.068890       3258.006066             0.167331
9863       13283.675264     5454.068890       3258.006066             0.167331
9864       13283.675264     5454.068890       3258.006066             0.167331
9865       13283.675264     5454.068890       3258.006066             0.167331
...                 ...             ...               ...                  ...
29552       4144.689546     4843.037238       4374.482421             0.135889
29553       4144.689546     4843.037238       4374.482421             0.139373
29554       4144.689546     4843.037238       4374.482421             0.139373
29555       4144.689546     4843.037238       4374.482421             0.139373
29556       4144.689546     4843.037238       4374.482421             0.139373

[19696 rows x 26 columns]
      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
0           17      1  2015     1   Third  1713     10.0         1  32.469987
1           17      1  2015     1  Second  1713     13.0         4  32.469987
2           17      1  2015     1   First  1713      5.0         3  32.469987
3           17      1  2015     2  Second  1713      7.0         1  26.455588
4           17      1  2015     2   Third  1713      5.0         3  26.455588
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
19707        3      1  2016    11   First   312      7.0         4  56.907539
19708        3      1  2016    11  Second   312     20.0         8  56.907539
19709        3      1  2016    12   First   312      8.0         4  33.189478
19710        3      1  2016    12  Second   312     20.0         8  33.189478
19711        3      1  2016    12   Third   312     21.0         4  33.189478

            TMIN  ...  count_restaurants  count_bars count_daycares  \
0      20.138549  ...               63.0         9.0            6.0
1      20.138549  ...               63.0         9.0            6.0
2      20.138549  ...               63.0         9.0            6.0
3      10.647633  ...               63.0         9.0            6.0
4      10.647633  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
19707  41.575555  ...               14.0         1.0            3.0
19708  41.575555  ...               14.0         1.0            3.0
19709  22.018894  ...               14.0         1.0            3.0
19710  22.018894  ...               14.0         1.0            3.0
19711  22.018894  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
0          13283.675264     5454.068890       3258.006066             0.155378
1          13283.675264     5454.068890       3258.006066             0.155378
2          13283.675264     5454.068890       3258.006066             0.155378
3          13283.675264     5454.068890       3258.006066             0.155378
4          13283.675264     5454.068890       3258.006066             0.155378
...                 ...             ...               ...                  ...
19707       4144.689546     4843.037238       4374.482421             0.156794
19708       4144.689546     4843.037238       4374.482421             0.156794
19709       4144.689546     4843.037238       4374.482421             0.156794
19710       4144.689546     4843.037238       4374.482421             0.153310
19711       4144.689546     4843.037238       4374.482421             0.153310

[19712 rows x 26 columns]
Finished splitting...
Working on: [2018 2019]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...

Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

district               category
sector                 category
Year                      int64
Month                  category
Watch                  category
Beat                   category
Serious                 float64
Domestic                  int64
TMAX                    float64
TMIN                    float64
PRCP                    float64
SNOW                    float64
high_crime             category
count_l_stops           float64
count_bus_stops         float64
count_metra_stops       float64
count_restaurants       float64
count_bars              float64
count_daycares          float64
count_entertainment     float64
count_businesses        float64
road_distance_ft        float64
TOTAL POPULATION        float64
dist_to_police          float64
dist_to_hospital        float64
high_crime_geog_lag     float64
dtype: object

In [161]:
data_list_20[0][0]

,Year,Serious,Domestic,TMAX,TMIN,PRCP,SNOW,high_crime,count_l_stops,count_bus_stops,...,Beat_2524,Beat_2525,Beat_2531,Beat_2532,Beat_2533,Beat_2534,Beat_2535,Watch_First,Watch_Second,Watch_Third
29557,2018,-1.254018,-0.644941,-1.376112,-1.389057,-1.299674,0.231712,0.0,3.214337,-0.589002,...,0,0,0,0,0,0,0,1,0,0
29558,2018,-0.620498,-0.112728,-1.376112,-1.389057,-1.299674,0.231712,0.0,3.214337,-0.589002,...,0,0,0,0,0,0,0,0,1,0
29559,2018,-0.348990,-0.112728,-1.376112,-1.389057,-1.299674,0.231712,0.0,3.214337,-0.589002,...,0,0,0,0,0,0,0,0,0,1
29560,2018,-0.892007,-0.378835,-1.034854,-1.191190,0.608665,3.009861,0.0,3.214337,-0.589002,...,0,0,0,0,0,0,0,0,0,1
29561,2018,-0.801504,-0.644941,-1.034854,-1.191190,0.608665,3.009861,0.0,3.214337,-0.589002,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49256,2019,-0.167984,1.750018,-0.829309,-0.790072,-1.045229,-0.115556,0.0,1.952276,-0.250446,...,0,0,0,0,0,0,0,0,1,0
49257,2019,-0.167984,0.951698,-0.829309,-0.790072,-1.045229,-0.115556,0.0,1.952276,-0.250446,...,0,0,0,0,0,0,0,0,0,1
49258,2019,0.465536,0.951698,-0.886981,-0.889857,-1.225095,-0.297459,1.0,1.952276,-0.250446,...,0,0,0,0,0,0,0,0,1,0
49259,2019,-0.711001,0.951698,-0.886981,-0.889857,-1.225095,-0.297459,0.0,1.952276,-0.250446,...,0,0,0,0,0,0,0,1,0,0
49260,2019,-0.167984,-0.112728,-0.886981,-0.889857,-1.225095,-0.297459,0.0,1.952276,-0.250446,...,0,0,0,0,0,0,0,0,0,1

In [162]:
def compute_scores_final_data(grid, model, model_name, data_list, target, target_year):
    '''
    Function that computes dataframe for results of best models
    Inputs:
        grid (dict): maps the model_name to a list which contains a dictionary mapping parameter (keys) to their 
                     values in the gest model
        model (sklearn): An sklearn algorithm
        model_name: a string assigned to the model, typically the same as model without the last parentheses
        data_list: list of tuples of dataframes. IN THIS CASE, this should include for 2020
        target (string): the column we seek to predict in the data frames
        target_year (int): 2020, the year we seek to predict
    Output:
        results (df): a dataframe with the results
        model (sklearn object): the model object for the predictor of 2020 data
        X_test_20 (df): the 2020 testing data (useful for column names)
    
    Note: the code that removes the params columns comes from here: https://stackoverflow.com/questions/19071199/drop-columns-whose-name-contains-a-specific-string-from-pandas-dataframe
    '''
    results, model, X_test_20 = results_by_year(model, 
                                    model_name, grid, 
                                    data_list, 
                                    target, 
                                    target_year)
    results["model_type"]= model_name
    results["params"]=results["parameters_2020"]
    
    bool_array = results.columns.str.startswith("parameters")
    results2 = results.loc[:,~bool_array]
    return results2, model, X_test_20

## Logistic Regression

In [163]:
#Logistic Regression!
grid_log_reg ={"LogisticRegression": [{'penalty': 'l2',
                              'C': 0.001,
                              'random_state': 0}]}

In [164]:
results_log, model, X_test = compute_scores_final_data(grid_log_reg, LogisticRegression(),
                                    "LogisticRegression", data_list_20, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]
precision is: (0.990185387131952,) |recall is: (0.37598343685300206,)
precision is: (0.987597911227154,) |recall is: (0.6011124354390147,)
precision is: (0.9846968805179518,) |recall is: (0.6765062676910635,)
precision is: (0.9649581589958159,) |recall is: (0.7564575645756457,)

In [165]:
results_log

,precision_2020,recall_2020,precision_2019,recall_2019,precision_2018,recall_2018,precision_2017,recall_2017,model_type,params
0,0.990185,0.375983,0.987598,0.601112,0.984697,0.676506,0.964958,0.756458,LogisticRegression,"{'penalty': 'l2', 'C': 0.001, 'random_state': 0}"

In [166]:
#Below code to make model coefficient df from Stack Exchange: https://stackoverflow.com/questions/26951880/scikit-learn-linear-regression-how-to-get-coefficients-respective-features
model_coefs = pd.concat([pd.DataFrame(X_test.columns), 
                         pd.DataFrame(np.transpose(model.coef_))], axis = 1)
model_coefs.columns = ["Predictor", "Coefficient"]
model_coefs["Coefficient"]=model_coefs["Coefficient"].abs()
model_coefs.sort_values(by="Coefficient", ascending=False, inplace=True)
model_coefs.tail(50)

       Predictor  Coefficient
178    Beat_1021     0.001417
61      Beat_114     0.001376
253    Beat_1655     0.001356
250    Beat_1652     0.001340
89      Beat_322     0.001320
211    Beat_1231     0.001309
209    Beat_1224     0.001281
76      Beat_223     0.001280
249    Beat_1651     0.001269
322    Beat_2521     0.001259
273    Beat_1833     0.001093
172     Beat_934     0.001058
305    Beat_2232     0.001038
175    Beat_1012     0.001021
285    Beat_1931     0.000990
91      Beat_324     0.000930
58      Beat_111     0.000899
31   district_12     0.000893
287    Beat_1933     0.000885
97      Beat_412     0.000865
120     Beat_614     0.000819
0           Year     0.000777
217    Beat_1412     0.000748
213    Beat_1233     0.000700
128     Beat_634     0.000674
59      Beat_112     0.000662
33   district_15     0.000660
331    Beat_2535     0.000655
182    Beat_1031     0.000583
303    Beat_2222     0.000578
308    Beat_2411     0.000545
135     Beat_723     0.000522
90      Beat_323     0.000506
202    Beat_1212     0.000505
242    Beat_1622     0.000492
104     Beat_431     0.000438
119     Beat_613     0.000416
144     Beat_811     0.000407
327    Beat_2531     0.000405
254    Beat_1711     0.000386
111     Beat_522     0.000337
157     Beat_834     0.000335
281    Beat_1922     0.000303
101     Beat_422     0.000299
51       Month_6     0.000261
64      Beat_123     0.000234
233    Beat_1524     0.000176
328    Beat_2532     0.000170
177    Beat_1014     0.000164
141     Beat_733     0.000057

## KNN

In [167]:
#KNN!
grid_knn = {"KNeighborsClassifier": [{'weights': 'uniform', 'n_neighbors': 20}]}
results_knn = compute_scores_final_data(grid_knn, KNeighborsClassifier(),
                                    "KNeighborsClassifier", data_list_20, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]
precision is: (0.8411811652035116,) |recall is: (0.43643892339544516,)
precision is: (0.8785399622404028,) |recall is: (0.5546285260230434,)
precision is: (0.896551724137931,) |recall is: (0.5677315002021835,)
precision is: (0.8852459016393442,) |recall is: (0.6199261992619927,)

In [168]:
results_knn[0]

,precision_2020,recall_2020,precision_2019,recall_2019,precision_2018,recall_2018,precision_2017,recall_2017,model_type,params
0,0.841181,0.436439,0.87854,0.554629,0.896552,0.567732,0.885246,0.619926,KNeighborsClassifier,"{'weights': 'uniform', 'n_neighbors': 20}"

## SVM:

In [169]:
grid_svm = {'LinearSVC': [{'C': 0.01, 'random_state': 0}]}
results_svm = compute_scores_final_data(grid_svm, LinearSVC(), 'LinearSVC', data_list_20, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]
precision is: (0.9975550122249389,) |recall is: (0.168944099378882,)
precision is: (0.9753615425816818,) |recall is: (0.7234803337306317,)
precision is: (1.0,) |recall is: (0.39547108774767487,)
precision is: (1.0,) |recall is: (0.24600246002460024,)

In [170]:
results_svm[0]

,precision_2020,recall_2020,precision_2019,recall_2019,precision_2018,recall_2018,precision_2017,recall_2017,model_type,params
0,0.997555,0.168944,0.975362,0.72348,1.0,0.395471,1.0,0.246002,LinearSVC,"{'C': 0.01, 'random_state': 0}"

## Naive Bayes:

In [171]:
grid_nb = {'GaussianNB': [{'priors': None}]}
results_nb = compute_scores_final_data(grid_nb, GaussianNB(), 'GaussianNB', data_list_20, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]
precision is: (0.35992701940620336,) |recall is: (0.8985507246376812,)
precision is: (0.3835683033543996,) |recall is: (0.9404052443384983,)
precision is: (0.36359404096834264,) |recall is: (0.9474322684997978,)
precision is: (0.35583488516449413,) |recall is: (0.940139401394014,)

In [172]:
results_nb[0]

,precision_2020,recall_2020,precision_2019,recall_2019,precision_2018,recall_2018,precision_2017,recall_2017,model_type,params
0,0.359927,0.898551,0.383568,0.940405,0.363594,0.947432,0.355835,0.940139,GaussianNB,{'priors': None}

## Decision Tree:

In [173]:
grid_dt = { :[{}]}
results_dt = compute_scores_final_data()

SyntaxError: invalid syntax (<ipython-input-173-a0927bf23f84>, line 1)

## Random Forest:

In [ ]:
grid_rf = { :[{}]}
results_rf = compute_scores_final_data()

## Aggregate Files:

In [174]:
results = pd.concat([results_log, results_knn[0], results_svm[0], results_nb[0]
#                    , results_dt, results_rf
                    ])
results.to_csv("../final_data/combined_2020_results.csv")