### Get Packages

In [1]:
import pandas as pd
import geopandas as gpd
import seaborn as sns
import numpy as np
import sklearn as sk
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import precision_score
import datetime

%run ml_helpers.ipynb
%run ml.ipynb

/opt/anaconda3/lib/python3.8/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.1-CAPI-1.14.2). Conversions between both will be slow.
  warnings.warn(

         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
1325780     1325780  1421  2019     12  Second  0.00   0.0    53    32
1281920     1281920   931  2019     10  Second  0.00   0.0    60    39
1272999     1272999  2515  2019     10   Third  0.42   0.0    65    49
1165713     1165713  2422  2019      5  Second  0.18   0.0    56    46
1245842     1245842  1022  2019      8  Second  0.00   0.0    74    62
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
1201366     1201366  1221  2019      7  Second  0.00   0.0    92    76
1323966     1323966   311  2019     12   Third  0.00   0.0    37    16
1113944     1113944   825  2019      3   Third  0.00   0.1    39    23
1326216     1326216   613  2019     12   First  0.00   0.0    53    36
1190404     1190404   732  2019      6   Third  0.00   0.0    72    53

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
1325780            0.0  ...               34.0        10.0             4.0
1281920            0.0  ...               30.0         1.0             1.0
1272999            0.0  ...               65.0        13.0             7.0
1165713            1.0  ...               30.0         4.0             3.0
1245842            1.0  ...               15.0         0.0             1.0
...                ...  ...                ...         ...             ...
1201366            0.0  ...               43.0        19.0             6.0
1323966            0.0  ...                5.0         0.0             4.0
1113944            0.0  ...               25.0         1.0             1.0
1326216            0.0  ...               18.0         3.0             4.0
1190404            0.0  ...                9.0         1.0             2.0

         count_entertainment  count_businesses  road_distance_ft  \
1325780                  0.0              57.0          0.541445
1281920                  0.0              75.0          0.568060
1272999                  4.0             134.0          0.895110
1165713                  2.0              57.0          0.249268
1245842                  0.0              41.0          0.602113
...                      ...               ...               ...
1201366                  0.0             227.0          1.120417
1323966                  0.0              13.0          0.387987
1113944                  0.0              44.0          0.590103
1326216                  0.0              40.0          0.605173
1190404                  0.0              12.0          0.429114

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
1325780      10800.892159        0.007922          0.013037           0.0
1281920      11939.542679        0.029000          0.040009           0.0
1272999      16943.948686        0.003533          0.024268           0.0
1165713       9041.529785        0.019928          0.029491           0.0
1245842       5064.789654        0.007007          0.005852           1.0
...                   ...             ...               ...           ...
1201366       8577.875630        0.024901          0.011968           0.0
1323966       2869.785983        0.019655          0.010792           0.0
1113944       7765.801695        0.022977          0.012993           0.0
1326216       8391.226891        0.012467          0.041256           0.0
1190404       4176.699166        0.012517          0.016376           1.0

[252 rows x 22 columns]
         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
892448       892448  2011  2018      5   First  0.02   0.0    69    49
808867       808867   532  2018      1  Second  0.02   0.0    56    31
973061       973061  1221  2018      8   First  0.34   0.0    80    71
989710       989710   211  2018      9   First  0.00   0.0    74    61
1048820     1048820   334  2018     11   Third  0.00   0.0    43    32
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
806356       806356   623  2018      1  Second  0.00   0.0    17    -1
905377       905377  2514  2018      5  Second  0.00   0.0    87    70
820094       820094   124  2018      1  Second  0.00   0.0    51    37
899973       899973   422  2018      5   Third  0.02   0.0    67    54
834182       834182   834  2018      2  Second  0.83   0.0    60    39

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
892448             0.0  ...               75.0        22.0             9.0
808867             0.0  ...               14.0         0.0             1.0
973061             0.0  ...               43.0        19.0             6.0
989710             1.0  ...               37.0         3.0             0.0
1048820            0.0  ...               21.0         2.0             5.0
...                ...  ...                ...         ...             ...
806356             1.0  ...               42.0         3.0             6.0
905377             0.0  ...               89.0        18.0            10.0
820094             0.0  ...               39.0        11.0             0.0
899973             0.0  ...               11.0         0.0             1.0
834182             0.0  ...               58.0        13.0             8.0

         count_entertainment  count_businesses  road_distance_ft  \
892448                   5.0             178.0          0.825366
808867                   1.0              34.0          1.042029
973061                   0.0             227.0          1.120417
989710                   1.0              68.0          0.637590
1048820                  0.0              55.0          0.405310
...                      ...               ...               ...
806356                   1.0              79.0          0.783098
905377                   4.0             156.0          0.761091
820094                   0.0              77.0          0.538028
899973                   0.0              25.0          0.574125
834182                   2.0             160.0          1.228132

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
892448       17306.232909        0.006090          0.008332           0.0
808867        5578.598700        0.021799          0.025951           0.0
973061        8577.875630        0.024901          0.011968           0.0
989710        7553.461212        0.007595          0.012675           0.0
1048820       7167.008067        0.042814          0.015207           0.0
...                   ...             ...               ...           ...
806356        6759.295725        0.019789          0.027108           1.0
905377       17463.094185        0.015317          0.012465           1.0
820094         816.487556        0.014753          0.027771           0.0
899973        6260.193323        0.045373          0.019090           1.0
834182       23979.728417        0.038494          0.040016           0.0

[262 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
662302      662302   822  2017      6   Third  0.00   0.0    78    54
568544      568544  1523  2017      2  Second  0.00   0.0    70    45
752263      752263  1121  2017     10  Second  0.00   0.0    78    62
651963      651963   634  2017      6   Third  0.20   0.0    90    68
597622      597622   114  2017      4  Second  0.28   0.0    52    46
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
632914      632914  1532  2017      5  Second  0.04   0.0    66    52
792335      792335  1712  2017     12   Third  0.00   0.0    38    21
545605      545605   624  2017      1   Third  0.50   0.0    40    33
736699      736699  1134  2017      9   First  0.00   0.0    66    57
569848      569848   726  2017      2  Second  0.00   0.0    70    46

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
662302            0.0  ...               60.0        12.0             4.0
568544            0.0  ...               11.0         0.0             0.0
752263            0.0  ...               25.0         0.0             1.0
651963            2.0  ...               16.0         0.0             0.0
597622            0.0  ...              116.0        47.0             3.0
...               ...  ...                ...         ...             ...
632914            1.0  ...               14.0         2.0             1.0
792335            0.0  ...              121.0        13.0             5.0
545605            0.0  ...               36.0         6.0             5.0
736699            1.0  ...               16.0         0.0             1.0
569848            0.0  ...               11.0         0.0             1.0

        count_entertainment  count_businesses  road_distance_ft  \
662302                  0.0             104.0          0.961339
568544                  0.0              18.0          0.393697
752263                  0.0              56.0          0.597790
651963                  0.0              26.0          0.567722
597622                  7.0             368.0          1.089054
...                     ...               ...               ...
632914                  0.0              24.0          0.516070
792335                  3.0             218.0          1.588453
545605                  0.0             110.0          0.574488
736699                  0.0              24.0          0.442468
569848                  0.0               9.0          0.401779

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
662302      22558.324368        0.014122          0.031323           0.0
568544       6376.246288        0.010972          0.014966           0.0
752263       7026.957744        0.023843          0.006807           0.0
651963       5061.133897        0.029402          0.036220           1.0
597622       9743.301103        0.022256          0.015583           0.0
...                  ...             ...               ...           ...
632914       6459.881345        0.019838          0.020157           0.0
792335      23032.305172        0.009735          0.030717           1.0
545605       8351.790851        0.012854          0.020856           1.0
736699       3489.194531        0.001833          0.007326           1.0
569848       4763.346031        0.015261          0.019097           1.0

[289 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
326016      326016  1424  2016      4   First  0.18   0.0    51    37
399156      399156  1712  2016      7  Second  1.79   0.0    90    68
457621      457621  1424  2016      9  Second  0.02   0.0    83    67
329209      329209  1233  2016      4  Second  0.02   0.0    47    29
449818      449818   124  2016      9  Second  0.03   0.0    94    76
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
274705      274705  1433  2016      1   First  0.00   0.0    32    14
305446      305446   835  2016      3   First  0.07   1.3    33    29
304589      304589   813  2016      3   Third  0.12   0.6    33    20
429137      429137  1732  2016      8   Third  2.00   0.0    84    75
481679      481679  2011  2016     10   Third  0.00   0.0    78    58

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
326016            1.0  ...              138.0        96.0             5.0
399156            0.0  ...              121.0        13.0             5.0
457621            1.0  ...              138.0        96.0             5.0
329209            0.0  ...               61.0        13.0             5.0
449818            0.0  ...               39.0        11.0             0.0
...               ...  ...                ...         ...             ...
274705            0.0  ...               66.0        36.0             3.0
305446            0.0  ...               32.0         0.0             8.0
304589            1.0  ...              138.0        45.0             5.0
429137            2.0  ...               51.0        15.0             2.0
481679            0.0  ...               75.0        22.0             9.0

        count_entertainment  count_businesses  road_distance_ft  \
326016                 31.0             183.0          0.505320
399156                  3.0             218.0          1.588453
457621                 31.0             183.0          0.505320
329209                  2.0             125.0          0.969649
449818                  0.0              77.0          0.538028
...                     ...               ...               ...
274705                 11.0             178.0          0.651032
305446                  0.0             131.0          1.801961
304589                  1.0             207.0          1.551454
429137                  4.0             133.0          0.910559
481679                  5.0             178.0          0.825366

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
326016       8853.961783        0.023960          0.006014           0.0
399156      23032.305172        0.009735          0.030717           0.0
457621       8853.961783        0.023960          0.006014           0.0
329209       6373.273003        0.013074          0.007271           0.0
449818        816.487556        0.014753          0.027771           0.0
...                  ...             ...               ...           ...
274705       8171.172717        0.022891          0.019866           0.0
305446      16930.818572        0.033027          0.019454           1.0
304589      21819.823082        0.033934          0.052171           0.0
429137      13039.576703        0.020669          0.010346           0.0
481679      17306.232909        0.006090          0.008332           0.0

[287 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
133736      133736  1233  2015      7   Third  0.02   0.0    68    59
233956      233956  1713  2015     11  Second  0.06   0.0    58    48
122067      122067  2033  2015      6   Third  0.00   0.0    81    67
12760        12760  1115  2015      1  Second  0.01   0.0    40    33
240468      240468  1915  2015     11  Second  0.59   0.0    62    50
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
38272        38272  2023  2015      3  Second  0.00   0.0    34    16
232354      232354  1422  2015     11   Third  0.00   0.0    48    36
95041        95041   213  2015      5  Second  0.00   0.0    54    44
121365      121365   511  2015      6   Third  0.03   0.0    85    72
117620      117620   932  2015      6   Third  0.32   0.0    72    58

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
133736            0.0  ...               61.0        13.0             5.0
233956            3.0  ...               63.0         9.0             6.0
122067            2.0  ...               49.0        18.0             5.0
12760             0.0  ...               14.0         1.0             0.0
240468            0.0  ...               25.0         5.0             2.0
...               ...  ...                ...         ...             ...
38272             2.0  ...               35.0         9.0             2.0
232354            0.0  ...               41.0         8.0             3.0
95041             1.0  ...                7.0         4.0             2.0
121365            0.0  ...               30.0         1.0             3.0
117620            0.0  ...               11.0         0.0             1.0

        count_entertainment  count_businesses  road_distance_ft  \
133736                  2.0             125.0          0.969649
233956                  1.0              92.0          0.548141
122067                  7.0              78.0          0.413439
12760                   0.0              34.0          0.265073
240468                  2.0              53.0          0.834758
...                     ...               ...               ...
38272                   1.0              51.0          0.275006
232354                  1.0              74.0          0.640252
95041                   2.0              31.0          0.647690
121365                  0.0              92.0          1.821520
117620                  0.0              26.0          0.645617

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
133736       6373.273003        0.013074          0.007271           0.0
233956      13283.675102        0.017748          0.010953           0.0
122067       5931.904221        0.027681          0.007174           1.0
12760        2877.271125        0.025745          0.015103           1.0
240468      12773.552922        0.011512          0.004187           0.0
...                  ...             ...               ...           ...
38272        9608.317084        0.026003          0.010589           1.0
232354      12025.393601        0.018463          0.015333           0.0
95041        4923.794671        0.007787          0.022774           0.0
121365      14541.672233        0.023072          0.027551           0.0
117620       6155.930779        0.022712          0.033601           0.0

[259 rows x 22 columns]
Finished splitting...
Working on: [2019]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...

Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

In [11]:
#Get Final data: 
data = pd.read_csv("../intermediate_data/high_crime_labeled.csv")
#data = data.drop(columns=["beat", "beat_num_x", "Crimes", "Arrest", "Domestic", "Serious"])
#data = data.rename(columns={"beat_num_x":"beat_num", 
#                            "district_x":"district",
#                            "sector_x":"sector"})
#data = convert_to_categorical(data, ["district", "sector",
#                                    "Month",
#                                     "Watch", "Beat"])
#data.drop(columns = ["Unnamed: 0"], inplace=True)
#data_list_20 = prep_data_test(data, "high_crime",
#                                        2, "Year", ["district", "sector", 
#                                                    "Month", 
#   "Beat", "Watch"])

data.head()

,Unnamed: 0,beat,beat_num_x,district_x,sector_x,Year,Month,Watch,Beat,Total,...,count_restaurants,count_bars,count_daycares,count_entertainment,count_businesses,road_distance_ft,TOTAL POPULATION,dist_to_police,dist_to_hospital,high_crime_geog_lag
0,0,1,1713,17,1,2015,1,Third,1713,16,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
1,1,1,1713,17,1,2015,1,Second,1713,20,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
2,2,1,1713,17,1,2015,1,First,1713,14,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
3,3,1,1713,17,1,2015,2,Second,1713,12,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
4,4,1,1713,17,1,2015,2,Third,1713,12,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378

In [13]:
def compute_scores_final_data(grid, model, model_name, data_list, target, target_year):
    '''
    Function that computes dataframe for results of best models
    Inputs:
        grid (dict): maps the model_name to a list which contains a dictionary mapping parameter (keys) to their 
                     values in the gest model
        model (sklearn): An sklearn algorithm
        model_name: a string assigned to the model, typically the same as model without the last parentheses
        data_list: list of tuples of dataframes. IN THIS CASE, this should include for 2020
        target (string): the column we seek to predict in the data frames
        target_year (int): 2020, the year we seek to predict
    Output:
        results (df): a dataframe with the results
    
    Note: the code that removes the params columns comes from here: https://stackoverflow.com/questions/19071199/drop-columns-whose-name-contains-a-specific-string-from-pandas-dataframe
    '''
    results = results_by_year(model, 
                                    model_name, grid, 
                                    data_list, 
                                    target, 
                                    target_year)
    results["model_type"]= model_name
    results["params"]=results["parameters_2020"]
    
    bool_array = results.columns.str.startswith("parameters")
    results2 = results.loc[:,~bool_array]
    return results2

## Logistic Regression

In [14]:
#Logistic Regression!
grid_log_reg ={"LogisticRegression": [{'penalty': 'l2',
                              'C': 0.001,
                              'random_state': 0}]}
results_log = compute_scores_final_data(grid_log_reg, LogisticRegression(),
                                    "LogisticRegression", data_list_20, "high_crime", 2020)

NameError: name 'data_list_20' is not defined

In [ ]:
results_log

## KNN

In [ ]:
#KNN!
grid_knn = {"KNeighborsClassifier": [{'weights': 'uniform', 'n_neighbors': 10}]}
results_knn = compute_scores_final_data(grid_knn, KNeighborsClassifier(),
                                    "KNeighborsClassifier", data_list_20, "high_crime", 2020)

In [ ]:
results_knn_to_plot = results_knn[["precision_2017", "precision_2018", "precision_2019", "precision_2020"]]

r = results_knn_to_plot.transpose().reset_index()
r

In [ ]:
sns.countplot(x=r["index"])

## SVM:

In [ ]:
grid_svm = { :[{}]}
results_svm = compute_scores_final_data()

## Naive Bayes:

In [ ]:
grid_nb = { :[{}]}
results_nb = compute_scores_final_data()

## Decision Tree:

In [ ]:
grid_dt = { :[{}]}
results_dt = compute_scores_final_data()

## Random Forest:

In [ ]:
grid_rf = { :[{}]}
results_rf = compute_scores_final_data()

## Aggregate Files:

In [ ]:
results = pd.concat([results_log, results_knn
#                    , results_svm, results_nb, results_dt, results_rf
                    ])
results