### Get Packages

In [18]:
import pandas as pd
import geopandas as gpd
import seaborn as sns
import numpy as np
import sklearn as sk
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import precision_score
import datetime

%run ml_helpers.ipynb
%run ml.ipynb

         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
1307673     1307673  1423  2019     11   Third  0.00   0.0    55    38
1112058     1112058   823  2019      3   Third  0.00   0.1    22     9
1299280     1299280  1432  2019     11  Second  0.00   0.0    28    13
1104755     1104755   623  2019      2   Third  0.00   0.0    35    26
1093961     1093961  2524  2019      2   Third  0.26   0.0    34    27
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
1268370     1268370  1424  2019      9   Third  0.99   0.0    69    62
1277057     1277057   124  2019     10  Second  0.48   0.0    68    39
1314317     1314317  1822  2019     12   Third  0.00   0.0    46    28
1235606     1235606  1421  2019      8   First  0.04   0.0    78    69
1206638     1206638  2032  2019      7   Third  0.00   0.0    82    68

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
1307673            0.0  ...               31.0         6.0             3.0
1112058            0.0  ...               68.0         6.0             6.0
1299280            0.0  ...               64.0        29.0             7.0
1104755            1.0  ...               42.0         3.0             6.0
1093961            0.0  ...               41.0         4.0             4.0
...                ...  ...                ...         ...             ...
1268370            1.0  ...              138.0        96.0             5.0
1277057            0.0  ...               39.0        11.0             0.0
1314317            1.0  ...               65.0        30.0             5.0
1235606            0.0  ...               34.0        10.0             4.0
1206638            0.0  ...               36.0        10.0             5.0

         count_entertainment  count_businesses  road_distance_ft  \
1307673                  0.0              72.0          0.608072
1112058                  0.0             135.0          0.977021
1299280                  8.0             191.0          0.816385
1104755                  1.0              79.0          0.783098
1093961                  2.0             108.0          0.624443
...                      ...               ...               ...
1268370                 31.0             183.0          0.505320
1277057                  0.0              77.0          0.538028
1314317                 11.0             197.0          0.713558
1235606                  0.0              57.0          0.541445
1206638                  2.0              99.0          0.541595

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
1307673       7235.882872        0.014756          0.006358           1.0
1112058      22290.925452        0.001047          0.018951           0.0
1299280       7756.360187        0.017998          0.017188           1.0
1104755       6759.295725        0.019789          0.027108           0.0
1093961      11494.957815        0.031074          0.012156           1.0
...                   ...             ...               ...           ...
1268370       8853.961783        0.023960          0.006014           0.0
1277057        816.487556        0.014753          0.027771           0.0
1314317       2590.744339        0.006503          0.020410           1.0
1235606      10800.892159        0.007922          0.013037           0.0
1206638       8539.240027        0.018700          0.006046           0.0

[249 rows x 22 columns]
         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
1041626     1041626   531  2018     11   Third  0.00   0.0    34    23
1025123     1025123  1134  2018     10   Third  0.03   0.0    53    43
883112       883112   523  2018      5   First  0.00   0.0    86    58
892912       892912   932  2018      5   Third  0.02   0.0    69    49
851183       851183  1113  2018      3   Third  0.00   0.0    37    30
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
804451       804451  2031  2018      1  Second  0.00   0.2    18     7
905448       905448  2223  2018      5  Second  0.00   0.0    87    70
1036211     1036211   814  2018     11  Second  0.00   0.0    42    29
906998       906998  1134  2018      5  Second  0.00   0.0    89    70
969378       969378  1522  2018      8   Third  0.06   0.0    87    73

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
1041626            0.0  ...               22.0         4.0             6.0
1025123            1.0  ...               16.0         0.0             1.0
883112             0.0  ...                7.0         3.0             1.0
892912             0.0  ...               11.0         0.0             1.0
851183             1.0  ...               12.0         1.0             2.0
...                ...  ...                ...         ...             ...
804451             0.0  ...               34.0        12.0             7.0
905448             0.0  ...               11.0         1.0             4.0
1036211            0.0  ...               30.0        10.0             1.0
906998             1.0  ...               16.0         0.0             1.0
969378             0.0  ...               33.0         1.0             1.0

         count_entertainment  count_businesses  road_distance_ft  \
1041626                  2.0              70.0          0.539635
1025123                  0.0              24.0          0.442468
883112                   0.0              24.0          0.819340
892912                   0.0              26.0          0.645617
851183                   1.0              44.0          0.465835
...                      ...               ...               ...
804451                   1.0              85.0          0.582367
905448                   0.0              40.0          1.088571
1036211                  2.0              64.0          0.791764
906998                   0.0              24.0          0.442468
969378                   1.0              77.0          0.494030

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
1041626       4596.896631        0.008241          0.014369           1.0
1025123       3489.194531        0.001833          0.007326           1.0
883112       11441.294492        0.039643          0.027001           0.0
892912        6155.930779        0.022712          0.033601           0.0
851183        4161.746005        0.028441          0.021861           1.0
...                   ...             ...               ...           ...
804451        9057.296412        0.007824          0.004978           1.0
905448        9716.153133        0.027890          0.036067           0.0
1036211       9690.564218        0.047393          0.066600           0.0
906998        3489.194531        0.001833          0.007326           1.0
969378        8424.770454        0.010806          0.004299           0.0

[264 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
772700      772700  1533  2017     11  Second  0.81   0.0    48    36
613683      613683   815  2017      4  Second  0.00   0.0    80    57
618381      618381  1731  2017      5   Third  0.41   0.0    58    45
721709      721709  1112  2017      9   Third  0.00   0.0    70    53
572966      572966  2514  2017      2   Third  0.11   0.0    44    33
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
791616      791616   731  2017     12   Third  0.00   0.0    30    18
682047      682047   112  2017      7  Second  0.65   0.0    87    72
703873      703873   622  2017      8  Second  0.00   0.0    83    67
689589      689589  2533  2017      7   Third  0.00   0.0    86    68
605277      605277  1134  2017      4  Second  0.21   0.0    69    46

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
772700            1.0  ...               21.0         3.0             1.0
613683            1.0  ...               98.0        24.0             3.0
618381            0.0  ...               54.0        11.0             3.0
721709            0.0  ...               40.0         0.0             4.0
572966            0.0  ...               89.0        18.0            10.0
...               ...  ...                ...         ...             ...
791616            1.0  ...               11.0         0.0             2.0
682047            4.0  ...              130.0        55.0             1.0
703873            0.0  ...               25.0         2.0             0.0
689589            0.0  ...               40.0         7.0             0.0
605277            1.0  ...               16.0         0.0             1.0

        count_entertainment  count_businesses  road_distance_ft  \
772700                  0.0              53.0          0.449942
613683                  3.0             277.0          1.182081
618381                  2.0             144.0          0.856700
721709                  0.0              39.0          0.407706
572966                  4.0             156.0          0.761091
...                     ...               ...               ...
791616                  0.0              22.0          0.430125
682047                 15.0             669.0          0.161066
703873                  1.0              56.0          0.707590
689589                  1.0             157.0          0.839418
605277                  0.0              24.0          0.442468

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
772700       7038.112338        0.019818          0.013749           0.0
613683      16492.893824        0.037567          0.056090           0.0
618381      12917.406946        0.022473          0.010655           0.0
721709       7182.170508        0.029404          0.007713           1.0
572966      17463.094185        0.015317          0.012465           0.0
...                  ...             ...               ...           ...
791616       4806.761373        0.018500          0.015232           0.0
682047       1195.459578        0.022807          0.014610           0.0
703873       2863.111097        0.014556          0.036939           0.0
689589       7828.568071        0.020744          0.032159           0.0
605277       3489.194531        0.001833          0.007326           1.0

[298 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
502210      502210  1912  2016     11   Third  0.00   0.0    61    41
467332      467332  2424  2016      9   Third  0.32   0.0    68    60
333467      333467   414  2016      4   Third  0.00   0.0    52    40
318107      318107  1111  2016      3   Third  0.00   0.0    45    33
339312      339312  1111  2016      4   Third  0.00   0.0    61    48
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
284241      284241  1124  2016      1   Third  0.00   0.0    49    36
312249      312249  1933  2016      3   Third  0.00   0.0    60    38
284525      284525   923  2016      1   Third  0.00   0.0    49    36
342405      342405   634  2016      4  Second  0.00   0.0    80    46
522876      522876   414  2016     12   First  0.00   0.0    11     1

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
502210            3.0  ...               89.0        31.0            13.0
467332            0.0  ...               27.0         7.0             4.0
333467            0.0  ...               24.0         1.0             6.0
318107            0.0  ...               34.0         0.0             3.0
339312            0.0  ...               34.0         0.0             3.0
...               ...  ...                ...         ...             ...
284241            0.0  ...               10.0         1.0             4.0
312249            3.0  ...               94.0        44.0             6.0
284525            0.0  ...               52.0         5.0             2.0
342405            2.0  ...               16.0         0.0             0.0
522876            0.0  ...               24.0         1.0             6.0

        count_entertainment  count_businesses  road_distance_ft  \
502210                  5.0             225.0          0.812863
467332                  3.0              52.0          0.486110
333467                  1.0              81.0          0.962700
318107                  0.0             155.0          0.982737
339312                  0.0             155.0          0.982737
...                     ...               ...               ...
284241                  0.0              13.0          0.400842
312249                 16.0             132.0          0.560950
284525                  2.0              74.0          0.700729
342405                  0.0              26.0          0.567722
522876                  1.0              81.0          0.962700

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
502210      13487.007383        0.024983          0.005663           0.0
467332      10974.366182        0.014715          0.029948           1.0
333467      11696.404888        0.034587          0.006471           0.0
318107       7508.418210        0.036201          0.016383           0.0
339312       7508.418210        0.036201          0.016383           0.0
...                  ...             ...               ...           ...
284241       2985.225484        0.005891          0.009674           0.0
312249      10389.348591        0.012232          0.005349           0.0
284525      15377.239925        0.025119          0.029941           0.0
342405       5061.133897        0.029402          0.036220           0.0
522876      11696.404888        0.034587          0.006471           0.0

[257 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
124961      124961  1834  2015      6   Third  0.00   0.0    77    59
83050        83050  1511  2015      5   Third  0.15   0.0    82    60
120358      120358   434  2015      6  Second  0.01   0.0    87    70
263280      263280  2031  2015     12   Third  0.00   0.0    41    31
41937        41937  1431  2015      3   Third  0.00   0.0    46    26
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
88043        88043   833  2015      5   Third  0.20   0.0    58    47
86799        86799   321  2015      5   Third  0.33   0.0    84    66
262284      262284  1622  2015     12  Second  2.00   2.1    42    32
65859        65859  1532  2015      4   Third  0.00   0.0    65    42
197623      197623  2525  2015      9   First  0.00   0.0    81    67

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
124961            1.0  ...              332.0       238.0             7.0
83050             0.0  ...               20.0         0.0             4.0
120358            0.0  ...               15.0         3.0             1.0
263280            0.0  ...               34.0        12.0             7.0
41937             1.0  ...               52.0        26.0             2.0
...               ...  ...                ...         ...             ...
88043             0.0  ...               64.0         6.0             5.0
86799             0.0  ...               21.0         1.0             0.0
262284            0.0  ...               70.0        28.0             8.0
65859             1.0  ...               14.0         2.0             1.0
197623            0.0  ...               29.0         8.0             2.0

        count_entertainment  count_businesses  road_distance_ft  \
124961                 49.0             676.0          0.909764
83050                   1.0              49.0          0.422969
120358                  1.0              31.0          2.638902
263280                  1.0              85.0          0.582367
41937                   4.0              83.0          0.437943
...                     ...               ...               ...
88043                   2.0             174.0          1.287641
86799                   0.0              45.0          0.865410
262284                  2.0             206.0          1.783400
65859                   0.0              24.0          0.516070
197623                  3.0              85.0          0.474694

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
124961      16374.716120        0.029290          0.003678           0.0
83050        7288.330267        0.016733          0.025322           0.0
120358       3247.477123        0.028645          0.047947           0.0
263280       9057.296412        0.007824          0.004978           0.0
41937        8160.675064        0.005570          0.016959           0.0
...                  ...             ...               ...           ...
88043       20560.614401        0.023650          0.034665           0.0
86799        8025.144034        0.007697          0.016496           0.0
262284      26746.588828        0.011694          0.030023           0.0
65859        6459.881345        0.019838          0.020157           0.0
197623      10593.560235        0.026441          0.019964           1.0

[274 rows x 22 columns]
Finished splitting...
Working on: [2019]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016]
Have accessed train and test df...

Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

In [20]:
#Get Final data: 
data = pd.read_csv("../intermediate_data/high_crime_labeled.csv")
#data = data.drop(columns=["beat", "beat_num_x", "Crimes", "Arrest", "Domestic", "Serious"])

data = convert_to_categorical(data, ["district", "sector",
                                    "Month",
                                     "Watch", "Beat"])
data.drop(columns = ["Unnamed: 0"], inplace=True)
data_list_20 = prep_data_test(data, "high_crime",
                                        2, "Year", ["district", "sector", 
                                                    "Month", "Beat", "Watch"])

       beat  beat_num district sector  Year Month   Watch  Beat  Crimes  \
29557     1      1713       17      1  2018     1   First  1713       8
29558     1      1713       17      1  2018     1  Second  1713      16
29559     1      1713       17      1  2018     1   Third  1713      24
29560     1      1713       17      1  2018     2   Third  1713      16
29561     1      1713       17      1  2018     2   First  1713       8
...     ...       ...      ...    ...   ...   ...     ...   ...     ...
49256     1       312        3      1  2019    11  Second   312      43
49257     1       312        3      1  2019    11   Third   312      28
49258     1       312        3      1  2019    12  Second   312      33
49259     1       312        3      1  2019    12   First   312      19
49260     1       312        3      1  2019    12   Third   312      31

       Serious  ...  count_restaurants  count_bars  count_daycares  \
29557      1.0  ...               63.0         9.0             6.0
29558      8.0  ...               63.0         9.0             6.0
29559     11.0  ...               63.0         9.0             6.0
29560      5.0  ...               63.0         9.0             6.0
29561      6.0  ...               63.0         9.0             6.0
...        ...  ...                ...         ...             ...
49256     13.0  ...               14.0         1.0             3.0
49257     13.0  ...               14.0         1.0             3.0
49258     20.0  ...               14.0         1.0             3.0
49259      7.0  ...               14.0         1.0             3.0
49260     13.0  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

      TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
29557     13283.675264     5454.068890       3258.006066             0.231076
29558     13283.675264     5454.068890       3258.006066             0.231076
29559     13283.675264     5454.068890       3258.006066             0.231076
29560     13283.675264     5454.068890       3258.006066             0.231076
29561     13283.675264     5454.068890       3258.006066             0.231076
...                ...             ...               ...                  ...
49256      4144.689546     4843.037238       4374.482421             0.174216
49257      4144.689546     4843.037238       4374.482421             0.174216
49258      4144.689546     4843.037238       4374.482421             0.170732
49259      4144.689546     4843.037238       4374.482421             0.174216
49260      4144.689546     4843.037238       4374.482421             0.174216

[19704 rows x 30 columns]
       beat  beat_num district sector  Year Month   Watch  Beat  Crimes  \
19712     1      1713       17      1  2017     1   First  1713      17
19713     1      1713       17      1  2017     1   Third  1713      23
19714     1      1713       17      1  2017     1  Second  1713      17
19715     1      1713       17      1  2017     2  Second  1713      10
19716     1      1713       17      1  2017     2   Third  1713      19
...     ...       ...      ...    ...   ...   ...     ...   ...     ...
39402     1       312        3      1  2018    11   Third   312      33
39403     1       312        3      1  2018    11   First   312      12
39404     1       312        3      1  2018    12   First   312      15
39405     1       312        3      1  2018    12  Second   312      36
39406     1       312        3      1  2018    12   Third   312      34

       Serious  ...  count_restaurants  count_bars  count_daycares  \
19712      6.0  ...               63.0         9.0             6.0
19713     16.0  ...               63.0         9.0             6.0
19714     13.0  ...               63.0         9.0             6.0
19715      7.0  ...               63.0         9.0             6.0
19716      9.0  ...               63.0         9.0             6.0
...        ...  ...                ...         ...             ...
39402     15.0  ...               14.0         1.0             3.0
39403      7.0  ...               14.0         1.0             3.0
39404      7.0  ...               14.0         1.0             3.0
39405     20.0  ...               14.0         1.0             3.0
39406     14.0  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

      TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
19712     13283.675264     5454.068890       3258.006066             0.243028
19713     13283.675264     5454.068890       3258.006066             0.243028
19714     13283.675264     5454.068890       3258.006066             0.243028
19715     13283.675264     5454.068890       3258.006066             0.243028
19716     13283.675264     5454.068890       3258.006066             0.243028
...                ...             ...               ...                  ...
39402      4144.689546     4843.037238       4374.482421             0.104530
39403      4144.689546     4843.037238       4374.482421             0.104530
39404      4144.689546     4843.037238       4374.482421             0.104530
39405      4144.689546     4843.037238       4374.482421             0.101045
39406      4144.689546     4843.037238       4374.482421             0.104530

[19695 rows x 30 columns]
       beat  beat_num district sector  Year Month   Watch  Beat  Crimes  \
9861      1      1713       17      1  2016     1  Second  1713      20
9862      1      1713       17      1  2016     1   Third  1713      18
9863      1      1713       17      1  2016     1   First  1713       8
9864      1      1713       17      1  2016     2   First  1713       9
9865      1      1713       17      1  2016     2  Second  1713      21
...     ...       ...      ...    ...   ...   ...     ...   ...     ...
29552     1       312        3      1  2017    11  Second   312      45
29553     1       312        3      1  2017    11   Third   312      35
29554     1       312        3      1  2017    12  Second   312      29
29555     1       312        3      1  2017    12   Third   312      42
29556     1       312        3      1  2017    12   First   312      22

       Serious  ...  count_restaurants  count_bars  count_daycares  \
9861      10.0  ...               63.0         9.0             6.0
9862      11.0  ...               63.0         9.0             6.0
9863       2.0  ...               63.0         9.0             6.0
9864       5.0  ...               63.0         9.0             6.0
9865      14.0  ...               63.0         9.0             6.0
...        ...  ...                ...         ...             ...
29552     21.0  ...               14.0         1.0             3.0
29553     15.0  ...               14.0         1.0             3.0
29554      7.0  ...               14.0         1.0             3.0
29555     16.0  ...               14.0         1.0             3.0
29556     11.0  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

      TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
9861      13283.675264     5454.068890       3258.006066             0.167331
9862      13283.675264     5454.068890       3258.006066             0.167331
9863      13283.675264     5454.068890       3258.006066             0.167331
9864      13283.675264     5454.068890       3258.006066             0.167331
9865      13283.675264     5454.068890       3258.006066             0.167331
...                ...             ...               ...                  ...
29552      4144.689546     4843.037238       4374.482421             0.135889
29553      4144.689546     4843.037238       4374.482421             0.139373
29554      4144.689546     4843.037238       4374.482421             0.139373
29555      4144.689546     4843.037238       4374.482421             0.139373
29556      4144.689546     4843.037238       4374.482421             0.139373

[19696 rows x 30 columns]
       beat  beat_num district sector  Year Month   Watch  Beat  Crimes  \
0         1      1713       17      1  2015     1   Third  1713      16
1         1      1713       17      1  2015     1  Second  1713      20
2         1      1713       17      1  2015     1   First  1713      14
3         1      1713       17      1  2015     2  Second  1713      12
4         1      1713       17      1  2015     2   Third  1713      12
...     ...       ...      ...    ...   ...   ...     ...   ...     ...
19707     1       312        3      1  2016    11   First   312      11
19708     1       312        3      1  2016    11  Second   312      40
19709     1       312        3      1  2016    12   First   312      17
19710     1       312        3      1  2016    12  Second   312      39
19711     1       312        3      1  2016    12   Third   312      42

       Serious  ...  count_restaurants  count_bars  count_daycares  \
0         10.0  ...               63.0         9.0             6.0
1         13.0  ...               63.0         9.0             6.0
2          5.0  ...               63.0         9.0             6.0
3          7.0  ...               63.0         9.0             6.0
4          5.0  ...               63.0         9.0             6.0
...        ...  ...                ...         ...             ...
19707      7.0  ...               14.0         1.0             3.0
19708     20.0  ...               14.0         1.0             3.0
19709      8.0  ...               14.0         1.0             3.0
19710     20.0  ...               14.0         1.0             3.0
19711     21.0  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

      TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
0         13283.675264     5454.068890       3258.006066             0.155378
1         13283.675264     5454.068890       3258.006066             0.155378
2         13283.675264     5454.068890       3258.006066             0.155378
3         13283.675264     5454.068890       3258.006066             0.155378
4         13283.675264     5454.068890       3258.006066             0.155378
...                ...             ...               ...                  ...
19707      4144.689546     4843.037238       4374.482421             0.156794
19708      4144.689546     4843.037238       4374.482421             0.156794
19709      4144.689546     4843.037238       4374.482421             0.156794
19710      4144.689546     4843.037238       4374.482421             0.153310
19711      4144.689546     4843.037238       4374.482421             0.153310

[19712 rows x 30 columns]
Finished splitting...
Working on: [2018 2019]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...

Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

In [21]:
def compute_scores_final_data(grid, model, model_name, data_list, target, target_year):
    '''
    Function that computes dataframe for results of best models
    Inputs:
        grid (dict): maps the model_name to a list which contains a dictionary mapping parameter (keys) to their 
                     values in the gest model
        model (sklearn): An sklearn algorithm
        model_name: a string assigned to the model, typically the same as model without the last parentheses
        data_list: list of tuples of dataframes. IN THIS CASE, this should include for 2020
        target (string): the column we seek to predict in the data frames
        target_year (int): 2020, the year we seek to predict
    Output:
        results (df): a dataframe with the results
    
    Note: the code that removes the params columns comes from here: https://stackoverflow.com/questions/19071199/drop-columns-whose-name-contains-a-specific-string-from-pandas-dataframe
    '''
    results = results_by_year(model, 
                                    model_name, grid, 
                                    data_list, 
                                    target, 
                                    target_year)
    results["model_type"]= model_name
    results["params"]=results["parameters_2020"]
    
    bool_array = results.columns.str.startswith("parameters")
    results2 = results.loc[:,~bool_array]
    return results2

## Logistic Regression

In [22]:
#Logistic Regression!
grid_log_reg ={"LogisticRegression": [{'penalty': 'l2',
                              'C': 0.001,
                              'random_state': 0}]}
results_log = compute_scores_final_data(grid_log_reg, LogisticRegression(),
                                    "LogisticRegression", data_list_20, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]

ValueError: 3 columns passed, passed data had 2 columns

In [ ]:
results_log

## KNN

In [ ]:
#KNN!
grid_knn = {"KNeighborsClassifier": [{'weights': 'uniform', 'n_neighbors': 10}]}
results_knn = compute_scores_final_data(grid_knn, KNeighborsClassifier(),
                                    "KNeighborsClassifier", data_list_20, "high_crime", 2020)

In [ ]:
results_knn_to_plot = results_knn[["precision_2017", "precision_2018", "precision_2019", "precision_2020"]]

r = results_knn_to_plot.transpose().reset_index()
r

In [ ]:
sns.countplot(x=r["index"])

## SVM:

In [ ]:
grid_svm = { :[{}]}
results_svm = compute_scores_final_data()

## Naive Bayes:

In [ ]:
grid_nb = { :[{}]}
results_nb = compute_scores_final_data()

## Decision Tree:

In [ ]:
grid_dt = { :[{}]}
results_dt = compute_scores_final_data()

## Random Forest:

In [ ]:
grid_rf = { :[{}]}
results_rf = compute_scores_final_data()

## Aggregate Files:

In [ ]:
results = pd.concat([results_log, results_knn
#                    , results_svm, results_nb, results_dt, results_rf
                    ])
results