### Logistic Regression

#### Import Packages

In [52]:
%run ml_helpers.ipynb
%run ml.ipynb

         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
1123301     1123301  1731  2019      3   Third  0.00   0.0    47    31
1143637     1143637   114  2019      4   First  0.00   0.0    78    45
1210722     1210722  2221  2019      7   Third  0.40   0.0    84    72
1287552     1287552   123  2019     10  Second  3.45   0.0    51    39
1289224     1289224   632  2019     10   Third  0.00   0.0    52    41
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
1330332     1330332   422  2019     12   Third  0.85   0.0    58    48
1079227     1079227  1533  2019      1   First  0.21   3.3    32    30
1168768     1168768  1925  2019      5   First  0.00   0.0    83    72
1143310     1143310  1831  2019      4   Third  0.00   0.0    65    41
1125608     1125608  2424  2019      3   First  0.00   0.0    46    27

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
1123301            0.0  ...               54.0        11.0             3.0
1143637            0.0  ...              116.0        47.0             3.0
1210722            0.0  ...               36.0         6.0             2.0
1287552            2.0  ...              122.0        77.0             5.0
1289224            0.0  ...               35.0         2.0             4.0
...                ...  ...                ...         ...             ...
1330332            0.0  ...               11.0         0.0             1.0
1079227            1.0  ...               21.0         3.0             1.0
1168768            0.0  ...               87.0        48.0             2.0
1143310            1.0  ...              220.0       168.0             6.0
1125608            0.0  ...               27.0         7.0             4.0

         count_entertainment  count_businesses  road_distance_ft  \
1123301                  2.0             144.0          0.856700
1143637                  7.0             368.0          1.089054
1210722                  0.0             113.0          0.760258
1287552                 24.0             212.0          0.463918
1289224                  0.0              82.0          0.916229
...                      ...               ...               ...
1330332                  0.0              25.0          0.574125
1079227                  0.0              53.0          0.449942
1168768                 18.0             142.0          0.632332
1143310                 60.0             750.0          0.633247
1125608                  3.0              52.0          0.486110

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
1123301      12917.406946        0.022473          0.010655           0.0
1143637       9743.301103        0.022256          0.015583           0.0
1210722       7881.436708        0.035801          0.045899           0.0
1287552      13521.625505        0.013164          0.024473           1.0
1289224       9248.343590        0.029081          0.033151           0.0
...                   ...             ...               ...           ...
1330332       6260.193323        0.045373          0.019090           0.0
1079227       7038.112338        0.019818          0.013749           1.0
1168768      23057.847422        0.007241          0.010952           0.0
1143310       9746.448124        0.013669          0.014807           0.0
1125608      10974.366182        0.014715          0.029948           0.0

[256 rows x 22 columns]
         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
1066104     1066104   623  2018     12   First  0.00   0.0    34    24
1063210     1063210   612  2018     12  Second  0.05   0.0    49    39
923821       923821   133  2018      6   First  2.70   0.0    68    64
1040934     1040934  2223  2018     11   Third  0.10   1.3    38    25
894038       894038   324  2018      5  Second  0.00   0.0    69    52
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
1064450     1064450   512  2018     12   Third  0.06   0.0    40    31
843427       843427   624  2018      3   First  0.12   0.4    42    34
1001721     1001721  1214  2018      9   Third  0.53   0.0    84    63
891605       891605   726  2018      5   Third  0.03   0.0    57    49
846467       846467  1433  2018      3   Third  0.00   0.0    39    23

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
1066104            1.0  ...               42.0         3.0             6.0
1063210            0.0  ...               12.0         1.0             6.0
923821             0.0  ...                5.0         1.0             1.0
1040934            0.0  ...               11.0         1.0             4.0
894038             0.0  ...               23.0         1.0             4.0
...                ...  ...                ...         ...             ...
1064450            0.0  ...               18.0         1.0             3.0
843427             0.0  ...               36.0         6.0             5.0
1001721            2.0  ...              117.0        83.0             2.0
891605             0.0  ...               11.0         0.0             1.0
846467             0.0  ...               66.0        36.0             3.0

         count_entertainment  count_businesses  road_distance_ft  \
1066104                  1.0              79.0          0.783098
1063210                  0.0              35.0          0.622271
923821                   0.0              48.0          0.547783
1040934                  0.0              40.0          1.088571
894038                   1.0              49.0          0.804798
...                      ...               ...               ...
1064450                  1.0              31.0          1.113306
843427                   0.0             110.0          0.574488
1001721                 22.0             333.0          0.752525
891605                   0.0               9.0          0.401779
846467                  11.0             178.0          0.651032

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
1066104       6759.295725        0.019789          0.027108           0.0
1063210       9622.912845        0.011763          0.034967           0.0
923821        5619.141877        0.013416          0.004478           0.0
1040934       9716.153133        0.027890          0.036067           1.0
894038        7654.065927        0.016781          0.007209           0.0
...                   ...             ...               ...           ...
1064450       8761.853814        0.013792          0.018216           0.0
843427        8351.790851        0.012854          0.020856           0.0
1001721       7287.624351        0.013750          0.026424           1.0
891605        4763.346031        0.015261          0.019097           1.0
846467        8171.172717        0.022891          0.019866           0.0

[278 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
706367      706367   912  2017      8  Second  0.31   0.0    87    72
779419      779419  2411  2017     11   First  0.00   0.0    62    46
672960      672960   623  2017      7   Third  0.42   0.0    85    68
682429      682429   823  2017      7   Third  0.65   0.0    87    72
646656      646656  2532  2017      6   Third  0.00   0.0    76    58
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
666859      666859  1824  2017      7  Second  0.00   0.0    82    69
663119      663119  1831  2017      6   Third  0.28   0.0    83    63
783894      783894  1924  2017     12   Third  0.00   0.0    58    31
561768      561768   212  2017      2   First  0.00   0.0    25    14
588025      588025  1021  2017      3  Second  0.62   0.0    54    41

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
706367            1.0  ...               52.0         6.0             7.0
779419            0.0  ...               60.0        11.0             5.0
672960            1.0  ...               42.0         3.0             6.0
682429            0.0  ...               68.0         6.0             6.0
646656            0.0  ...               24.0         1.0             3.0
...               ...  ...                ...         ...             ...
666859            1.0  ...               75.0        79.0             3.0
663119            1.0  ...              220.0       168.0             6.0
783894            1.0  ...              128.0        90.0             8.0
561768            0.0  ...                7.0         2.0             0.0
588025            0.0  ...                5.0         0.0             1.0

        count_entertainment  count_businesses  road_distance_ft  \
706367                  0.0             151.0          1.343846
779419                  1.0             135.0          0.818497
672960                  1.0              79.0          0.783098
682429                  0.0             135.0          0.977021
646656                  1.0              71.0          0.499806
...                     ...               ...               ...
666859                 12.0             176.0          0.450907
663119                 60.0             750.0          0.633247
783894                 37.0             115.0          0.441366
561768                  1.0              38.0          0.478302
588025                  0.0               6.0          0.383696

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
706367      14747.874880        0.025219          0.035682           1.0
779419      23472.617731        0.026993          0.036871           0.0
672960       6759.295725        0.019789          0.027108           0.0
682429      22290.925452        0.001047          0.018951           0.0
646656      10608.011279        0.010199          0.034331           1.0
...                  ...             ...               ...           ...
666859      20553.959329        0.015616          0.012361           0.0
663119       9746.448124        0.013669          0.014807           0.0
783894      11323.989570        0.006767          0.008535           0.0
561768       7426.578206        0.011974          0.021306           0.0
588025       5045.433242        0.005713          0.014386           0.0

[266 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
306009      306009   421  2016      3   First  0.03   0.4    39    23
477581      477581   833  2016     10  Second  0.00   0.0    58    41
466881      466881  1212  2016      9  Second  0.32   0.0    68    60
303241      303241   724  2016      2   Third  0.05   0.0    64    38
389051      389051  2521  2016      6   Third  0.00   0.0    80    67
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
499070      499070   113  2016     11  Second  0.00   0.0    64    43
510936      510936  1812  2016     11   First  0.07   0.0    46    35
412574      412574   211  2016      7  Second  1.12   0.0    92    72
285275      285275  1524  2016      2   First  0.00   0.0    47    31
467267      467267   814  2016      9   Third  0.32   0.0    68    60

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
306009            0.0  ...                7.0         1.0             3.0
477581            0.0  ...               64.0         6.0             5.0
466881            0.0  ...               63.0        35.0             6.0
303241            0.0  ...               14.0         0.0             3.0
389051            0.0  ...               69.0         7.0             3.0
...               ...  ...                ...         ...             ...
499070            4.0  ...               91.0        23.0             1.0
510936            2.0  ...              119.0        48.0             5.0
412574            1.0  ...               37.0         3.0             0.0
285275            0.0  ...               24.0         1.0             4.0
467267            0.0  ...               30.0        10.0             1.0

        count_entertainment  count_businesses  road_distance_ft  \
306009                  0.0              37.0          0.499217
477581                  2.0             174.0          1.287641
466881                  6.0             127.0          0.544955
303241                  0.0               4.0          0.431013
389051                  4.0             215.0          0.915899
...                     ...               ...               ...
499070                  8.0             212.0          0.150686
510936                 13.0             126.0          0.418606
412574                  1.0              68.0          0.637590
285275                  0.0              41.0          0.547773
467267                  2.0              64.0          0.791764

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
306009      10253.749063        0.050269          0.015925           1.0
477581      20560.614401        0.023650          0.034665           0.0
466881      11069.533801        0.027630          0.003961           0.0
303241       4069.145706        0.007822          0.021753           0.0
389051      19733.417542        0.022036          0.020799           0.0
...                  ...             ...               ...           ...
499070       1746.267459        0.019029          0.018079           1.0
510936       8365.503423        0.018854          0.003387           0.0
412574       7553.461212        0.007595          0.012675           1.0
285275       6606.091846        0.018698          0.024720           0.0
467267       9690.564218        0.047393          0.066600           0.0

[234 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
205500      205500  1824  2015     10   Third  0.00   0.0    79    55
119507      119507   111  2015      6  Second  0.37   0.0    82    57
192229      192229   334  2015      9   First  0.00   0.0    74    56
221033      221033   323  2015     10   Third  0.00   0.0    48    38
188821      188821  2525  2015      9   Third  0.00   0.0    84    61
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
152243      152243   715  2015      8  Second  0.00   0.0    89    66
264046      264046   431  2015     12  Second  0.00   0.0    29    24
50793        50793   632  2015      3   Third  0.00   0.0    50    41
16105        16105   113  2015      1   Third  0.00   0.0    45    32
34010        34010   933  2015      2  Second  0.00   0.0    15     0

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
205500            1.0  ...               75.0        79.0             3.0
119507            3.0  ...              127.0        73.0             0.0
192229            0.0  ...               21.0         2.0             5.0
221033            0.0  ...               37.0         4.0             8.0
188821            0.0  ...               29.0         8.0             2.0
...               ...  ...                ...         ...             ...
152243            0.0  ...               12.0         0.0             1.0
264046            0.0  ...               36.0         7.0             1.0
50793             0.0  ...               35.0         2.0             4.0
16105             4.0  ...               91.0        23.0             1.0
34010             0.0  ...               19.0         5.0             0.0

        count_entertainment  count_businesses  road_distance_ft  \
205500                 12.0             176.0          0.450907
119507                 20.0             278.0          0.247834
192229                  0.0              55.0          0.405310
221033                  1.0              55.0          0.819839
188821                  3.0              85.0          0.474694
...                     ...               ...               ...
152243                  0.0              14.0          0.453819
264046                  1.0              54.0          1.563680
50793                   0.0              82.0          0.916229
16105                   8.0             212.0          0.150686
34010                   0.0              48.0          0.575957

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
205500      20553.959329        0.015616          0.012361           0.0
119507       1830.562201        0.023780          0.010850           0.0
192229       7167.008067        0.042814          0.015207           0.0
221033       7460.887096        0.008261          0.026222           1.0
188821      10593.560235        0.026441          0.019964           0.0
...                  ...             ...               ...           ...
152243       4421.854882        0.015885          0.029330           1.0
264046      11836.285893        0.009086          0.012915           0.0
50793        9248.343590        0.029081          0.033151           0.0
16105        1746.267459        0.019029          0.018079           0.0
34010        7088.921817        0.025387          0.034543           0.0

[298 rows x 22 columns]
Finished splitting...
Working on: [2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...

Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

In [17]:
import pandas as pd
import geopandas as gpd
import seaborn as sns
import numpy as np
import sklearn as sk
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import precision_score
from sklearn.decomposition import PCA
import datetime

#### Read and Process Data

In [53]:
data = pd.read_csv("../intermediate_data/high_crime_labeled.csv")
data = data.drop(columns=["beat", "beat_num", "Crimes", "Arrest", "Domestic", "Serious"])
data = convert_to_categorical(data, ["district", "sector",
                                    "Month",
                                     "Watch", "Beat"])
data.drop(columns = ["Unnamed: 0"], inplace=True)

In [54]:
data.dtypes

district               category
sector                 category
Year                      int64
Month                  category
Watch                  category
Beat                   category
TMAX                    float64
TMIN                    float64
PRCP                    float64
SNOW                    float64
high_crime              float64
count_l_stops           float64
count_bus_stops         float64
count_metra_stops       float64
count_restaurants       float64
count_bars              float64
count_daycares          float64
count_entertainment     float64
count_businesses        float64
road_distance_ft        float64
TOTAL POPULATION        float64
dist_to_police          float64
dist_to_hospital        float64
high_crime_geog_lag     float64
dtype: object

#### Setup ML

In [55]:
models = {
    'LogisticRegression': LogisticRegression(), 
}
grid = {
    'LogisticRegression': [{'penalty': x, 'C': y, 'random_state': 0} 
                           for x in ('l2', 'none') \
                           for y in (0.001, 0.01, 0.1, 1, 10, 100, 1000)]
}

In [10]:
grid

{'LogisticRegression': [{'penalty': 'l2', 'C': 0.001, 'random_state': 0},
  {'penalty': 'l2', 'C': 0.01, 'random_state': 0},
  {'penalty': 'l2', 'C': 0.1, 'random_state': 0},
  {'penalty': 'l2', 'C': 1, 'random_state': 0},
  {'penalty': 'l2', 'C': 10, 'random_state': 0},
  {'penalty': 'l2', 'C': 100, 'random_state': 0},
  {'penalty': 'l2', 'C': 1000, 'random_state': 0},
  {'penalty': 'none', 'C': 0.001, 'random_state': 0},
  {'penalty': 'none', 'C': 0.01, 'random_state': 0},
  {'penalty': 'none', 'C': 0.1, 'random_state': 0},
  {'penalty': 'none', 'C': 1, 'random_state': 0},
  {'penalty': 'none', 'C': 10, 'random_state': 0},
  {'penalty': 'none', 'C': 100, 'random_state': 0},
  {'penalty': 'none', 'C': 1000, 'random_state': 0}]}

In [56]:
data_list = prep_data(data, "high_crime",
                                        2, "Year", ["district", "sector", 
                                                    "Month", 
                                                    "Beat", "Watch"])

      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
29557       17      1  2018     1   First  1713  33.201426  18.884223  1.12
29558       17      1  2018     1  Second  1713  33.201426  18.884223  1.12
29559       17      1  2018     1   Third  1713  33.201426  18.884223  1.12
29560       17      1  2018     2   Third  1713  39.791635  22.439919  5.47
29561       17      1  2018     2   First  1713  39.791635  22.439919  5.47
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
49256        3      1  2019    11  Second   312  43.761013  29.648049  1.70
49257        3      1  2019    11   Third   312  43.761013  29.648049  1.70
49258        3      1  2019    12  Second   312  42.647269  27.854899  1.29
49259        3      1  2019    12   First   312  42.647269  27.854899  1.29
49260        3      1  2019    12   Third   312  42.647269  27.854899  1.29

       SNOW  ... count_restaurants  count_bars  count_daycares  \
29557   5.0  ...              63.0         9.0             6.0
29558   5.0  ...              63.0         9.0             6.0
29559   5.0  ...              63.0         9.0             6.0
29560  21.8  ...              63.0         9.0             6.0
29561  21.8  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
49256   2.9  ...              14.0         1.0             3.0
49257   2.9  ...              14.0         1.0             3.0
49258   1.8  ...              14.0         1.0             3.0
49259   1.8  ...              14.0         1.0             3.0
49260   1.8  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
29557      13283.675264     5454.068890       3258.006066             0.231076
29558      13283.675264     5454.068890       3258.006066             0.231076
29559      13283.675264     5454.068890       3258.006066             0.231076
29560      13283.675264     5454.068890       3258.006066             0.231076
29561      13283.675264     5454.068890       3258.006066             0.231076
...                 ...             ...               ...                  ...
49256       4144.689546     4843.037238       4374.482421             0.174216
49257       4144.689546     4843.037238       4374.482421             0.174216
49258       4144.689546     4843.037238       4374.482421             0.170732
49259       4144.689546     4843.037238       4374.482421             0.174216
49260       4144.689546     4843.037238       4374.482421             0.174216

[19704 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
19712       17      1  2017     1   First  1713  36.668219  25.445660  3.32
19713       17      1  2017     1   Third  1713  36.668219  25.445660  3.32
19714       17      1  2017     1  Second  1713  36.668219  25.445660  3.32
19715       17      1  2017     2  Second  1713  48.828937  30.957247  2.71
19716       17      1  2017     2   Third  1713  48.828937  30.957247  2.71
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
39402        3      1  2018    11   Third   312  40.859811  30.481732  3.11
39403        3      1  2018    11   First   312  40.859811  30.481732  3.11
39404        3      1  2018    12   First   312  40.587445  27.929352  3.00
39405        3      1  2018    12  Second   312  40.587445  27.929352  3.00
39406        3      1  2018    12   Third   312  40.587445  27.929352  3.00

       SNOW  ... count_restaurants  count_bars  count_daycares  \
19712   0.6  ...              63.0         9.0             6.0
19713   0.6  ...              63.0         9.0             6.0
19714   0.6  ...              63.0         9.0             6.0
19715   0.1  ...              63.0         9.0             6.0
19716   0.1  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
39402   9.2  ...              14.0         1.0             3.0
39403   9.2  ...              14.0         1.0             3.0
39404   0.8  ...              14.0         1.0             3.0
39405   0.8  ...              14.0         1.0             3.0
39406   0.8  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
19712      13283.675264     5454.068890       3258.006066             0.243028
19713      13283.675264     5454.068890       3258.006066             0.243028
19714      13283.675264     5454.068890       3258.006066             0.243028
19715      13283.675264     5454.068890       3258.006066             0.243028
19716      13283.675264     5454.068890       3258.006066             0.243028
...                 ...             ...               ...                  ...
39402       4144.689546     4843.037238       4374.482421             0.104530
39403       4144.689546     4843.037238       4374.482421             0.104530
39404       4144.689546     4843.037238       4374.482421             0.104530
39405       4144.689546     4843.037238       4374.482421             0.101045
39406       4144.689546     4843.037238       4374.482421             0.104530

[19695 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
9861        17      1  2016     1  Second  1713  34.634797  21.333060  0.99
9862        17      1  2016     1   Third  1713  34.634797  21.333060  0.99
9863        17      1  2016     1   First  1713  34.634797  21.333060  0.99
9864        17      1  2016     2   First  1713  39.873946  26.515109  1.32
9865        17      1  2016     2  Second  1713  39.873946  26.515109  1.32
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
29552        3      1  2017    11  Second   312  48.004051  33.954321  2.48
29553        3      1  2017    11   Third   312  48.004051  33.954321  2.48
29554        3      1  2017    12  Second   312  36.924981  23.299649  0.44
29555        3      1  2017    12   Third   312  36.924981  23.299649  0.44
29556        3      1  2017    12   First   312  36.924981  23.299649  0.44

       SNOW  ... count_restaurants  count_bars  count_daycares  \
9861    6.3  ...              63.0         9.0             6.0
9862    6.3  ...              63.0         9.0             6.0
9863    6.3  ...              63.0         9.0             6.0
9864    6.6  ...              63.0         9.0             6.0
9865    6.6  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
29552   0.0  ...              14.0         1.0             3.0
29553   0.0  ...              14.0         1.0             3.0
29554   5.9  ...              14.0         1.0             3.0
29555   5.9  ...              14.0         1.0             3.0
29556   5.9  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
9861       13283.675264     5454.068890       3258.006066             0.167331
9862       13283.675264     5454.068890       3258.006066             0.167331
9863       13283.675264     5454.068890       3258.006066             0.167331
9864       13283.675264     5454.068890       3258.006066             0.167331
9865       13283.675264     5454.068890       3258.006066             0.167331
...                 ...             ...               ...                  ...
29552       4144.689546     4843.037238       4374.482421             0.135889
29553       4144.689546     4843.037238       4374.482421             0.139373
29554       4144.689546     4843.037238       4374.482421             0.139373
29555       4144.689546     4843.037238       4374.482421             0.139373
29556       4144.689546     4843.037238       4374.482421             0.139373

[19696 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
0           17      1  2015     1   Third  1713  32.469987  20.138549  1.55
1           17      1  2015     1  Second  1713  32.469987  20.138549  1.55
2           17      1  2015     1   First  1713  32.469987  20.138549  1.55
3           17      1  2015     2  Second  1713  26.455588  10.647633  1.87
4           17      1  2015     2   Third  1713  26.455588  10.647633  1.87
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
19707        3      1  2016    11   First   312  56.907539  41.575555  2.15
19708        3      1  2016    11  Second   312  56.907539  41.575555  2.15
19709        3      1  2016    12   First   312  33.189478  22.018894  1.54
19710        3      1  2016    12  Second   312  33.189478  22.018894  1.54
19711        3      1  2016    12   Third   312  33.189478  22.018894  1.54

       SNOW  ... count_restaurants  count_bars  count_daycares  \
0      11.3  ...              63.0         9.0             6.0
1      11.3  ...              63.0         9.0             6.0
2      11.3  ...              63.0         9.0             6.0
3      28.3  ...              63.0         9.0             6.0
4      28.3  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
19707   0.0  ...              14.0         1.0             3.0
19708   0.0  ...              14.0         1.0             3.0
19709  15.2  ...              14.0         1.0             3.0
19710  15.2  ...              14.0         1.0             3.0
19711  15.2  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
0          13283.675264     5454.068890       3258.006066             0.155378
1          13283.675264     5454.068890       3258.006066             0.155378
2          13283.675264     5454.068890       3258.006066             0.155378
3          13283.675264     5454.068890       3258.006066             0.155378
4          13283.675264     5454.068890       3258.006066             0.155378
...                 ...             ...               ...                  ...
19707       4144.689546     4843.037238       4374.482421             0.156794
19708       4144.689546     4843.037238       4374.482421             0.156794
19709       4144.689546     4843.037238       4374.482421             0.156794
19710       4144.689546     4843.037238       4374.482421             0.153310
19711       4144.689546     4843.037238       4374.482421             0.153310

[19712 rows x 24 columns]
Finished splitting...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data

Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

In [57]:
data_list[0][1]

,Year,TMAX,TMIN,PRCP,SNOW,high_crime,count_l_stops,count_bus_stops,count_metra_stops,count_restaurants,...,Beat_2524,Beat_2525,Beat_2531,Beat_2532,Beat_2533,Beat_2534,Beat_2535,Watch_First,Watch_Second,Watch_Third
39407,2019,-1.638995,-1.575662,-0.754929,3.894522,0.0,3.213582,-0.590245,-0.438065,0.362205,...,0,0,0,0,0,0,0,1,0,0
39408,2019,-1.638995,-1.575662,-0.754929,3.894522,0.0,3.213582,-0.590245,-0.438065,0.362205,...,0,0,0,0,0,0,0,0,1,0
39409,2019,-1.638995,-1.575662,-0.754929,3.894522,0.0,3.213582,-0.590245,-0.438065,0.362205,...,0,0,0,0,0,0,0,0,0,1
39410,2019,-1.449889,-1.501326,-0.650552,0.957963,0.0,3.213582,-0.590245,-0.438065,0.362205,...,0,0,0,0,0,0,0,0,1,0
39411,2019,-1.449889,-1.501326,-0.650552,0.957963,0.0,3.213582,-0.590245,-0.438065,0.362205,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49256,2019,-0.939117,-0.914468,-0.850956,0.087121,0.0,1.951714,-0.251472,-0.438065,-0.704410,...,0,0,0,0,0,0,0,0,1,0
49257,2019,-0.939117,-0.914468,-0.850956,0.087121,0.0,1.951714,-0.251472,-0.438065,-0.704410,...,0,0,0,0,0,0,0,0,0,1
49258,2019,-0.999382,-1.020879,-1.022134,-0.135653,1.0,1.951714,-0.251472,-0.438065,-0.704410,...,0,0,0,0,0,0,0,0,1,0
49259,2019,-0.999382,-1.020879,-1.022134,-0.135653,0.0,1.951714,-0.251472,-0.438065,-0.704410,...,0,0,0,0,0,0,0,1,0,0
49260,2019,-0.999382,-1.020879,-1.022134,-0.135653,0.0,1.951714,-0.251472,-0.438065,-0.704410,...,0,0,0,0,0,0,0,0,0,1

In [58]:
data_list_pca = prep_data(data, "high_crime",
                                        2, "Year", 
                          ["district", "sector", 
                                                    "Month", 
                                                    "Beat", "Watch"], pca="yes!", 
                                                  columns_to_pca = ["TOTAL POPULATION", "dist_to_police",
                                                                   "dist_to_hospital", 
                                                  "count_l_stops", "count_bus_stops", 
                                               "count_metra_stops", "count_restaurants", "count_bars", 
                                               "count_daycares", "count_entertainment", "count_businesses", 
                                               "road_distance_ft"])

      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
29557       17      1  2018     1   First  1713  33.201426  18.884223  1.12
29558       17      1  2018     1  Second  1713  33.201426  18.884223  1.12
29559       17      1  2018     1   Third  1713  33.201426  18.884223  1.12
29560       17      1  2018     2   Third  1713  39.791635  22.439919  5.47
29561       17      1  2018     2   First  1713  39.791635  22.439919  5.47
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
49256        3      1  2019    11  Second   312  43.761013  29.648049  1.70
49257        3      1  2019    11   Third   312  43.761013  29.648049  1.70
49258        3      1  2019    12  Second   312  42.647269  27.854899  1.29
49259        3      1  2019    12   First   312  42.647269  27.854899  1.29
49260        3      1  2019    12   Third   312  42.647269  27.854899  1.29

       SNOW  ... count_restaurants  count_bars  count_daycares  \
29557   5.0  ...              63.0         9.0             6.0
29558   5.0  ...              63.0         9.0             6.0
29559   5.0  ...              63.0         9.0             6.0
29560  21.8  ...              63.0         9.0             6.0
29561  21.8  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
49256   2.9  ...              14.0         1.0             3.0
49257   2.9  ...              14.0         1.0             3.0
49258   1.8  ...              14.0         1.0             3.0
49259   1.8  ...              14.0         1.0             3.0
49260   1.8  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
29557      13283.675264     5454.068890       3258.006066             0.231076
29558      13283.675264     5454.068890       3258.006066             0.231076
29559      13283.675264     5454.068890       3258.006066             0.231076
29560      13283.675264     5454.068890       3258.006066             0.231076
29561      13283.675264     5454.068890       3258.006066             0.231076
...                 ...             ...               ...                  ...
49256       4144.689546     4843.037238       4374.482421             0.174216
49257       4144.689546     4843.037238       4374.482421             0.174216
49258       4144.689546     4843.037238       4374.482421             0.170732
49259       4144.689546     4843.037238       4374.482421             0.174216
49260       4144.689546     4843.037238       4374.482421             0.174216

[19704 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
19712       17      1  2017     1   First  1713  36.668219  25.445660  3.32
19713       17      1  2017     1   Third  1713  36.668219  25.445660  3.32
19714       17      1  2017     1  Second  1713  36.668219  25.445660  3.32
19715       17      1  2017     2  Second  1713  48.828937  30.957247  2.71
19716       17      1  2017     2   Third  1713  48.828937  30.957247  2.71
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
39402        3      1  2018    11   Third   312  40.859811  30.481732  3.11
39403        3      1  2018    11   First   312  40.859811  30.481732  3.11
39404        3      1  2018    12   First   312  40.587445  27.929352  3.00
39405        3      1  2018    12  Second   312  40.587445  27.929352  3.00
39406        3      1  2018    12   Third   312  40.587445  27.929352  3.00

       SNOW  ... count_restaurants  count_bars  count_daycares  \
19712   0.6  ...              63.0         9.0             6.0
19713   0.6  ...              63.0         9.0             6.0
19714   0.6  ...              63.0         9.0             6.0
19715   0.1  ...              63.0         9.0             6.0
19716   0.1  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
39402   9.2  ...              14.0         1.0             3.0
39403   9.2  ...              14.0         1.0             3.0
39404   0.8  ...              14.0         1.0             3.0
39405   0.8  ...              14.0         1.0             3.0
39406   0.8  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
19712      13283.675264     5454.068890       3258.006066             0.243028
19713      13283.675264     5454.068890       3258.006066             0.243028
19714      13283.675264     5454.068890       3258.006066             0.243028
19715      13283.675264     5454.068890       3258.006066             0.243028
19716      13283.675264     5454.068890       3258.006066             0.243028
...                 ...             ...               ...                  ...
39402       4144.689546     4843.037238       4374.482421             0.104530
39403       4144.689546     4843.037238       4374.482421             0.104530
39404       4144.689546     4843.037238       4374.482421             0.104530
39405       4144.689546     4843.037238       4374.482421             0.101045
39406       4144.689546     4843.037238       4374.482421             0.104530

[19695 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
9861        17      1  2016     1  Second  1713  34.634797  21.333060  0.99
9862        17      1  2016     1   Third  1713  34.634797  21.333060  0.99
9863        17      1  2016     1   First  1713  34.634797  21.333060  0.99
9864        17      1  2016     2   First  1713  39.873946  26.515109  1.32
9865        17      1  2016     2  Second  1713  39.873946  26.515109  1.32
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
29552        3      1  2017    11  Second   312  48.004051  33.954321  2.48
29553        3      1  2017    11   Third   312  48.004051  33.954321  2.48
29554        3      1  2017    12  Second   312  36.924981  23.299649  0.44
29555        3      1  2017    12   Third   312  36.924981  23.299649  0.44
29556        3      1  2017    12   First   312  36.924981  23.299649  0.44

       SNOW  ... count_restaurants  count_bars  count_daycares  \
9861    6.3  ...              63.0         9.0             6.0
9862    6.3  ...              63.0         9.0             6.0
9863    6.3  ...              63.0         9.0             6.0
9864    6.6  ...              63.0         9.0             6.0
9865    6.6  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
29552   0.0  ...              14.0         1.0             3.0
29553   0.0  ...              14.0         1.0             3.0
29554   5.9  ...              14.0         1.0             3.0
29555   5.9  ...              14.0         1.0             3.0
29556   5.9  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
9861       13283.675264     5454.068890       3258.006066             0.167331
9862       13283.675264     5454.068890       3258.006066             0.167331
9863       13283.675264     5454.068890       3258.006066             0.167331
9864       13283.675264     5454.068890       3258.006066             0.167331
9865       13283.675264     5454.068890       3258.006066             0.167331
...                 ...             ...               ...                  ...
29552       4144.689546     4843.037238       4374.482421             0.135889
29553       4144.689546     4843.037238       4374.482421             0.139373
29554       4144.689546     4843.037238       4374.482421             0.139373
29555       4144.689546     4843.037238       4374.482421             0.139373
29556       4144.689546     4843.037238       4374.482421             0.139373

[19696 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
0           17      1  2015     1   Third  1713  32.469987  20.138549  1.55
1           17      1  2015     1  Second  1713  32.469987  20.138549  1.55
2           17      1  2015     1   First  1713  32.469987  20.138549  1.55
3           17      1  2015     2  Second  1713  26.455588  10.647633  1.87
4           17      1  2015     2   Third  1713  26.455588  10.647633  1.87
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
19707        3      1  2016    11   First   312  56.907539  41.575555  2.15
19708        3      1  2016    11  Second   312  56.907539  41.575555  2.15
19709        3      1  2016    12   First   312  33.189478  22.018894  1.54
19710        3      1  2016    12  Second   312  33.189478  22.018894  1.54
19711        3      1  2016    12   Third   312  33.189478  22.018894  1.54

       SNOW  ... count_restaurants  count_bars  count_daycares  \
0      11.3  ...              63.0         9.0             6.0
1      11.3  ...              63.0         9.0             6.0
2      11.3  ...              63.0         9.0             6.0
3      28.3  ...              63.0         9.0             6.0
4      28.3  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
19707   0.0  ...              14.0         1.0             3.0
19708   0.0  ...              14.0         1.0             3.0
19709  15.2  ...              14.0         1.0             3.0
19710  15.2  ...              14.0         1.0             3.0
19711  15.2  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
0          13283.675264     5454.068890       3258.006066             0.155378
1          13283.675264     5454.068890       3258.006066             0.155378
2          13283.675264     5454.068890       3258.006066             0.155378
3          13283.675264     5454.068890       3258.006066             0.155378
4          13283.675264     5454.068890       3258.006066             0.155378
...                 ...             ...               ...                  ...
19707       4144.689546     4843.037238       4374.482421             0.156794
19708       4144.689546     4843.037238       4374.482421             0.156794
19709       4144.689546     4843.037238       4374.482421             0.156794
19710       4144.689546     4843.037238       4374.482421             0.153310
19711       4144.689546     4843.037238       4374.482421             0.153310

[19712 rows x 24 columns]
Finished splitting...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data

Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.852368
1    0.852368
2    0.852368
3    0.852368
4    0.852368
Name: principal component 1, dtype: float64
(19695, 2) (19695, 322)
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.85269
1    0.85269
2    0.85269
3    0.85269
4    0.85269
Name: principal component 1, dtype: float64
(19696, 2) (19696, 322)
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.856576
1    0.856576
2    0.856576
3    0.856576
4    0.856576
Name: principal component 1, dtype: float64
(19712, 2) (19712, 322)

In [59]:
logistic_results_pca = average_grid_searches(LogisticRegression(), "LogisticRegression", 
                          grid, 
                          data_list_pca, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]

In [ ]:
logistic_results = average_grid_searches(LogisticRegression(), "LogisticRegression", 
                          grid, 
                          data_list, "high_crime", 2020)

In [12]:
logistic_results.to_csv("../final_data/log_reg_results.csv")

In [60]:
logistic_results_pca

,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,"{'penalty': 'l2', 'C': 0.001, 'random_state': 0}",0.763417,"{'penalty': 'l2', 'C': 0.001, 'random_state': 0}",0.786184,"{'penalty': 'l2', 'C': 0.001, 'random_state': 0}",0.732948,0.760850
0,"{'penalty': 'l2', 'C': 0.01, 'random_state': 0}",0.749498,"{'penalty': 'l2', 'C': 0.01, 'random_state': 0}",0.725907,"{'penalty': 'l2', 'C': 0.01, 'random_state': 0}",0.746371,0.740592
0,"{'penalty': 'l2', 'C': 0.1, 'random_state': 0}",0.716374,"{'penalty': 'l2', 'C': 0.1, 'random_state': 0}",0.707344,"{'penalty': 'l2', 'C': 0.1, 'random_state': 0}",0.723997,0.715905
0,"{'penalty': 'none', 'C': 0.001, 'random_state'...",0.727001,"{'penalty': 'none', 'C': 0.001, 'random_state'...",0.696150,"{'penalty': 'none', 'C': 0.001, 'random_state'...",0.709322,0.710824
0,"{'penalty': 'none', 'C': 0.01, 'random_state': 0}",0.727001,"{'penalty': 'none', 'C': 0.01, 'random_state': 0}",0.696150,"{'penalty': 'none', 'C': 0.01, 'random_state': 0}",0.709322,0.710824
0,"{'penalty': 'none', 'C': 0.1, 'random_state': 0}",0.727001,"{'penalty': 'none', 'C': 0.1, 'random_state': 0}",0.696150,"{'penalty': 'none', 'C': 0.1, 'random_state': 0}",0.709322,0.710824
0,"{'penalty': 'none', 'C': 1, 'random_state': 0}",0.727001,"{'penalty': 'none', 'C': 1, 'random_state': 0}",0.696150,"{'penalty': 'none', 'C': 1, 'random_state': 0}",0.709322,0.710824
0,"{'penalty': 'none', 'C': 10, 'random_state': 0}",0.727001,"{'penalty': 'none', 'C': 10, 'random_state': 0}",0.696150,"{'penalty': 'none', 'C': 10, 'random_state': 0}",0.709322,0.710824
0,"{'penalty': 'none', 'C': 100, 'random_state': 0}",0.727001,"{'penalty': 'none', 'C': 100, 'random_state': 0}",0.696150,"{'penalty': 'none', 'C': 100, 'random_state': 0}",0.709322,0.710824
0,"{'penalty': 'none', 'C': 1000, 'random_state': 0}",0.727001,"{'penalty': 'none', 'C': 1000, 'random_state': 0}",0.696150,"{'penalty': 'none', 'C': 1000, 'random_state': 0}",0.709322,0.710824
0,"{'penalty': 'l2', 'C': 10, 'random_state': 0}",0.696456,"{'penalty': 'l2', 'C': 10, 'random_state': 0}",0.706362,"{'penalty': 'l2', 'C': 10, 'random_state': 0}",0.714117,0.705645
0,"{'penalty': 'l2', 'C': 100, 'random_state': 0}",0.693040,"{'penalty': 'l2', 'C': 100, 'random_state': 0}",0.705786,"{'penalty': 'l2', 'C': 100, 'random_state': 0}",0.705643,0.701489
0,"{'penalty': 'l2', 'C': 1, 'random_state': 0}",0.694940,"{'penalty': 'l2', 'C': 1, 'random_state': 0}",0.699281,"{'penalty': 'l2', 'C': 1, 'random_state': 0}",0.702749,0.698990
0,"{'penalty': 'l2', 'C': 1000, 'random_state': 0}",0.695147,"{'penalty': 'l2', 'C': 1000, 'random_state': 0}",0.694708,"{'penalty': 'l2', 'C': 1000, 'random_state': 0}",0.707006,0.698954

In [44]:
logistic_results

,parameters_2020,precision_2020,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,"{'penalty': 'l2', 'C': 0.01, 'random_state': 0}",0.674018,"{'penalty': 'l2', 'C': 0.01, 'random_state': 0}",0.743653,"{'penalty': 'l2', 'C': 0.01, 'random_state': 0}",0.722716,"{'penalty': 'l2', 'C': 0.01, 'random_state': 0}",0.745098,0.721371
0,"{'penalty': 'l2', 'C': 0.1, 'random_state': 0}",0.654747,"{'penalty': 'l2', 'C': 0.1, 'random_state': 0}",0.723393,"{'penalty': 'l2', 'C': 0.1, 'random_state': 0}",0.705056,"{'penalty': 'l2', 'C': 0.1, 'random_state': 0}",0.732480,0.703919
0,"{'penalty': 'l2', 'C': 10, 'random_state': 0}",0.641465,"{'penalty': 'l2', 'C': 10, 'random_state': 0}",0.737089,"{'penalty': 'l2', 'C': 10, 'random_state': 0}",0.705755,"{'penalty': 'l2', 'C': 10, 'random_state': 0}",0.730567,0.703719
0,"{'penalty': 'l2', 'C': 100, 'random_state': 0}",0.651051,"{'penalty': 'l2', 'C': 100, 'random_state': 0}",0.714737,"{'penalty': 'l2', 'C': 100, 'random_state': 0}",0.705338,"{'penalty': 'l2', 'C': 100, 'random_state': 0}",0.725548,0.699168
0,"{'penalty': 'l2', 'C': 1, 'random_state': 0}",0.647702,"{'penalty': 'l2', 'C': 1, 'random_state': 0}",0.713605,"{'penalty': 'l2', 'C': 1, 'random_state': 0}",0.701998,"{'penalty': 'l2', 'C': 1, 'random_state': 0}",0.730083,0.698347
0,"{'penalty': 'none', 'C': 0.01, 'random_state': 0}",0.648004,"{'penalty': 'none', 'C': 0.01, 'random_state': 0}",0.714210,"{'penalty': 'none', 'C': 0.01, 'random_state': 0}",0.697990,"{'penalty': 'none', 'C': 0.01, 'random_state': 0}",0.726841,0.696761
0,"{'penalty': 'none', 'C': 0.1, 'random_state': 0}",0.648004,"{'penalty': 'none', 'C': 0.1, 'random_state': 0}",0.714210,"{'penalty': 'none', 'C': 0.1, 'random_state': 0}",0.697990,"{'penalty': 'none', 'C': 0.1, 'random_state': 0}",0.726841,0.696761
0,"{'penalty': 'none', 'C': 1, 'random_state': 0}",0.648004,"{'penalty': 'none', 'C': 1, 'random_state': 0}",0.714210,"{'penalty': 'none', 'C': 1, 'random_state': 0}",0.697990,"{'penalty': 'none', 'C': 1, 'random_state': 0}",0.726841,0.696761
0,"{'penalty': 'none', 'C': 10, 'random_state': 0}",0.648004,"{'penalty': 'none', 'C': 10, 'random_state': 0}",0.714210,"{'penalty': 'none', 'C': 10, 'random_state': 0}",0.697990,"{'penalty': 'none', 'C': 10, 'random_state': 0}",0.726841,0.696761
0,"{'penalty': 'none', 'C': 100, 'random_state': 0}",0.648004,"{'penalty': 'none', 'C': 100, 'random_state': 0}",0.714210,"{'penalty': 'none', 'C': 100, 'random_state': 0}",0.697990,"{'penalty': 'none', 'C': 100, 'random_state': 0}",0.726841,0.696761

Hello