In [3]:
import pandas as pd
import geopandas as gpd
import seaborn as sns
import numpy as np
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import precision_score
import datetime

/Users/marielwiechers/my_env/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [4]:
%run ml_helpers.ipynb
%run ml.ipynb

       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
29557         108     1      1713        17       1  2018     1   First  1713
29558         109     1      1713        17       1  2018     1  Second  1713
29559         110     1      1713        17       1  2018     1   Third  1713
29560         111     1      1713        17       1  2018     2   Third  1713
29561         112     1      1713        17       1  2018     2   First  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
49256       59052     1       312         3       1  2019    11  Second   312
49257       59053     1       312         3       1  2019    11   Third   312
49258       59054     1       312         3       1  2019    12  Second   312
49259       59055     1       312         3       1  2019    12   First   312
49260       59056     1       312         3       1  2019    12   Third   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
29557       8  ...               63.0         9.0             6.0
29558      16  ...               63.0         9.0             6.0
29559      24  ...               63.0         9.0             6.0
29560      16  ...               63.0         9.0             6.0
29561       8  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
49256      43  ...               14.0         1.0             3.0
49257      28  ...               14.0         1.0             3.0
49258      33  ...               14.0         1.0             3.0
49259      19  ...               14.0         1.0             3.0
49260      31  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
29557      13283.675264    5454.068890       3258.006066             0.231076
29558      13283.675264    5454.068890       3258.006066             0.231076
29559      13283.675264    5454.068890       3258.006066             0.231076
29560      13283.675264    5454.068890       3258.006066             0.231076
29561      13283.675264    5454.068890       3258.006066             0.231076
...                 ...            ...               ...                  ...
49256       4144.689546    4843.037238       4374.482421             0.174216
49257       4144.689546    4843.037238       4374.482421             0.174216
49258       4144.689546    4843.037238       4374.482421             0.170732
49259       4144.689546    4843.037238       4374.482421             0.174216
49260       4144.689546    4843.037238       4374.482421             0.174216

[19704 rows x 31 columns]
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
19712          72     1      1713        17       1  2017     1   First  1713
19713          73     1      1713        17       1  2017     1   Third  1713
19714          74     1      1713        17       1  2017     1  Second  1713
19715          75     1      1713        17       1  2017     2  Second  1713
19716          76     1      1713        17       1  2017     2   Third  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
39402       59016     1       312         3       1  2018    11   Third   312
39403       59017     1       312         3       1  2018    11   First   312
39404       59018     1       312         3       1  2018    12   First   312
39405       59019     1       312         3       1  2018    12  Second   312
39406       59020     1       312         3       1  2018    12   Third   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
19712      17  ...               63.0         9.0             6.0
19713      23  ...               63.0         9.0             6.0
19714      17  ...               63.0         9.0             6.0
19715      10  ...               63.0         9.0             6.0
19716      19  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
39402      33  ...               14.0         1.0             3.0
39403      12  ...               14.0         1.0             3.0
39404      15  ...               14.0         1.0             3.0
39405      36  ...               14.0         1.0             3.0
39406      34  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
19712      13283.675264    5454.068890       3258.006066             0.243028
19713      13283.675264    5454.068890       3258.006066             0.243028
19714      13283.675264    5454.068890       3258.006066             0.243028
19715      13283.675264    5454.068890       3258.006066             0.243028
19716      13283.675264    5454.068890       3258.006066             0.243028
...                 ...            ...               ...                  ...
39402       4144.689546    4843.037238       4374.482421             0.104530
39403       4144.689546    4843.037238       4374.482421             0.104530
39404       4144.689546    4843.037238       4374.482421             0.104530
39405       4144.689546    4843.037238       4374.482421             0.101045
39406       4144.689546    4843.037238       4374.482421             0.104530

[19695 rows x 31 columns]
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
9861           36     1      1713        17       1  2016     1  Second  1713
9862           37     1      1713        17       1  2016     1   Third  1713
9863           38     1      1713        17       1  2016     1   First  1713
9864           39     1      1713        17       1  2016     2   First  1713
9865           40     1      1713        17       1  2016     2  Second  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
29552       58980     1       312         3       1  2017    11  Second   312
29553       58981     1       312         3       1  2017    11   Third   312
29554       58982     1       312         3       1  2017    12  Second   312
29555       58983     1       312         3       1  2017    12   Third   312
29556       58984     1       312         3       1  2017    12   First   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
9861       20  ...               63.0         9.0             6.0
9862       18  ...               63.0         9.0             6.0
9863        8  ...               63.0         9.0             6.0
9864        9  ...               63.0         9.0             6.0
9865       21  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
29552      45  ...               14.0         1.0             3.0
29553      35  ...               14.0         1.0             3.0
29554      29  ...               14.0         1.0             3.0
29555      42  ...               14.0         1.0             3.0
29556      22  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
9861       13283.675264    5454.068890       3258.006066             0.167331
9862       13283.675264    5454.068890       3258.006066             0.167331
9863       13283.675264    5454.068890       3258.006066             0.167331
9864       13283.675264    5454.068890       3258.006066             0.167331
9865       13283.675264    5454.068890       3258.006066             0.167331
...                 ...            ...               ...                  ...
29552       4144.689546    4843.037238       4374.482421             0.135889
29553       4144.689546    4843.037238       4374.482421             0.139373
29554       4144.689546    4843.037238       4374.482421             0.139373
29555       4144.689546    4843.037238       4374.482421             0.139373
29556       4144.689546    4843.037238       4374.482421             0.139373

[19696 rows x 31 columns]
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
0               0     1      1713        17       1  2015     1   Third  1713
1               1     1      1713        17       1  2015     1  Second  1713
2               2     1      1713        17       1  2015     1   First  1713
3               3     1      1713        17       1  2015     2  Second  1713
4               4     1      1713        17       1  2015     2   Third  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
19707       58944     1       312         3       1  2016    11   First   312
19708       58945     1       312         3       1  2016    11  Second   312
19709       58946     1       312         3       1  2016    12   First   312
19710       58947     1       312         3       1  2016    12  Second   312
19711       58948     1       312         3       1  2016    12   Third   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
0          16  ...               63.0         9.0             6.0
1          20  ...               63.0         9.0             6.0
2          14  ...               63.0         9.0             6.0
3          12  ...               63.0         9.0             6.0
4          12  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
19707      11  ...               14.0         1.0             3.0
19708      40  ...               14.0         1.0             3.0
19709      17  ...               14.0         1.0             3.0
19710      39  ...               14.0         1.0             3.0
19711      42  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
0          13283.675264    5454.068890       3258.006066             0.155378
1          13283.675264    5454.068890       3258.006066             0.155378
2          13283.675264    5454.068890       3258.006066             0.155378
3          13283.675264    5454.068890       3258.006066             0.155378
4          13283.675264    5454.068890       3258.006066             0.155378
...                 ...            ...               ...                  ...
19707       4144.689546    4843.037238       4374.482421             0.156794
19708       4144.689546    4843.037238       4374.482421             0.156794
19709       4144.689546    4843.037238       4374.482421             0.156794
19710       4144.689546    4843.037238       4374.482421             0.153310
19711       4144.689546    4843.037238       4374.482421             0.153310

[19712 rows x 31 columns]
Finished splitting...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...

/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-4-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
<ipython-input-4-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

Finished one-hot encoding...
Finished standardizing...
0    0.852368
1    0.852368
2    0.852368
3    0.852368
4    0.852368
Name: principal component 1, dtype: float64
(19695, 2) (19695, 328)
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...

/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-4-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
<ipython-input-4-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.85269
1    0.85269
2    0.85269
3    0.85269
4    0.85269
Name: principal component 1, dtype: float64
(19696, 2) (19696, 328)
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data

/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-4-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
<ipython-input-4-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.856576
1    0.856576
2    0.856576
3    0.856576
4    0.856576
Name: principal component 1, dtype: float64
(19712, 2) (19712, 328)
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
29557         108     1      1713        17       1  2018     1   First  1713
29558         109     1      1713        17       1  2018     1  Second  1713
29559         110     1      1713        17       1  2018     1   Third  1713
29560         111     1      1713        17       1  2018     2   Third  1713
29561         112     1      1713        17       1  2018     2   First  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
49256       59052     1       312         3       1  2019    11  Second   312
49257       59053     1       312         3       1  2019    11   Third   312
49258       59054     1       312         3       1  2019    12  Second   312
49259       59055     1       312         3       1  2019    12   First   312
49260       59056     1       312         3       1  2019    12   Third   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
29557       8  ...               63.0         9.0             6.0
29558      16  ...               63.0         9.0             6.0
29559      24  ...               63.0         9.0             6.0
29560      16  ...               63.0         9.0             6.0
29561       8  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
49256      43  ...               14.0         1.0             3.0
49257      28  ...               14.0         1.0             3.0
49258      33  ...               14.0         1.0             3.0
49259      19  ...               14.0         1.0             3.0
49260      31  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
29557      13283.675264    5454.068890       3258.006066             0.231076
29558      13283.675264    5454.068890       3258.006066             0.231076
29559      13283.675264    5454.068890       3258.006066             0.231076
29560      13283.675264    5454.068890       3258.006066             0.231076
29561      13283.675264    5454.068890       3258.006066             0.231076
...                 ...            ...               ...                  ...
49256       4144.689546    4843.037238       4374.482421             0.174216
49257       4144.689546    4843.037238       4374.482421             0.174216
49258       4144.689546    4843.037238       4374.482421             0.170732
49259       4144.689546    4843.037238       4374.482421             0.174216
49260       4144.689546    4843.037238       4374.482421             0.174216

[19704 rows x 31 columns]
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
19712          72     1      1713        17       1  2017     1   First  1713
19713          73     1      1713        17       1  2017     1   Third  1713
19714          74     1      1713        17       1  2017     1  Second  1713
19715          75     1      1713        17       1  2017     2  Second  1713
19716          76     1      1713        17       1  2017     2   Third  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
39402       59016     1       312         3       1  2018    11   Third   312
39403       59017     1       312         3       1  2018    11   First   312
39404       59018     1       312         3       1  2018    12   First   312
39405       59019     1       312         3       1  2018    12  Second   312
39406       59020     1       312         3       1  2018    12   Third   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
19712      17  ...               63.0         9.0             6.0
19713      23  ...               63.0         9.0             6.0
19714      17  ...               63.0         9.0             6.0
19715      10  ...               63.0         9.0             6.0
19716      19  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
39402      33  ...               14.0         1.0             3.0
39403      12  ...               14.0         1.0             3.0
39404      15  ...               14.0         1.0             3.0
39405      36  ...               14.0         1.0             3.0
39406      34  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
19712      13283.675264    5454.068890       3258.006066             0.243028
19713      13283.675264    5454.068890       3258.006066             0.243028
19714      13283.675264    5454.068890       3258.006066             0.243028
19715      13283.675264    5454.068890       3258.006066             0.243028
19716      13283.675264    5454.068890       3258.006066             0.243028
...                 ...            ...               ...                  ...
39402       4144.689546    4843.037238       4374.482421             0.104530
39403       4144.689546    4843.037238       4374.482421             0.104530
39404       4144.689546    4843.037238       4374.482421             0.104530
39405       4144.689546    4843.037238       4374.482421             0.101045
39406       4144.689546    4843.037238       4374.482421             0.104530

[19695 rows x 31 columns]
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
9861           36     1      1713        17       1  2016     1  Second  1713
9862           37     1      1713        17       1  2016     1   Third  1713
9863           38     1      1713        17       1  2016     1   First  1713
9864           39     1      1713        17       1  2016     2   First  1713
9865           40     1      1713        17       1  2016     2  Second  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
29552       58980     1       312         3       1  2017    11  Second   312
29553       58981     1       312         3       1  2017    11   Third   312
29554       58982     1       312         3       1  2017    12  Second   312
29555       58983     1       312         3       1  2017    12   Third   312
29556       58984     1       312         3       1  2017    12   First   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
9861       20  ...               63.0         9.0             6.0
9862       18  ...               63.0         9.0             6.0
9863        8  ...               63.0         9.0             6.0
9864        9  ...               63.0         9.0             6.0
9865       21  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
29552      45  ...               14.0         1.0             3.0
29553      35  ...               14.0         1.0             3.0
29554      29  ...               14.0         1.0             3.0
29555      42  ...               14.0         1.0             3.0
29556      22  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
9861       13283.675264    5454.068890       3258.006066             0.167331
9862       13283.675264    5454.068890       3258.006066             0.167331
9863       13283.675264    5454.068890       3258.006066             0.167331
9864       13283.675264    5454.068890       3258.006066             0.167331
9865       13283.675264    5454.068890       3258.006066             0.167331
...                 ...            ...               ...                  ...
29552       4144.689546    4843.037238       4374.482421             0.135889
29553       4144.689546    4843.037238       4374.482421             0.139373
29554       4144.689546    4843.037238       4374.482421             0.139373
29555       4144.689546    4843.037238       4374.482421             0.139373
29556       4144.689546    4843.037238       4374.482421             0.139373

[19696 rows x 31 columns]
       Unnamed: 0  beat  beat_num  district  sector  Year Month   Watch  Beat  \
0               0     1      1713        17       1  2015     1   Third  1713
1               1     1      1713        17       1  2015     1  Second  1713
2               2     1      1713        17       1  2015     1   First  1713
3               3     1      1713        17       1  2015     2  Second  1713
4               4     1      1713        17       1  2015     2   Third  1713
...           ...   ...       ...       ...     ...   ...   ...     ...   ...
19707       58944     1       312         3       1  2016    11   First   312
19708       58945     1       312         3       1  2016    11  Second   312
19709       58946     1       312         3       1  2016    12   First   312
19710       58947     1       312         3       1  2016    12  Second   312
19711       58948     1       312         3       1  2016    12   Third   312

       Crimes  ...  count_restaurants  count_bars  count_daycares  \
0          16  ...               63.0         9.0             6.0
1          20  ...               63.0         9.0             6.0
2          14  ...               63.0         9.0             6.0
3          12  ...               63.0         9.0             6.0
4          12  ...               63.0         9.0             6.0
...       ...  ...                ...         ...             ...
19707      11  ...               14.0         1.0             3.0
19708      40  ...               14.0         1.0             3.0
19709      17  ...               14.0         1.0             3.0
19710      39  ...               14.0         1.0             3.0
19711      42  ...               14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

       TOTAL POPULATION dist_to_police  dist_to_hospital  high_crime_geog_lag
0          13283.675264    5454.068890       3258.006066             0.155378
1          13283.675264    5454.068890       3258.006066             0.155378
2          13283.675264    5454.068890       3258.006066             0.155378
3          13283.675264    5454.068890       3258.006066             0.155378
4          13283.675264    5454.068890       3258.006066             0.155378
...                 ...            ...               ...                  ...
19707       4144.689546    4843.037238       4374.482421             0.156794
19708       4144.689546    4843.037238       4374.482421             0.156794
19709       4144.689546    4843.037238       4374.482421             0.156794
19710       4144.689546    4843.037238       4374.482421             0.153310
19711       4144.689546    4843.037238       4374.482421             0.153310

[19712 rows x 31 columns]
Finished splitting...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...

/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-4-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
<ipython-input-4-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

Finished standardizing...
0    0.852368
1    0.852368
2    0.852368
3    0.852368
4    0.852368
Name: principal component 1, dtype: float64
(19695, 2) (19695, 328)
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data

/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-4-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
<ipython-input-4-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.85269
1    0.85269
2    0.85269
3    0.85269
4    0.85269
Name: principal component 1, dtype: float64
(19696, 2) (19696, 328)
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data

/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-4-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
<ipython-input-4-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.856576
1    0.856576
2    0.856576
3    0.856576
4    0.856576
Name: principal component 1, dtype: float64
(19712, 2) (19712, 328)
         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
1171461     1171461   622  2019      5  Second  0.75   0.0    71    52
1254758     1254758   113  2019      9  Second  0.03   0.0    91    70
1237714     1237714   631  2019      8   Third  0.04   0.0    85    71
1238985     1238985   723  2019      8  Second  0.00   0.0    84    65
1252561     1252561  1723  2019      9  Second  0.05   0.0    67    62
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
1247086     1247086   811  2019      9   First  0.94   0.0    73    62
1109928     1109928   333  2019      3   First  0.00   0.0    35    28
1193580     1193580  1832  2019      6   Third  0.00   0.0    87    63
1183388     1183388   211  2019      6   Third  0.68   0.0    74    56
1230151     1230151   414  2019      8   First  0.00   0.0    86    67

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
1171461            0.0  ...               25.0         2.0             0.0
1254758            4.0  ...               91.0        23.0             1.0
1237714            0.0  ...               20.0         2.0             1.0
1238985            1.0  ...               11.0         0.0             3.0
1252561            0.0  ...               84.0        11.0             4.0
...                ...  ...                ...         ...             ...
1247086            0.0  ...               63.0        20.0             4.0
1109928            0.0  ...               16.0         1.0             2.0
1193580            0.0  ...               91.0        69.0             3.0
1183388            1.0  ...               37.0         3.0             0.0
1230151            0.0  ...               24.0         1.0             6.0

         count_entertainment  count_businesses  road_distance_ft  \
1171461                  1.0              56.0          0.707590
1254758                  8.0             212.0          0.150686
1237714                  2.0              50.0          0.646037
1238985                  0.0              24.0          0.457256
1252561                  2.0             213.0          0.730680
...                      ...               ...               ...
1247086                  2.0             139.0          1.245629
1109928                  0.0              61.0          0.331393
1193580                 20.0             166.0          0.268514
1183388                  1.0              68.0          0.637590
1230151                  1.0              81.0          0.962700

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
1171461       2863.111097        0.014556          0.036939           1.0
1254758       1746.267459        0.019029          0.018079           0.0
1237714       9263.460487        0.020910          0.027456           0.0
1238985       4728.012863        0.016164          0.012290           0.0
1252561      21918.533664        0.009337          0.022443           1.0
...                   ...             ...               ...           ...
1247086      22122.914655        0.074246          0.082365           0.0
1109928       4638.388966        0.032544          0.012128           1.0
1193580       8038.135255        0.014020          0.009861           0.0
1183388       7553.461212        0.007595          0.012675           0.0
1230151      11696.404888        0.034587          0.006471           0.0

[257 rows x 22 columns]
         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
1037247     1037247   221  2018     11   First   0.0   0.0    30    20
963548       963548   825  2018      8  Second   0.0   0.0    82    69
1013351     1013351   322  2018     10   Third   0.0   0.0    52    40
1042658     1042658   612  2018     11  Second   0.0   0.0    38    29
882831       882831  1724  2018      4   Third   0.0   0.0    80    42
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
964443       964443   735  2018      8   Third   0.0   0.0    91    68
878496       878496  1421  2018      4   First   0.0   0.0    53    39
929799       929799   712  2018      6  Second   0.0   0.0    87    66
881714       881714   813  2018      4  Second   0.0   0.0    57    33
876742       876742  1833  2018      4  Second   0.0   0.0    62    44

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
1037247            0.0  ...               14.0         3.0             3.0
963548             0.0  ...               25.0         1.0             1.0
1013351            0.0  ...               13.0         0.0             3.0
1042658            0.0  ...               12.0         1.0             6.0
882831             0.0  ...               74.0        19.0             6.0
...                ...  ...                ...         ...             ...
964443             0.0  ...               14.0         0.0             2.0
878496             0.0  ...               34.0        10.0             4.0
929799             0.0  ...               19.0         4.0             0.0
881714             1.0  ...              138.0        45.0             5.0
876742             1.0  ...              181.0       131.0             5.0

         count_entertainment  count_businesses  road_distance_ft  \
1037247                  2.0              41.0          0.418226
963548                   0.0              44.0          0.590103
1013351                  0.0              38.0          0.544767
1042658                  0.0              35.0          0.622271
882831                   5.0             183.0          0.676951
...                      ...               ...               ...
964443                   0.0              26.0          0.611139
878496                   0.0              57.0          0.541445
929799                   0.0              19.0          0.541196
881714                   1.0             207.0          1.551454
876742                  18.0             513.0          0.245779

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
1037247       4211.570968        0.021955          0.010987           0.0
963548        7765.801695        0.022977          0.012993           0.0
1013351       4779.197562        0.012222          0.017374           0.0
1042658       9622.912845        0.011763          0.034967           0.0
882831       16356.526796        0.023527          0.011240           0.0
...                   ...             ...               ...           ...
964443        5921.754724        0.020226          0.022043           0.0
878496       10800.892159        0.007922          0.013037           1.0
929799        5209.041403        0.012204          0.018679           0.0
881714       21819.823082        0.033934          0.052171           0.0
876742        9567.655146        0.021362          0.003772           1.0

[274 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
682663      682663   831  2017      7   First  0.08   0.0    91    71
666801      666801   631  2017      7  Second  0.00   0.0    82    69
616892      616892   815  2017      4   Third  2.29   0.0    47    41
625696      625696  1654  2017      5   First  0.00   0.0    71    47
619436      619436   824  2017      5  Second  0.00   0.0    56    38
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
773441      773441  2223  2017     11  Second  0.00   0.0    38    30
726265      726265   922  2017      9   Third  0.00   0.0    89    67
599987      599987   731  2017      4   Third  0.50   0.0    52    38
593667      593667   214  2017      3   Third  0.00   0.0    47    37
614721      614721   413  2017      4   Third  0.27   0.0    77    62

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
682663            0.0  ...               22.0         2.0             5.0
666801            0.0  ...               20.0         2.0             1.0
616892            1.0  ...               98.0        24.0             3.0
625696            1.0  ...                1.0         1.0             0.0
619436            0.0  ...               49.0         3.0             7.0
...               ...  ...                ...         ...             ...
773441            0.0  ...               11.0         1.0             4.0
726265            1.0  ...               50.0         8.0             1.0
599987            1.0  ...               11.0         0.0             2.0
593667            0.0  ...               11.0         2.0             2.0
614721            0.0  ...               14.0         4.0             1.0

        count_entertainment  count_businesses  road_distance_ft  \
682663                  0.0              48.0          0.880664
666801                  2.0              50.0          0.646037
616892                  3.0             277.0          1.182081
625696                  1.0              19.0          3.557513
619436                  0.0             126.0          0.836459
...                     ...               ...               ...
773441                  0.0              40.0          1.088571
726265                  1.0             124.0          0.669329
599987                  0.0              22.0          0.430125
593667                  2.0              48.0          0.592841
614721                  2.0              56.0          1.155060

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
682663      15438.037825        0.013921          0.008045           0.0
666801       9263.460487        0.020910          0.027456           0.0
616892      16492.893824        0.037567          0.056090           0.0
625696          0.044477        0.143875          0.096406           0.0
619436      15413.588923        0.019887          0.020102           1.0
...                  ...             ...               ...           ...
773441       9716.153133        0.027890          0.036067           0.0
726265      17617.605769        0.034340          0.040872           0.0
599987       4806.761373        0.018500          0.015232           0.0
593667       6796.786889        0.020608          0.019376           0.0
614721      10208.898266        0.025394          0.017337           0.0

[250 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
267628      267628  1532  2016      1  Second  0.00   0.0    34    21
499654      499654   333  2016     11  Second  0.00   0.0    53    45
417381      417381  2532  2016      7  Second  1.08   0.0    82    70
480901      480901  1912  2016     10   Third  0.00   0.0    85    69
303782      303782   733  2016      2   Third  0.00   0.0    55    30
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
523605      523605  1121  2016     12  Second  0.03   0.4    23    10
528207      528207   412  2016     12  Second  0.05   0.0    38    28
294193      294193  1933  2016      2  Second  0.00   0.0    29    19
386409      386409   813  2016      6  Second  0.00   0.0    92    73
366784      366784  1824  2016      5   First  0.18   0.0    84    69

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
267628            1.0  ...               14.0         2.0             1.0
499654            0.0  ...               16.0         1.0             2.0
417381            0.0  ...               24.0         1.0             3.0
480901            3.0  ...               89.0        31.0            13.0
303782            0.0  ...               11.0         1.0             1.0
...               ...  ...                ...         ...             ...
523605            0.0  ...               25.0         0.0             1.0
528207            0.0  ...               50.0         1.0            12.0
294193            3.0  ...               94.0        44.0             6.0
386409            1.0  ...              138.0        45.0             5.0
366784            1.0  ...               75.0        79.0             3.0

        count_entertainment  count_businesses  road_distance_ft  \
267628                  0.0              24.0          0.516070
499654                  0.0              61.0          0.331393
417381                  1.0              71.0          0.499806
480901                  5.0             225.0          0.812863
303782                  0.0              15.0          0.446254
...                     ...               ...               ...
523605                  0.0              56.0          0.597790
528207                  1.0             143.0          1.194758
294193                 16.0             132.0          0.560950
386409                  1.0             207.0          1.551454
366784                 12.0             176.0          0.450907

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
267628       6459.881345        0.019838          0.020157           0.0
499654       4638.388966        0.032544          0.012128           1.0
417381      10608.011279        0.010199          0.034331           0.0
480901      13487.007383        0.024983          0.005663           0.0
303782       4906.580008        0.012347          0.022164           0.0
...                  ...             ...               ...           ...
523605       7026.957744        0.023843          0.006807           1.0
528207      10123.086459        0.034260          0.017540           0.0
294193      10389.348591        0.012232          0.005349           0.0
386409      21819.823082        0.033934          0.052171           0.0
366784      20553.959329        0.015616          0.012361           1.0

[291 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
229348      229348   221  2015     11  Second  0.00   0.0    56    35
58731        58731  1933  2015      3   Third  0.00   0.0    57    41
190358      190358   922  2015      9   Third  3.87   0.0    79    67
174615      174615   715  2015      8  Second  0.35   0.0    76    66
11711        11711  1924  2015      1   First  0.00   0.0    43    27
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
70863        70863   833  2015      4  Second  0.00   0.0    80    49
254583      254583  1713  2015     12   Third  0.13   0.0    55    35
40792        40792   732  2015      3  Second  0.00   0.0    28     6
31154        31154  1654  2015      2  Second  0.00   0.0    11     0
87614        87614   112  2015      5   Third  0.47   0.0    67    49

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
229348            0.0  ...               14.0         3.0             3.0
58731             3.0  ...               94.0        44.0             6.0
190358            1.0  ...               50.0         8.0             1.0
174615            0.0  ...               12.0         0.0             1.0
11711             1.0  ...              128.0        90.0             8.0
...               ...  ...                ...         ...             ...
70863             0.0  ...               64.0         6.0             5.0
254583            3.0  ...               63.0         9.0             6.0
40792             0.0  ...                9.0         1.0             2.0
31154             1.0  ...                1.0         1.0             0.0
87614             4.0  ...              130.0        55.0             1.0

        count_entertainment  count_businesses  road_distance_ft  \
229348                  2.0              41.0          0.418226
58731                  16.0             132.0          0.560950
190358                  1.0             124.0          0.669329
174615                  0.0              14.0          0.453819
11711                  37.0             115.0          0.441366
...                     ...               ...               ...
70863                   2.0             174.0          1.287641
254583                  1.0              92.0          0.548141
40792                   0.0              12.0          0.429114
31154                   1.0              19.0          3.557513
87614                  15.0             669.0          0.161066

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
229348       4211.570968        0.021955          0.010987           1.0
58731       10389.348591        0.012232          0.005349           0.0
190358      17617.605769        0.034340          0.040872           0.0
174615       4421.854882        0.015885          0.029330           1.0
11711       11323.989570        0.006767          0.008535           0.0
...                  ...             ...               ...           ...
70863       20560.614401        0.023650          0.034665           0.0
254583      13283.675102        0.017748          0.010953           0.0
40792        4176.699166        0.012517          0.016376           0.0
31154           0.044477        0.143875          0.096406           0.0
87614        1195.459578        0.022807          0.014610           0.0

[277 rows x 22 columns]
Finished splitting...
Working on: [2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...

Finished one-hot encoding...
Finished standardizing...

In [5]:
data = pd.read_csv("../intermediate_data/high_crime_labeled.csv")
data = data.drop(columns=["beat", "beat_num", "Crimes", "Arrest"])
data = convert_to_categorical(data, ["district", "sector",
                                    "Month",
                                     "Watch", "Beat"])
data.drop(columns = ["Unnamed: 0"], inplace=True)

In [6]:
data.head()

,district,sector,Year,Month,Watch,Beat,Serious,Domestic,TMAX,TMIN,...,count_restaurants,count_bars,count_daycares,count_entertainment,count_businesses,road_distance_ft,TOTAL POPULATION,dist_to_police,dist_to_hospital,high_crime_geog_lag
0,17,1,2015,1,Third,1713,10.0,1,32.469987,20.138549,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
1,17,1,2015,1,Second,1713,13.0,4,32.469987,20.138549,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
2,17,1,2015,1,First,1713,5.0,3,32.469987,20.138549,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
3,17,1,2015,2,Second,1713,7.0,1,26.455588,10.647633,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
4,17,1,2015,2,Third,1713,5.0,3,26.455588,10.647633,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378

In [7]:
data_list = prep_data(data, "high_crime",
                                        2, "Year", ["district", "sector", 
                                                    "Month", 
                                                    "Beat", "Watch"])

data_list_pca = prep_data(data, "high_crime",
                                        2, "Year", 
                          ["district", "sector", 
                                                    "Month", 
                                                    "Beat", "Watch"], pca="yes!", 
                                                  columns_to_pca = ["TOTAL POPULATION", "dist_to_police",
                                                                   "dist_to_hospital", 
                                                  "count_l_stops", "count_bus_stops", 
                                               "count_metra_stops", "count_restaurants", "count_bars", 
                                               "count_daycares", "count_entertainment", "count_businesses", 
                                               "road_distance_ft"])

      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
29557       17      1  2018     1   First  1713      1.0         2  33.201426
29558       17      1  2018     1  Second  1713      8.0         4  33.201426
29559       17      1  2018     1   Third  1713     11.0         4  33.201426
29560       17      1  2018     2   Third  1713      5.0         3  39.791635
29561       17      1  2018     2   First  1713      6.0         2  39.791635
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
49256        3      1  2019    11  Second   312     13.0        11  43.761013
49257        3      1  2019    11   Third   312     13.0         8  43.761013
49258        3      1  2019    12  Second   312     20.0         8  42.647269
49259        3      1  2019    12   First   312      7.0         8  42.647269
49260        3      1  2019    12   Third   312     13.0         4  42.647269

            TMIN  ...  count_restaurants  count_bars count_daycares  \
29557  18.884223  ...               63.0         9.0            6.0
29558  18.884223  ...               63.0         9.0            6.0
29559  18.884223  ...               63.0         9.0            6.0
29560  22.439919  ...               63.0         9.0            6.0
29561  22.439919  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
49256  29.648049  ...               14.0         1.0            3.0
49257  29.648049  ...               14.0         1.0            3.0
49258  27.854899  ...               14.0         1.0            3.0
49259  27.854899  ...               14.0         1.0            3.0
49260  27.854899  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
29557      13283.675264     5454.068890       3258.006066             0.231076
29558      13283.675264     5454.068890       3258.006066             0.231076
29559      13283.675264     5454.068890       3258.006066             0.231076
29560      13283.675264     5454.068890       3258.006066             0.231076
29561      13283.675264     5454.068890       3258.006066             0.231076
...                 ...             ...               ...                  ...
49256       4144.689546     4843.037238       4374.482421             0.174216
49257       4144.689546     4843.037238       4374.482421             0.174216
49258       4144.689546     4843.037238       4374.482421             0.170732
49259       4144.689546     4843.037238       4374.482421             0.174216
49260       4144.689546     4843.037238       4374.482421             0.174216

[19704 rows x 26 columns]
      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
19712       17      1  2017     1   First  1713      6.0         5  36.668219
19713       17      1  2017     1   Third  1713     16.0         4  36.668219
19714       17      1  2017     1  Second  1713     13.0         2  36.668219
19715       17      1  2017     2  Second  1713      7.0         2  48.828937
19716       17      1  2017     2   Third  1713      9.0         3  48.828937
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
39402        3      1  2018    11   Third   312     15.0         7  40.859811
39403        3      1  2018    11   First   312      7.0         4  40.859811
39404        3      1  2018    12   First   312      7.0         4  40.587445
39405        3      1  2018    12  Second   312     20.0        12  40.587445
39406        3      1  2018    12   Third   312     14.0         7  40.587445

            TMIN  ...  count_restaurants  count_bars count_daycares  \
19712  25.445660  ...               63.0         9.0            6.0
19713  25.445660  ...               63.0         9.0            6.0
19714  25.445660  ...               63.0         9.0            6.0
19715  30.957247  ...               63.0         9.0            6.0
19716  30.957247  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
39402  30.481732  ...               14.0         1.0            3.0
39403  30.481732  ...               14.0         1.0            3.0
39404  27.929352  ...               14.0         1.0            3.0
39405  27.929352  ...               14.0         1.0            3.0
39406  27.929352  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
19712      13283.675264     5454.068890       3258.006066             0.243028
19713      13283.675264     5454.068890       3258.006066             0.243028
19714      13283.675264     5454.068890       3258.006066             0.243028
19715      13283.675264     5454.068890       3258.006066             0.243028
19716      13283.675264     5454.068890       3258.006066             0.243028
...                 ...             ...               ...                  ...
39402       4144.689546     4843.037238       4374.482421             0.104530
39403       4144.689546     4843.037238       4374.482421             0.104530
39404       4144.689546     4843.037238       4374.482421             0.104530
39405       4144.689546     4843.037238       4374.482421             0.101045
39406       4144.689546     4843.037238       4374.482421             0.104530

[19695 rows x 26 columns]
      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
9861        17      1  2016     1  Second  1713     10.0         3  34.634797
9862        17      1  2016     1   Third  1713     11.0         4  34.634797
9863        17      1  2016     1   First  1713      2.0         4  34.634797
9864        17      1  2016     2   First  1713      5.0         0  39.873946
9865        17      1  2016     2  Second  1713     14.0         2  39.873946
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
29552        3      1  2017    11  Second   312     21.0        10  48.004051
29553        3      1  2017    11   Third   312     15.0         8  48.004051
29554        3      1  2017    12  Second   312      7.0         7  36.924981
29555        3      1  2017    12   Third   312     16.0        14  36.924981
29556        3      1  2017    12   First   312     11.0        11  36.924981

            TMIN  ...  count_restaurants  count_bars count_daycares  \
9861   21.333060  ...               63.0         9.0            6.0
9862   21.333060  ...               63.0         9.0            6.0
9863   21.333060  ...               63.0         9.0            6.0
9864   26.515109  ...               63.0         9.0            6.0
9865   26.515109  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
29552  33.954321  ...               14.0         1.0            3.0
29553  33.954321  ...               14.0         1.0            3.0
29554  23.299649  ...               14.0         1.0            3.0
29555  23.299649  ...               14.0         1.0            3.0
29556  23.299649  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
9861       13283.675264     5454.068890       3258.006066             0.167331
9862       13283.675264     5454.068890       3258.006066             0.167331
9863       13283.675264     5454.068890       3258.006066             0.167331
9864       13283.675264     5454.068890       3258.006066             0.167331
9865       13283.675264     5454.068890       3258.006066             0.167331
...                 ...             ...               ...                  ...
29552       4144.689546     4843.037238       4374.482421             0.135889
29553       4144.689546     4843.037238       4374.482421             0.139373
29554       4144.689546     4843.037238       4374.482421             0.139373
29555       4144.689546     4843.037238       4374.482421             0.139373
29556       4144.689546     4843.037238       4374.482421             0.139373

[19696 rows x 26 columns]
      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
0           17      1  2015     1   Third  1713     10.0         1  32.469987
1           17      1  2015     1  Second  1713     13.0         4  32.469987
2           17      1  2015     1   First  1713      5.0         3  32.469987
3           17      1  2015     2  Second  1713      7.0         1  26.455588
4           17      1  2015     2   Third  1713      5.0         3  26.455588
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
19707        3      1  2016    11   First   312      7.0         4  56.907539
19708        3      1  2016    11  Second   312     20.0         8  56.907539
19709        3      1  2016    12   First   312      8.0         4  33.189478
19710        3      1  2016    12  Second   312     20.0         8  33.189478
19711        3      1  2016    12   Third   312     21.0         4  33.189478

            TMIN  ...  count_restaurants  count_bars count_daycares  \
0      20.138549  ...               63.0         9.0            6.0
1      20.138549  ...               63.0         9.0            6.0
2      20.138549  ...               63.0         9.0            6.0
3      10.647633  ...               63.0         9.0            6.0
4      10.647633  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
19707  41.575555  ...               14.0         1.0            3.0
19708  41.575555  ...               14.0         1.0            3.0
19709  22.018894  ...               14.0         1.0            3.0
19710  22.018894  ...               14.0         1.0            3.0
19711  22.018894  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
0          13283.675264     5454.068890       3258.006066             0.155378
1          13283.675264     5454.068890       3258.006066             0.155378
2          13283.675264     5454.068890       3258.006066             0.155378
3          13283.675264     5454.068890       3258.006066             0.155378
4          13283.675264     5454.068890       3258.006066             0.155378
...                 ...             ...               ...                  ...
19707       4144.689546     4843.037238       4374.482421             0.156794
19708       4144.689546     4843.037238       4374.482421             0.156794
19709       4144.689546     4843.037238       4374.482421             0.156794
19710       4144.689546     4843.037238       4374.482421             0.153310
19711       4144.689546     4843.037238       4374.482421             0.153310

[19712 rows x 26 columns]
Finished splitting...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...

Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
29557       17      1  2018     1   First  1713      1.0         2  33.201426
29558       17      1  2018     1  Second  1713      8.0         4  33.201426
29559       17      1  2018     1   Third  1713     11.0         4  33.201426
29560       17      1  2018     2   Third  1713      5.0         3  39.791635
29561       17      1  2018     2   First  1713      6.0         2  39.791635
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
49256        3      1  2019    11  Second   312     13.0        11  43.761013
49257        3      1  2019    11   Third   312     13.0         8  43.761013
49258        3      1  2019    12  Second   312     20.0         8  42.647269
49259        3      1  2019    12   First   312      7.0         8  42.647269
49260        3      1  2019    12   Third   312     13.0         4  42.647269

            TMIN  ...  count_restaurants  count_bars count_daycares  \
29557  18.884223  ...               63.0         9.0            6.0
29558  18.884223  ...               63.0         9.0            6.0
29559  18.884223  ...               63.0         9.0            6.0
29560  22.439919  ...               63.0         9.0            6.0
29561  22.439919  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
49256  29.648049  ...               14.0         1.0            3.0
49257  29.648049  ...               14.0         1.0            3.0
49258  27.854899  ...               14.0         1.0            3.0
49259  27.854899  ...               14.0         1.0            3.0
49260  27.854899  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
29557      13283.675264     5454.068890       3258.006066             0.231076
29558      13283.675264     5454.068890       3258.006066             0.231076
29559      13283.675264     5454.068890       3258.006066             0.231076
29560      13283.675264     5454.068890       3258.006066             0.231076
29561      13283.675264     5454.068890       3258.006066             0.231076
...                 ...             ...               ...                  ...
49256       4144.689546     4843.037238       4374.482421             0.174216
49257       4144.689546     4843.037238       4374.482421             0.174216
49258       4144.689546     4843.037238       4374.482421             0.170732
49259       4144.689546     4843.037238       4374.482421             0.174216
49260       4144.689546     4843.037238       4374.482421             0.174216

[19704 rows x 26 columns]
      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
19712       17      1  2017     1   First  1713      6.0         5  36.668219
19713       17      1  2017     1   Third  1713     16.0         4  36.668219
19714       17      1  2017     1  Second  1713     13.0         2  36.668219
19715       17      1  2017     2  Second  1713      7.0         2  48.828937
19716       17      1  2017     2   Third  1713      9.0         3  48.828937
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
39402        3      1  2018    11   Third   312     15.0         7  40.859811
39403        3      1  2018    11   First   312      7.0         4  40.859811
39404        3      1  2018    12   First   312      7.0         4  40.587445
39405        3      1  2018    12  Second   312     20.0        12  40.587445
39406        3      1  2018    12   Third   312     14.0         7  40.587445

            TMIN  ...  count_restaurants  count_bars count_daycares  \
19712  25.445660  ...               63.0         9.0            6.0
19713  25.445660  ...               63.0         9.0            6.0
19714  25.445660  ...               63.0         9.0            6.0
19715  30.957247  ...               63.0         9.0            6.0
19716  30.957247  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
39402  30.481732  ...               14.0         1.0            3.0
39403  30.481732  ...               14.0         1.0            3.0
39404  27.929352  ...               14.0         1.0            3.0
39405  27.929352  ...               14.0         1.0            3.0
39406  27.929352  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
19712      13283.675264     5454.068890       3258.006066             0.243028
19713      13283.675264     5454.068890       3258.006066             0.243028
19714      13283.675264     5454.068890       3258.006066             0.243028
19715      13283.675264     5454.068890       3258.006066             0.243028
19716      13283.675264     5454.068890       3258.006066             0.243028
...                 ...             ...               ...                  ...
39402       4144.689546     4843.037238       4374.482421             0.104530
39403       4144.689546     4843.037238       4374.482421             0.104530
39404       4144.689546     4843.037238       4374.482421             0.104530
39405       4144.689546     4843.037238       4374.482421             0.101045
39406       4144.689546     4843.037238       4374.482421             0.104530

[19695 rows x 26 columns]
      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
9861        17      1  2016     1  Second  1713     10.0         3  34.634797
9862        17      1  2016     1   Third  1713     11.0         4  34.634797
9863        17      1  2016     1   First  1713      2.0         4  34.634797
9864        17      1  2016     2   First  1713      5.0         0  39.873946
9865        17      1  2016     2  Second  1713     14.0         2  39.873946
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
29552        3      1  2017    11  Second   312     21.0        10  48.004051
29553        3      1  2017    11   Third   312     15.0         8  48.004051
29554        3      1  2017    12  Second   312      7.0         7  36.924981
29555        3      1  2017    12   Third   312     16.0        14  36.924981
29556        3      1  2017    12   First   312     11.0        11  36.924981

            TMIN  ...  count_restaurants  count_bars count_daycares  \
9861   21.333060  ...               63.0         9.0            6.0
9862   21.333060  ...               63.0         9.0            6.0
9863   21.333060  ...               63.0         9.0            6.0
9864   26.515109  ...               63.0         9.0            6.0
9865   26.515109  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
29552  33.954321  ...               14.0         1.0            3.0
29553  33.954321  ...               14.0         1.0            3.0
29554  23.299649  ...               14.0         1.0            3.0
29555  23.299649  ...               14.0         1.0            3.0
29556  23.299649  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
9861       13283.675264     5454.068890       3258.006066             0.167331
9862       13283.675264     5454.068890       3258.006066             0.167331
9863       13283.675264     5454.068890       3258.006066             0.167331
9864       13283.675264     5454.068890       3258.006066             0.167331
9865       13283.675264     5454.068890       3258.006066             0.167331
...                 ...             ...               ...                  ...
29552       4144.689546     4843.037238       4374.482421             0.135889
29553       4144.689546     4843.037238       4374.482421             0.139373
29554       4144.689546     4843.037238       4374.482421             0.139373
29555       4144.689546     4843.037238       4374.482421             0.139373
29556       4144.689546     4843.037238       4374.482421             0.139373

[19696 rows x 26 columns]
      district sector  Year Month   Watch  Beat  Serious  Domestic       TMAX  \
0           17      1  2015     1   Third  1713     10.0         1  32.469987
1           17      1  2015     1  Second  1713     13.0         4  32.469987
2           17      1  2015     1   First  1713      5.0         3  32.469987
3           17      1  2015     2  Second  1713      7.0         1  26.455588
4           17      1  2015     2   Third  1713      5.0         3  26.455588
...        ...    ...   ...   ...     ...   ...      ...       ...        ...
19707        3      1  2016    11   First   312      7.0         4  56.907539
19708        3      1  2016    11  Second   312     20.0         8  56.907539
19709        3      1  2016    12   First   312      8.0         4  33.189478
19710        3      1  2016    12  Second   312     20.0         8  33.189478
19711        3      1  2016    12   Third   312     21.0         4  33.189478

            TMIN  ...  count_restaurants  count_bars count_daycares  \
0      20.138549  ...               63.0         9.0            6.0
1      20.138549  ...               63.0         9.0            6.0
2      20.138549  ...               63.0         9.0            6.0
3      10.647633  ...               63.0         9.0            6.0
4      10.647633  ...               63.0         9.0            6.0
...          ...  ...                ...         ...            ...
19707  41.575555  ...               14.0         1.0            3.0
19708  41.575555  ...               14.0         1.0            3.0
19709  22.018894  ...               14.0         1.0            3.0
19710  22.018894  ...               14.0         1.0            3.0
19711  22.018894  ...               14.0         1.0            3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
0          13283.675264     5454.068890       3258.006066             0.155378
1          13283.675264     5454.068890       3258.006066             0.155378
2          13283.675264     5454.068890       3258.006066             0.155378
3          13283.675264     5454.068890       3258.006066             0.155378
4          13283.675264     5454.068890       3258.006066             0.155378
...                 ...             ...               ...                  ...
19707       4144.689546     4843.037238       4374.482421             0.156794
19708       4144.689546     4843.037238       4374.482421             0.156794
19709       4144.689546     4843.037238       4374.482421             0.156794
19710       4144.689546     4843.037238       4374.482421             0.153310
19711       4144.689546     4843.037238       4374.482421             0.153310

[19712 rows x 26 columns]
Finished splitting...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.852368
1    0.852368
2    0.852368
3    0.852368
4    0.852368
Name: principal component 1, dtype: float64
(19695, 2) (19695, 324)

Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.85269
1    0.85269
2    0.85269
3    0.85269
4    0.85269
Name: principal component 1, dtype: float64
(19696, 2) (19696, 324)
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.856576
1    0.856576
2    0.856576
3    0.856576
4    0.856576
Name: principal component 1, dtype: float64
(19712, 2) (19712, 324)

In [8]:
models = {
    'GaussianNB': GaussianNB(),
    'LinearSVC': LinearSVC()    
}

NBgrid = {'GaussianNB': [{'priors': None}]}

SVCgrid = {'LinearSVC': [{'C': x, 'random_state': 0} for x in (0.01, 0.1, 1, 10, 100)]}

In [9]:
nb_results = average_grid_searches(GaussianNB(), 'GaussianNB', NBgrid, data_list, "high_crime", 2020)
nb_pca_results = average_grid_searches(GaussianNB(), 'GaussianNB', NBgrid, data_list_pca, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]
test year is: 2020
[2016, 2017, 2018, 2019]

In [10]:
nb_results

,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,{'priors': None},0.383568,{'priors': None},0.363594,{'priors': None},0.355835,0.367666

In [11]:
nb_pca_results

,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,{'priors': None},0.390228,{'priors': None},0.371938,{'priors': None},0.357834,0.373333

In [12]:
nb_results.to_csv("../final_data/NB.csv")

In [13]:
svc_results = average_grid_searches(LinearSVC(), 'LinearSVC', SVCgrid, data_list, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]

In [2]:
svc_pca_results = average_grid_searches(LinearSVC(), 'LinearSVC', SVCgrid, data_list_pca, "high_crime", 2020)

NameError: name 'average_grid_searches' is not defined

In [13]:
svc_results

,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,"{'C': 0.01, 'random_state': 0}",0.975362,"{'C': 0.01, 'random_state': 0}",1.000000,"{'C': 0.01, 'random_state': 0}",1.000000,0.991787
0,"{'C': 1, 'random_state': 0}",0.999119,"{'C': 1, 'random_state': 0}",1.000000,"{'C': 1, 'random_state': 0}",0.762249,0.920456
0,"{'C': 10, 'random_state': 0}",0.999119,"{'C': 10, 'random_state': 0}",1.000000,"{'C': 10, 'random_state': 0}",0.762249,0.920456
0,"{'C': 100, 'random_state': 0}",0.999119,"{'C': 100, 'random_state': 0}",1.000000,"{'C': 100, 'random_state': 0}",0.762249,0.920456
0,"{'C': 0.1, 'random_state': 0}",1.000000,"{'C': 0.1, 'random_state': 0}",0.437445,"{'C': 0.1, 'random_state': 0}",1.000000,0.812482

In [14]:
svc_pca_results

,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,"{'C': 0.01, 'random_state': 0}",0.993565,"{'C': 0.01, 'random_state': 0}",1.000000,"{'C': 0.01, 'random_state': 0}",1.000000,0.997855
0,"{'C': 10, 'random_state': 0}",1.000000,"{'C': 10, 'random_state': 0}",0.885145,"{'C': 10, 'random_state': 0}",0.993831,0.959659
0,"{'C': 100, 'random_state': 0}",1.000000,"{'C': 100, 'random_state': 0}",0.885145,"{'C': 100, 'random_state': 0}",0.993831,0.959659
0,"{'C': 1, 'random_state': 0}",0.564476,"{'C': 1, 'random_state': 0}",0.885145,"{'C': 1, 'random_state': 0}",0.998638,0.816086
0,"{'C': 0.1, 'random_state': 0}",0.960197,"{'C': 0.1, 'random_state': 0}",0.592238,"{'C': 0.1, 'random_state': 0}",0.584192,0.712209

In [1]:
svc_pca_results.to_csv("../final_data/SVC_pca.csv")

NameError: name 'svc_pca_results' is not defined