In [1]:
import pandas as pd
import geopandas as gpd
import seaborn as sns
import numpy as np
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import precision_score
import datetime

/Users/marielwiechers/my_env/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [8]:
%run ml_helpers.ipynb
%run ml.ipynb

         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
1311550     1311550  1031  2019     12   Third  0.10   0.0    43    33
1292209     1292209   313  2019     11  Second  0.00   0.0    45    33
1252286     1252286   431  2019      9   First  0.05   0.0    67    62
1071746     1071746   412  2019      1  Second  0.00   0.1    36    27
1249411     1249411  2535  2019      9   First  0.00   0.0    70    62
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
1214549     1214549  1221  2019      7   Third  0.81   0.0    80    71
1138628     1138628  1531  2019      4   Third  0.00   0.0    54    37
1090948     1090948  1532  2019      2  Second  0.02   0.4    21     2
1107863     1107863  2521  2019      2   Third  0.00   0.0    25    18
1309470     1309470  1935  2019     11   Third  0.00   0.0    39    32

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
1311550            0.0  ...               67.0        10.0             0.0
1292209            0.0  ...               11.0         0.0             3.0
1252286            0.0  ...               36.0         7.0             1.0
1071746            0.0  ...               50.0         1.0            12.0
1249411            0.0  ...               35.0         6.0             3.0
...                ...  ...                ...         ...             ...
1214549            0.0  ...               43.0        19.0             6.0
1138628            0.0  ...               23.0         0.0             2.0
1090948            1.0  ...               14.0         2.0             1.0
1107863            0.0  ...               69.0         7.0             3.0
1309470            0.0  ...              133.0        64.0            10.0

         count_entertainment  count_businesses  road_distance_ft  \
1311550                  2.0             116.0          0.984721
1292209                  0.0              26.0          0.410752
1252286                  1.0              54.0          1.563680
1071746                  1.0             143.0          1.194758
1249411                  1.0              86.0          0.593290
...                      ...               ...               ...
1214549                  0.0             227.0          1.120417
1138628                  0.0              33.0          0.373960
1090948                  0.0              24.0          0.516070
1107863                  4.0             215.0          0.915899
1309470                 12.0             191.0          0.573462

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
1311550      20612.357724        0.030562          0.037472           0.0
1292209       5786.813143        0.016152          0.008552           0.0
1252286      11836.285893        0.009086          0.012915           0.0
1071746      10123.086459        0.034260          0.017540           0.0
1249411      11069.334788        0.026324          0.019518           0.0
...                   ...             ...               ...           ...
1214549       8577.875630        0.024901          0.011968           0.0
1138628       6565.668557        0.024705          0.028583           0.0
1090948       6459.881345        0.019838          0.020157           0.0
1107863      19733.417542        0.022036          0.020799           1.0
1309470      15283.903629        0.020097          0.006267           0.0

[275 rows x 22 columns]
         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
970011       970011  1133  2018      8  Second  0.06   0.0    86    72
845596       845596   122  2018      3  Second  0.00   0.0    36    24
894394       894394  1422  2018      5   Third  0.00   0.0    69    52
856949       856949  2531  2018      3   Third  0.00   0.0    41    33
900404       900404  1232  2018      5  Second  0.00   0.0    78    51
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
917539       917539   533  2018      6  Second  0.00   0.0    83    65
832113       832113  1633  2018      2   Third  0.00   0.0    48    38
1024551     1024551   933  2018     10   Third  0.00   0.0    54    46
948170       948170   712  2018      7   Third  0.83   0.0    80    70
922972       922972  1824  2018      6   First  0.01   0.0    79    66

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
970011             0.0  ...               12.0         0.0             3.0
845596             3.0  ...              383.0       100.0             1.0
894394             0.0  ...               41.0         8.0             3.0
856949             0.0  ...               24.0         1.0             4.0
900404             1.0  ...               94.0        38.0            10.0
...                ...  ...                ...         ...             ...
917539             0.0  ...                4.0         0.0             1.0
832113             0.0  ...               64.0        18.0             9.0
1024551            0.0  ...               19.0         5.0             0.0
948170             0.0  ...               19.0         4.0             0.0
922972             1.0  ...               75.0        79.0             3.0

         count_entertainment  count_businesses  road_distance_ft  \
970011                   0.0              21.0          0.571632
845596                  16.0            1344.0          0.571604
894394                   1.0              74.0          0.640252
856949                   0.0              60.0          0.446396
900404                   8.0             219.0          0.833498
...                      ...               ...               ...
917539                   0.0              10.0          0.696166
832113                   2.0             174.0          1.051864
1024551                  0.0              48.0          0.575957
948170                   0.0              19.0          0.541196
922972                  12.0             176.0          0.450907

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
970011        6840.819803        0.011374          0.005923           1.0
845596        1430.744007        0.023572          0.018381           0.0
894394       12025.393601        0.018463          0.015333           0.0
856949        7586.424461        0.010847          0.025368           0.0
900404       13529.039892        0.010052          0.019678           0.0
...                   ...             ...               ...           ...
917539        6481.643563        0.040540          0.047040           1.0
832113       20708.358721        0.029355          0.006257           0.0
1024551       7088.921817        0.025387          0.034543           0.0
948170        5209.041403        0.012204          0.018679           0.0
922972       20553.959329        0.015616          0.012361           1.0

[275 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
757547      757547  1624  2017     10  Second  0.01   0.0    40    36
551922      551922   213  2017      1  Second  0.02   0.1    35    32
675838      675838   211  2017      7   Third  0.00   0.0    75    64
706809      706809  1921  2017      8   Third  0.31   0.0    87    72
768589      768589  1012  2017     11  Second  0.12   0.0    41    38
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
771076      771076   731  2017     11   First  0.00   0.0    39    32
589851      589851   112  2017      3  Second  0.00   0.0    51    32
565884      565884  1731  2017      2   Third  0.00   0.0    51    34
637456      637456  2432  2017      5  Second  0.00   0.0    75    56
552512      552512   414  2017      1   First  0.00   0.0    32    25

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
757547            0.0  ...               72.0        19.0            10.0
551922            1.0  ...                7.0         4.0             2.0
675838            1.0  ...               37.0         3.0             0.0
706809            0.0  ...               81.0        37.0            16.0
768589            1.0  ...                7.0         0.0             2.0
...               ...  ...                ...         ...             ...
771076            1.0  ...               11.0         0.0             2.0
589851            4.0  ...              130.0        55.0             1.0
565884            0.0  ...               54.0        11.0             3.0
637456            1.0  ...               78.0        24.0             6.0
552512            0.0  ...               24.0         1.0             6.0

        count_entertainment  count_businesses  road_distance_ft  \
757547                  5.0             159.0          1.262122
551922                  2.0              31.0          0.647690
675838                  1.0              68.0          0.637590
706809                  4.0             170.0          0.793991
768589                  0.0              26.0          0.357405
...                     ...               ...               ...
771076                  0.0              22.0          0.430125
589851                 15.0             669.0          0.161066
565884                  2.0             144.0          0.856700
637456                  4.0             108.0          0.643712
552512                  1.0              81.0          0.962700

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
757547      15812.735336        0.017599          0.011385           0.0
551922       4923.794671        0.007787          0.022774           0.0
675838       7553.461212        0.007595          0.012675           0.0
706809      11412.065401        0.027721          0.015820           0.0
768589       5275.224895        0.023831          0.027900           0.0
...                  ...             ...               ...           ...
771076       4806.761373        0.018500          0.015232           0.0
589851       1195.459578        0.022807          0.014610           0.0
565884      12917.406946        0.022473          0.010655           0.0
637456      14944.282715        0.004981          0.014287           0.0
552512      11696.404888        0.034587          0.006471           0.0

[272 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
367467      367467   234  2016      5   Third  0.18   0.0    84    69
526090      526090   213  2016     12  Second  0.00   0.0    30    16
275493      275493   734  2016      1  Second  0.00   0.0    14     1
459879      459879  1633  2016      9  Second  0.00   0.0    84    71
355077      355077  1034  2016      5   Third  0.01   0.0    69    55
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
303292      303292   922  2016      2   Third  0.05   0.0    64    38
385674      385674  2533  2016      6   Third  0.00   0.0    91    70
464933      464933   234  2016      9  Second  0.03   0.0    72    57
479933      479933  1613  2016     10  Second  0.42   0.0    72    65
335352      335352  2234  2016      4  Second  0.00   0.0    61    40

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
367467            0.0  ...               84.0        30.0             4.0
526090            1.0  ...                7.0         4.0             2.0
275493            0.0  ...                7.0         2.0             1.0
459879            0.0  ...               64.0        18.0             9.0
355077            0.0  ...               72.0        13.0             1.0
...               ...  ...                ...         ...             ...
303292            1.0  ...               50.0         8.0             1.0
385674            0.0  ...               40.0         7.0             0.0
464933            0.0  ...               84.0        30.0             4.0
479933            0.0  ...               30.0        10.0             3.0
335352            0.0  ...               25.0         4.0             2.0

        count_entertainment  count_businesses  road_distance_ft  \
367467                  6.0             149.0          0.396576
526090                  2.0              31.0          0.647690
275493                  1.0              21.0          0.463460
459879                  2.0             174.0          1.051864
355077                  1.0             193.0          1.044091
...                     ...               ...               ...
303292                  1.0             124.0          0.669329
385674                  1.0             157.0          0.839418
464933                  6.0             149.0          0.396576
479933                  1.0              93.0          1.280451
335352                  2.0              51.0          0.903273

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
367467      10197.950015        0.036749          0.017948           0.0
526090       4923.794671        0.007787          0.022774           0.0
275493       4391.423523        0.016567          0.030056           1.0
459879      20708.358721        0.029355          0.006257           0.0
355077      11544.896744        0.027978          0.018268           0.0
...                  ...             ...               ...           ...
303292      17617.605769        0.034340          0.040872           1.0
385674       7828.568071        0.020744          0.032159           0.0
464933      10197.950015        0.036749          0.017948           0.0
479933      14274.021602        0.038312          0.014228           0.0
335352       7798.227539        0.013132          0.031111           0.0

[286 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
31351        31351  1211  2015      2   Third  0.00   0.0    11     0
123908      123908   423  2015      6   First  0.63   0.0    70    61
156023      156023   631  2015      8   First  0.00   0.0    84    70
255710      255710  1132  2015     12  Second  0.00   0.1    33    26
181395      181395   623  2015      9   Third  0.00   0.0    94    74
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
8569          8569  1532  2015      1   Third  0.00   NaN    21     5
60811        60811  1431  2015      4   First  0.00   0.0    57    33
107120      107120   111  2015      6  Second  0.00   0.0    82    62
93179        93179  1814  2015      5   First  0.00   0.0    84    69
236189      236189  2412  2015     11  Second  0.00   0.0    50    37

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
31351             0.0  ...               36.0        12.0             2.0
123908            0.0  ...               26.0         1.0             7.0
156023            0.0  ...               20.0         2.0             1.0
255710            1.0  ...               22.0         0.0             0.0
181395            1.0  ...               42.0         3.0             6.0
...               ...  ...                ...         ...             ...
8569              1.0  ...               14.0         2.0             1.0
60811             1.0  ...               52.0        26.0             2.0
107120            3.0  ...              127.0        73.0             0.0
93179             0.0  ...               71.0        39.0            10.0
236189            0.0  ...               93.0         5.0             5.0

        count_entertainment  count_businesses  road_distance_ft  \
31351                   0.0              94.0          0.499161
123908                  0.0              55.0          0.988734
156023                  2.0              50.0          0.646037
255710                  0.0              21.0          0.418567
181395                  1.0              79.0          0.783098
...                     ...               ...               ...
8569                    0.0              24.0          0.516070
60811                   4.0              83.0          0.437943
107120                 20.0             278.0          0.247834
93179                   8.0             108.0          0.665584
236189                  2.0             165.0          0.756025

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
31351        9910.779616        0.022032          0.002248           0.0
123908      14302.375154        0.028620          0.011085           0.0
156023       9263.460487        0.020910          0.027456           0.0
255710       4900.260383        0.022320          0.016078           0.0
181395       6759.295725        0.019789          0.027108           1.0
...                  ...             ...               ...           ...
8569         6459.881345        0.019838          0.020157           1.0
60811        8160.675064        0.005570          0.016959           0.0
107120       1830.562201        0.023780          0.010850           0.0
93179       10335.656619        0.018172          0.016124           0.0
236189      17772.958410        0.021143          0.026463           0.0

[237 rows x 22 columns]
Finished splitting...
Working on: [2019]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...

Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

In [3]:
data = pd.read_csv("../intermediate_data/high_crime_labeled.csv")
data = data.drop(columns=["beat", "beat_num", "Crimes", "Arrest", "Domestic", "Serious"])
data = convert_to_categorical(data, ["district", "sector",
                                    "Month",
                                     "Watch", "Beat"])
data.drop(columns = ["Unnamed: 0"], inplace=True)

In [4]:
data.head()

,district,sector,Year,Month,Watch,Beat,TMAX,TMIN,PRCP,SNOW,...,count_restaurants,count_bars,count_daycares,count_entertainment,count_businesses,road_distance_ft,TOTAL POPULATION,dist_to_police,dist_to_hospital,high_crime_geog_lag
0,17,1,2015,1,Third,1713,32.469987,20.138549,1.55,11.3,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
1,17,1,2015,1,Second,1713,32.469987,20.138549,1.55,11.3,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
2,17,1,2015,1,First,1713,32.469987,20.138549,1.55,11.3,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
3,17,1,2015,2,Second,1713,26.455588,10.647633,1.87,28.3,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
4,17,1,2015,2,Third,1713,26.455588,10.647633,1.87,28.3,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378

In [5]:
models = {
    'GaussianNB': GaussianNB(),
    'LinearSVC': LinearSVC()    
}

NBgrid = {'GaussianNB': [{'priors': None}] 
                         #for x in ('None')]
         }

SVCgrid = {'LinearSVC': [{'C': x, 'random_state': 0} for x in (0.01, 0.1, 1, 10, 100)]}

In [6]:
data_list = prep_data(data, "high_crime",
                                        2, "Year", ["district", "sector", 
                                                    "Month", 
                                                    "Beat", "Watch"])

      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
29557       17      1  2018     1   First  1713  33.201426  18.884223  1.12
29558       17      1  2018     1  Second  1713  33.201426  18.884223  1.12
29559       17      1  2018     1   Third  1713  33.201426  18.884223  1.12
29560       17      1  2018     2   Third  1713  39.791635  22.439919  5.47
29561       17      1  2018     2   First  1713  39.791635  22.439919  5.47
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
49256        3      1  2019    11  Second   312  43.761013  29.648049  1.70
49257        3      1  2019    11   Third   312  43.761013  29.648049  1.70
49258        3      1  2019    12  Second   312  42.647269  27.854899  1.29
49259        3      1  2019    12   First   312  42.647269  27.854899  1.29
49260        3      1  2019    12   Third   312  42.647269  27.854899  1.29

       SNOW  ... count_restaurants  count_bars  count_daycares  \
29557   5.0  ...              63.0         9.0             6.0
29558   5.0  ...              63.0         9.0             6.0
29559   5.0  ...              63.0         9.0             6.0
29560  21.8  ...              63.0         9.0             6.0
29561  21.8  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
49256   2.9  ...              14.0         1.0             3.0
49257   2.9  ...              14.0         1.0             3.0
49258   1.8  ...              14.0         1.0             3.0
49259   1.8  ...              14.0         1.0             3.0
49260   1.8  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
29557      13283.675264     5454.068890       3258.006066             0.231076
29558      13283.675264     5454.068890       3258.006066             0.231076
29559      13283.675264     5454.068890       3258.006066             0.231076
29560      13283.675264     5454.068890       3258.006066             0.231076
29561      13283.675264     5454.068890       3258.006066             0.231076
...                 ...             ...               ...                  ...
49256       4144.689546     4843.037238       4374.482421             0.174216
49257       4144.689546     4843.037238       4374.482421             0.174216
49258       4144.689546     4843.037238       4374.482421             0.170732
49259       4144.689546     4843.037238       4374.482421             0.174216
49260       4144.689546     4843.037238       4374.482421             0.174216

[19704 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
19712       17      1  2017     1   First  1713  36.668219  25.445660  3.32
19713       17      1  2017     1   Third  1713  36.668219  25.445660  3.32
19714       17      1  2017     1  Second  1713  36.668219  25.445660  3.32
19715       17      1  2017     2  Second  1713  48.828937  30.957247  2.71
19716       17      1  2017     2   Third  1713  48.828937  30.957247  2.71
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
39402        3      1  2018    11   Third   312  40.859811  30.481732  3.11
39403        3      1  2018    11   First   312  40.859811  30.481732  3.11
39404        3      1  2018    12   First   312  40.587445  27.929352  3.00
39405        3      1  2018    12  Second   312  40.587445  27.929352  3.00
39406        3      1  2018    12   Third   312  40.587445  27.929352  3.00

       SNOW  ... count_restaurants  count_bars  count_daycares  \
19712   0.6  ...              63.0         9.0             6.0
19713   0.6  ...              63.0         9.0             6.0
19714   0.6  ...              63.0         9.0             6.0
19715   0.1  ...              63.0         9.0             6.0
19716   0.1  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
39402   9.2  ...              14.0         1.0             3.0
39403   9.2  ...              14.0         1.0             3.0
39404   0.8  ...              14.0         1.0             3.0
39405   0.8  ...              14.0         1.0             3.0
39406   0.8  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
19712      13283.675264     5454.068890       3258.006066             0.243028
19713      13283.675264     5454.068890       3258.006066             0.243028
19714      13283.675264     5454.068890       3258.006066             0.243028
19715      13283.675264     5454.068890       3258.006066             0.243028
19716      13283.675264     5454.068890       3258.006066             0.243028
...                 ...             ...               ...                  ...
39402       4144.689546     4843.037238       4374.482421             0.104530
39403       4144.689546     4843.037238       4374.482421             0.104530
39404       4144.689546     4843.037238       4374.482421             0.104530
39405       4144.689546     4843.037238       4374.482421             0.101045
39406       4144.689546     4843.037238       4374.482421             0.104530

[19695 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
9861        17      1  2016     1  Second  1713  34.634797  21.333060  0.99
9862        17      1  2016     1   Third  1713  34.634797  21.333060  0.99
9863        17      1  2016     1   First  1713  34.634797  21.333060  0.99
9864        17      1  2016     2   First  1713  39.873946  26.515109  1.32
9865        17      1  2016     2  Second  1713  39.873946  26.515109  1.32
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
29552        3      1  2017    11  Second   312  48.004051  33.954321  2.48
29553        3      1  2017    11   Third   312  48.004051  33.954321  2.48
29554        3      1  2017    12  Second   312  36.924981  23.299649  0.44
29555        3      1  2017    12   Third   312  36.924981  23.299649  0.44
29556        3      1  2017    12   First   312  36.924981  23.299649  0.44

       SNOW  ... count_restaurants  count_bars  count_daycares  \
9861    6.3  ...              63.0         9.0             6.0
9862    6.3  ...              63.0         9.0             6.0
9863    6.3  ...              63.0         9.0             6.0
9864    6.6  ...              63.0         9.0             6.0
9865    6.6  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
29552   0.0  ...              14.0         1.0             3.0
29553   0.0  ...              14.0         1.0             3.0
29554   5.9  ...              14.0         1.0             3.0
29555   5.9  ...              14.0         1.0             3.0
29556   5.9  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
9861       13283.675264     5454.068890       3258.006066             0.167331
9862       13283.675264     5454.068890       3258.006066             0.167331
9863       13283.675264     5454.068890       3258.006066             0.167331
9864       13283.675264     5454.068890       3258.006066             0.167331
9865       13283.675264     5454.068890       3258.006066             0.167331
...                 ...             ...               ...                  ...
29552       4144.689546     4843.037238       4374.482421             0.135889
29553       4144.689546     4843.037238       4374.482421             0.139373
29554       4144.689546     4843.037238       4374.482421             0.139373
29555       4144.689546     4843.037238       4374.482421             0.139373
29556       4144.689546     4843.037238       4374.482421             0.139373

[19696 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
0           17      1  2015     1   Third  1713  32.469987  20.138549  1.55
1           17      1  2015     1  Second  1713  32.469987  20.138549  1.55
2           17      1  2015     1   First  1713  32.469987  20.138549  1.55
3           17      1  2015     2  Second  1713  26.455588  10.647633  1.87
4           17      1  2015     2   Third  1713  26.455588  10.647633  1.87
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
19707        3      1  2016    11   First   312  56.907539  41.575555  2.15
19708        3      1  2016    11  Second   312  56.907539  41.575555  2.15
19709        3      1  2016    12   First   312  33.189478  22.018894  1.54
19710        3      1  2016    12  Second   312  33.189478  22.018894  1.54
19711        3      1  2016    12   Third   312  33.189478  22.018894  1.54

       SNOW  ... count_restaurants  count_bars  count_daycares  \
0      11.3  ...              63.0         9.0             6.0
1      11.3  ...              63.0         9.0             6.0
2      11.3  ...              63.0         9.0             6.0
3      28.3  ...              63.0         9.0             6.0
4      28.3  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
19707   0.0  ...              14.0         1.0             3.0
19708   0.0  ...              14.0         1.0             3.0
19709  15.2  ...              14.0         1.0             3.0
19710  15.2  ...              14.0         1.0             3.0
19711  15.2  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
0          13283.675264     5454.068890       3258.006066             0.155378
1          13283.675264     5454.068890       3258.006066             0.155378
2          13283.675264     5454.068890       3258.006066             0.155378
3          13283.675264     5454.068890       3258.006066             0.155378
4          13283.675264     5454.068890       3258.006066             0.155378
...                 ...             ...               ...                  ...
19707       4144.689546     4843.037238       4374.482421             0.156794
19708       4144.689546     4843.037238       4374.482421             0.156794
19709       4144.689546     4843.037238       4374.482421             0.156794
19710       4144.689546     4843.037238       4374.482421             0.153310
19711       4144.689546     4843.037238       4374.482421             0.153310

[19712 rows x 24 columns]
Finished splitting...
Working on: [2018 2019]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...

/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-2-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
<ipython-input-2-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-2-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
<ipython-input-2-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...

/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-2-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
<ipython-input-2-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-2-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
<ipython-input-2-bc70820a9afc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"]=df["Year"].astype("category")
/Users/marielwiechers/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

In [9]:
nb_results = average_grid_searches(GaussianNB(), 'GaussianNB', NBgrid, data_list, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]

In [17]:
nb_results

,parameters_2020,precision_2020,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,{'priors': None},0.35951,{'priors': None},0.38322,{'priors': None},0.363594,{'priors': None},0.355835,0.36554

In [14]:
nb_results.to_csv("../final_data/NB.csv")

In [11]:
svc_results = average_grid_searches(LinearSVC(), 'LinearSVC', SVCgrid, data_list, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]

In [16]:
svc_results

,parameters_2020,precision_2020,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,"{'C': 1, 'random_state': 0}",0.257858,"{'C': 1, 'random_state': 0}",0.751169,"{'C': 1, 'random_state': 0}",1.000000,"{'C': 1, 'random_state': 0}",0.927184,0.734053
0,"{'C': 10, 'random_state': 0}",0.257858,"{'C': 10, 'random_state': 0}",0.751169,"{'C': 10, 'random_state': 0}",1.000000,"{'C': 10, 'random_state': 0}",0.927184,0.734053
0,"{'C': 100, 'random_state': 0}",0.257858,"{'C': 100, 'random_state': 0}",0.751169,"{'C': 100, 'random_state': 0}",1.000000,"{'C': 100, 'random_state': 0}",0.927184,0.734053
0,"{'C': 0.1, 'random_state': 0}",0.257806,"{'C': 0.1, 'random_state': 0}",0.751169,"{'C': 0.1, 'random_state': 0}",1.000000,"{'C': 0.1, 'random_state': 0}",0.843496,0.713118
0,"{'C': 0.01, 'random_state': 0}",0.258441,"{'C': 0.01, 'random_state': 0}",0.265156,"{'C': 0.01, 'random_state': 0}",0.282265,"{'C': 0.01, 'random_state': 0}",0.738462,0.386081

In [15]:
svc_results.to_csv("../final_data/SVC.csv")