In [1]:
import pandas as pd
import geopandas as gpd
import seaborn as sns
import numpy as np
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import precision_score
import datetime

/Users/marielwiechers/my_env/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [2]:
%run ml_helpers.ipynb
%run ml.ipynb

         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
1301129     1301129   723  2019     11  Second  0.00   0.0    42    29
1211540     1211540   511  2019      7   Third  0.32   0.0    91    74
1129071     1129071  2413  2019      3   First  0.00   0.0    40    24
1329418     1329418   632  2019     12  Second  0.16   0.0    51    30
1131389     1131389   613  2019      4  Second  0.02   0.0    59    37
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
1124462     1124462  1132  2019      3  Second  0.11   0.0    51    36
1180521     1180521  1812  2019      6   Third  0.00   0.0    79    60
1308846     1308846   624  2019     11  Second  0.12   0.0    57    34
1316735     1316735  1221  2019     12   First  0.02   0.0    49    25
1073564     1073564   631  2019      1   First  0.00   0.0    50    32

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
1301129            1.0  ...               11.0         0.0             3.0
1211540            0.0  ...               30.0         1.0             3.0
1129071            0.0  ...              109.0        13.0             9.0
1329418            0.0  ...               35.0         2.0             4.0
1131389            0.0  ...               18.0         3.0             4.0
...                ...  ...                ...         ...             ...
1124462            1.0  ...               22.0         0.0             0.0
1180521            2.0  ...              119.0        48.0             5.0
1308846            0.0  ...               36.0         6.0             5.0
1316735            0.0  ...               43.0        19.0             6.0
1073564            0.0  ...               20.0         2.0             1.0

         count_entertainment  count_businesses  road_distance_ft  \
1301129                  0.0              24.0          0.457256
1211540                  0.0              92.0          1.821520
1129071                  1.0             226.0          0.939568
1329418                  0.0              82.0          0.916229
1131389                  0.0              40.0          0.605173
...                      ...               ...               ...
1124462                  0.0              21.0          0.418567
1180521                 13.0             126.0          0.418606
1308846                  0.0             110.0          0.574488
1316735                  0.0             227.0          1.120417
1073564                  2.0              50.0          0.646037

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
1301129       4728.012863        0.016164          0.012290           0.0
1211540      14541.672233        0.023072          0.027551           0.0
1129071      23395.191940        0.013988          0.019703           0.0
1329418       9248.343590        0.029081          0.033151           0.0
1131389       8391.226891        0.012467          0.041256           0.0
...                   ...             ...               ...           ...
1124462       4900.260383        0.022320          0.016078           0.0
1180521       8365.503423        0.018854          0.003387           0.0
1308846       8351.790851        0.012854          0.020856           0.0
1316735       8577.875630        0.024901          0.011968           0.0
1073564       9263.460487        0.020910          0.027456           0.0

[251 rows x 22 columns]
         Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
1056123     1056123  1411  2018     12  Second  0.00   0.0    34    17
934928       934928  1824  2018      7  Second  0.09   0.0    92    75
907883       907883  1914  2018      6   First  0.00   0.0    80    54
1009241     1009241  2212  2018     10   Third  0.99   0.0    66    54
1007571     1007571  1412  2018     10  Second  0.00   0.0    88    60
...             ...   ...   ...    ...     ...   ...   ...   ...   ...
866114       866114   822  2018      4  Second  0.00   0.0    39    21
1054790     1054790  1623  2018     12   Third  0.00   0.0    30    19
809916       809916  1434  2018      1   First  0.00   0.0    24    16
1046468     1046468   313  2018     11  Second  0.00   0.0    25    20
999780       999780  1011  2018      9   First  0.00   0.0    70    53

         count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
1056123            0.0  ...               73.0        37.0             5.0
934928             1.0  ...               75.0        79.0             3.0
907883             0.0  ...               48.0         6.0             4.0
1009241            0.0  ...               40.0         8.0            10.0
1007571            2.0  ...               50.0        19.0             1.0
...                ...  ...                ...         ...             ...
866114             0.0  ...               60.0        12.0             4.0
1054790            1.0  ...               54.0        11.0             4.0
809916             1.0  ...               90.0        41.0            13.0
1046468            0.0  ...               11.0         0.0             3.0
999780             0.0  ...                8.0         0.0             1.0

         count_entertainment  count_businesses  road_distance_ft  \
1056123                  4.0             123.0          0.806729
934928                  12.0             176.0          0.450907
907883                   3.0              76.0          0.411940
1009241                  0.0             155.0          1.627776
1007571                  5.0             115.0          0.498972
...                      ...               ...               ...
866114                   0.0             104.0          0.961339
1054790                  4.0             191.0          1.033403
809916                   6.0             202.0          0.622163
1046468                  0.0              26.0          0.410752
999780                   0.0              28.0          0.608382

         TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
1056123      12938.223478        0.012440          0.028284           0.0
934928       20553.959329        0.015616          0.012361           0.0
907883       10907.560081        0.018273          0.001523           0.0
1009241      18875.580749        0.007211          0.051043           0.0
1007571      11731.443393        0.019206          0.017791           0.0
...                   ...             ...               ...           ...
866114       22558.324368        0.014122          0.031323           0.0
1054790      17731.153621        0.008240          0.026349           0.0
809916       11020.867583        0.016993          0.007159           0.0
1046468       5786.813143        0.016152          0.008552           0.0
999780        6950.898647        0.020399          0.019535           0.0

[249 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
590744      590744  1532  2017      3   Third  0.45   0.0    82    41
592762      592762   121  2017      3  Second  0.00   0.0    52    42
782823      782823  1633  2017     12  Second  0.00   0.0    54    35
701397      701397  1811  2017      8  Second  0.00   0.0    84    68
537548      537548   511  2017      1   Third  0.00   0.0    15     5
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
618892      618892   632  2017      5  Second  0.04   0.0    51    42
655624      655624   123  2017      6   First  0.09   0.0    79    61
722160      722160  1724  2017      9  Second  0.00   0.0    75    55
681637      681637   522  2017      7   Third  1.35   0.0    89    73
737044      737044  1834  2017      9   Third  0.00   0.0    66    57

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
590744            1.0  ...               14.0         2.0             1.0
592762            1.0  ...              221.0        46.0             1.0
782823            0.0  ...               64.0        18.0             9.0
701397            0.0  ...               90.0        45.0             7.0
537548            0.0  ...               30.0         1.0             3.0
...               ...  ...                ...         ...             ...
618892            0.0  ...               35.0         2.0             4.0
655624            2.0  ...              122.0        77.0             5.0
722160            0.0  ...               74.0        19.0             6.0
681637            0.0  ...                8.0         1.0             4.0
737044            1.0  ...              332.0       238.0             7.0

        count_entertainment  count_businesses  road_distance_ft  \
590744                  0.0              24.0          0.516070
592762                  2.0             436.0          0.396079
782823                  2.0             174.0          1.051864
701397                  3.0             214.0          0.759616
537548                  0.0              92.0          1.821520
...                     ...               ...               ...
618892                  0.0              82.0          0.916229
655624                 24.0             212.0          0.463918
722160                  5.0             183.0          0.676951
681637                  0.0              12.0          0.678649
737044                 49.0             676.0          0.909764

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
590744       6459.881345        0.019838          0.020157           1.0
592762       5915.764453        0.022712          0.024490           0.0
782823      20708.358721        0.029355          0.006257           0.0
701397       9097.492384        0.023817          0.014224           0.0
537548      14541.672233        0.023072          0.027551           1.0
...                  ...             ...               ...           ...
618892       9248.343590        0.029081          0.033151           0.0
655624      13521.625505        0.013164          0.024473           1.0
722160      16356.526796        0.023527          0.011240           1.0
681637       6972.737162        0.026390          0.008983           0.0
737044      16374.716120        0.029290          0.003678           0.0

[286 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
322300      322300   834  2016      3   Third  0.00   0.0    55    35
473375      473375  1122  2016     10   Third  0.00   0.0    72    49
395766      395766  1413  2016      7   First  0.00   0.0    77    59
434512      434512   913  2016      8  Second  0.15   0.0    85    71
306957      306957  1833  2016      3  Second  0.00   0.0    40    29
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
310418      310418  1811  2016      3  Second  0.00   0.0    53    41
320041      320041   513  2016      3   Third  0.12   0.0    47    39
407843      407843  1034  2016      7   Third  1.41   0.0    86    67
439634      439634  2031  2016      8   First  0.04   0.0    81    68
311026      311026   624  2016      3   First  0.00   0.0    53    37

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
322300            0.0  ...               58.0        13.0             8.0
473375            1.0  ...               19.0         0.0             0.0
395766            0.0  ...               29.0        13.0             4.0
434512            2.0  ...               42.0        12.0             7.0
306957            1.0  ...              181.0       131.0             5.0
...               ...  ...                ...         ...             ...
310418            0.0  ...               90.0        45.0             7.0
320041            0.0  ...               14.0         0.0             2.0
407843            0.0  ...               72.0        13.0             1.0
439634            0.0  ...               34.0        12.0             7.0
311026            0.0  ...               36.0         6.0             5.0

        count_entertainment  count_businesses  road_distance_ft  \
322300                  2.0             160.0          1.228132
473375                  1.0              66.0          0.685754
395766                  2.0              60.0          0.503178
434512                  2.0             134.0          0.808443
306957                 18.0             513.0          0.245779
...                     ...               ...               ...
310418                  3.0             214.0          0.759616
320041                  0.0              45.0          0.850162
407843                  1.0             193.0          1.044091
439634                  1.0              85.0          0.582367
311026                  0.0             110.0          0.574488

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
322300      23979.728417        0.038494          0.040016           0.0
473375       5159.409728        0.019547          0.005248           1.0
395766      10723.850072        0.014348          0.024282           0.0
434512      14769.483060        0.008394          0.034008           0.0
306957       9567.655146        0.021362          0.003772           1.0
...                  ...             ...               ...           ...
310418       9097.492384        0.023817          0.014224           0.0
320041       7489.527304        0.011224          0.011974           1.0
407843      11544.896744        0.027978          0.018268           0.0
439634       9057.296412        0.007824          0.004978           0.0
311026       8351.790851        0.012854          0.020856           0.0

[267 rows x 22 columns]
        Unnamed: 0  Beat  Year  Month   Watch  PRCP  SNOW  TMAX  TMIN  \
142540      142540  1833  2015      7  Second  0.00   0.0    89    68
108675      108675  1113  2015      6  Second  0.00   0.0    73    54
6500          6500   621  2015      1  Second  0.10   1.4    34    25
86074        86074  1533  2015      5   Third  0.00   0.0    87    57
114111      114111  1231  2015      6  Second  0.44   0.0    88    58
...            ...   ...   ...    ...     ...   ...   ...   ...   ...
109217      109217  2424  2015      6   First  0.47   0.0    83    60
730            730  1212  2015      1  Second  0.00   0.0    32    17
235702      235702   511  2015     11   Third  0.34   0.0    63    50
87244        87244   533  2015      5  Second  0.47   0.0    67    49
235294      235294  2424  2015     11   First  0.34   0.0    63    50

        count_l_stops  ...  count_restaurants  count_bars  count_daycares  \
142540            1.0  ...              181.0       131.0             5.0
108675            1.0  ...               12.0         1.0             2.0
6500              0.0  ...               20.0         1.0             2.0
86074             1.0  ...               21.0         3.0             1.0
114111            2.0  ...               71.0        18.0             2.0
...               ...  ...                ...         ...             ...
109217            0.0  ...               27.0         7.0             4.0
730               0.0  ...               63.0        35.0             6.0
235702            0.0  ...               30.0         1.0             3.0
87244             0.0  ...                4.0         0.0             1.0
235294            0.0  ...               27.0         7.0             4.0

        count_entertainment  count_businesses  road_distance_ft  \
142540                 18.0             513.0          0.245779
108675                  1.0              44.0          0.465835
6500                    0.0              48.0          0.649172
86074                   0.0              53.0          0.449942
114111                  7.0              56.0          0.568027
...                     ...               ...               ...
109217                  3.0              52.0          0.486110
730                     6.0             127.0          0.544955
235702                  0.0              92.0          1.821520
87244                   0.0              10.0          0.696166
235294                  3.0              52.0          0.486110

        TOTAL POPULATION  dist_to_police  dist_to_hospital  was_arrested
142540       9567.655146        0.021362          0.003772           0.0
108675       4161.746005        0.028441          0.021861           0.0
6500         7702.386805        0.002835          0.027396           1.0
86074        7038.112338        0.019818          0.013749           0.0
114111       8750.451240        0.012836          0.004571           0.0
...                  ...             ...               ...           ...
109217      10974.366182        0.014715          0.029948           0.0
730         11069.533801        0.027630          0.003961           0.0
235702      14541.672233        0.023072          0.027551           1.0
87244        6481.643563        0.040540          0.047040           0.0
235294      10974.366182        0.014715          0.029948           0.0

[282 rows x 22 columns]
Finished splitting...
Working on: [2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

In [3]:
data = pd.read_csv("../intermediate_data/high_crime_labeled.csv")
data = data.drop(columns=["beat", "beat_num", "Crimes", "Arrest", "Domestic", "Serious"])
data = convert_to_categorical(data, ["district", "sector",
                                    "Month",
                                     "Watch", "Beat"])
data.drop(columns = ["Unnamed: 0"], inplace=True)

In [4]:
data.head()

,district,sector,Year,Month,Watch,Beat,TMAX,TMIN,PRCP,SNOW,...,count_restaurants,count_bars,count_daycares,count_entertainment,count_businesses,road_distance_ft,TOTAL POPULATION,dist_to_police,dist_to_hospital,high_crime_geog_lag
0,17,1,2015,1,Third,1713,32.469987,20.138549,1.55,11.3,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
1,17,1,2015,1,Second,1713,32.469987,20.138549,1.55,11.3,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
2,17,1,2015,1,First,1713,32.469987,20.138549,1.55,11.3,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
3,17,1,2015,2,Second,1713,26.455588,10.647633,1.87,28.3,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378
4,17,1,2015,2,Third,1713,26.455588,10.647633,1.87,28.3,...,63.0,9.0,6.0,1.0,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.155378

In [6]:
data_list = prep_data(data, "high_crime",
                                        2, "Year", ["district", "sector", 
                                                    "Month", 
                                                    "Beat", "Watch"])

      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
29557       17      1  2018     1   First  1713  33.201426  18.884223  1.12
29558       17      1  2018     1  Second  1713  33.201426  18.884223  1.12
29559       17      1  2018     1   Third  1713  33.201426  18.884223  1.12
29560       17      1  2018     2   Third  1713  39.791635  22.439919  5.47
29561       17      1  2018     2   First  1713  39.791635  22.439919  5.47
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
49256        3      1  2019    11  Second   312  43.761013  29.648049  1.70
49257        3      1  2019    11   Third   312  43.761013  29.648049  1.70
49258        3      1  2019    12  Second   312  42.647269  27.854899  1.29
49259        3      1  2019    12   First   312  42.647269  27.854899  1.29
49260        3      1  2019    12   Third   312  42.647269  27.854899  1.29

       SNOW  ... count_restaurants  count_bars  count_daycares  \
29557   5.0  ...              63.0         9.0             6.0
29558   5.0  ...              63.0         9.0             6.0
29559   5.0  ...              63.0         9.0             6.0
29560  21.8  ...              63.0         9.0             6.0
29561  21.8  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
49256   2.9  ...              14.0         1.0             3.0
49257   2.9  ...              14.0         1.0             3.0
49258   1.8  ...              14.0         1.0             3.0
49259   1.8  ...              14.0         1.0             3.0
49260   1.8  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
29557      13283.675264     5454.068890       3258.006066             0.231076
29558      13283.675264     5454.068890       3258.006066             0.231076
29559      13283.675264     5454.068890       3258.006066             0.231076
29560      13283.675264     5454.068890       3258.006066             0.231076
29561      13283.675264     5454.068890       3258.006066             0.231076
...                 ...             ...               ...                  ...
49256       4144.689546     4843.037238       4374.482421             0.174216
49257       4144.689546     4843.037238       4374.482421             0.174216
49258       4144.689546     4843.037238       4374.482421             0.170732
49259       4144.689546     4843.037238       4374.482421             0.174216
49260       4144.689546     4843.037238       4374.482421             0.174216

[19704 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
19712       17      1  2017     1   First  1713  36.668219  25.445660  3.32
19713       17      1  2017     1   Third  1713  36.668219  25.445660  3.32
19714       17      1  2017     1  Second  1713  36.668219  25.445660  3.32
19715       17      1  2017     2  Second  1713  48.828937  30.957247  2.71
19716       17      1  2017     2   Third  1713  48.828937  30.957247  2.71
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
39402        3      1  2018    11   Third   312  40.859811  30.481732  3.11
39403        3      1  2018    11   First   312  40.859811  30.481732  3.11
39404        3      1  2018    12   First   312  40.587445  27.929352  3.00
39405        3      1  2018    12  Second   312  40.587445  27.929352  3.00
39406        3      1  2018    12   Third   312  40.587445  27.929352  3.00

       SNOW  ... count_restaurants  count_bars  count_daycares  \
19712   0.6  ...              63.0         9.0             6.0
19713   0.6  ...              63.0         9.0             6.0
19714   0.6  ...              63.0         9.0             6.0
19715   0.1  ...              63.0         9.0             6.0
19716   0.1  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
39402   9.2  ...              14.0         1.0             3.0
39403   9.2  ...              14.0         1.0             3.0
39404   0.8  ...              14.0         1.0             3.0
39405   0.8  ...              14.0         1.0             3.0
39406   0.8  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
19712      13283.675264     5454.068890       3258.006066             0.243028
19713      13283.675264     5454.068890       3258.006066             0.243028
19714      13283.675264     5454.068890       3258.006066             0.243028
19715      13283.675264     5454.068890       3258.006066             0.243028
19716      13283.675264     5454.068890       3258.006066             0.243028
...                 ...             ...               ...                  ...
39402       4144.689546     4843.037238       4374.482421             0.104530
39403       4144.689546     4843.037238       4374.482421             0.104530
39404       4144.689546     4843.037238       4374.482421             0.104530
39405       4144.689546     4843.037238       4374.482421             0.101045
39406       4144.689546     4843.037238       4374.482421             0.104530

[19695 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
9861        17      1  2016     1  Second  1713  34.634797  21.333060  0.99
9862        17      1  2016     1   Third  1713  34.634797  21.333060  0.99
9863        17      1  2016     1   First  1713  34.634797  21.333060  0.99
9864        17      1  2016     2   First  1713  39.873946  26.515109  1.32
9865        17      1  2016     2  Second  1713  39.873946  26.515109  1.32
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
29552        3      1  2017    11  Second   312  48.004051  33.954321  2.48
29553        3      1  2017    11   Third   312  48.004051  33.954321  2.48
29554        3      1  2017    12  Second   312  36.924981  23.299649  0.44
29555        3      1  2017    12   Third   312  36.924981  23.299649  0.44
29556        3      1  2017    12   First   312  36.924981  23.299649  0.44

       SNOW  ... count_restaurants  count_bars  count_daycares  \
9861    6.3  ...              63.0         9.0             6.0
9862    6.3  ...              63.0         9.0             6.0
9863    6.3  ...              63.0         9.0             6.0
9864    6.6  ...              63.0         9.0             6.0
9865    6.6  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
29552   0.0  ...              14.0         1.0             3.0
29553   0.0  ...              14.0         1.0             3.0
29554   5.9  ...              14.0         1.0             3.0
29555   5.9  ...              14.0         1.0             3.0
29556   5.9  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
9861       13283.675264     5454.068890       3258.006066             0.167331
9862       13283.675264     5454.068890       3258.006066             0.167331
9863       13283.675264     5454.068890       3258.006066             0.167331
9864       13283.675264     5454.068890       3258.006066             0.167331
9865       13283.675264     5454.068890       3258.006066             0.167331
...                 ...             ...               ...                  ...
29552       4144.689546     4843.037238       4374.482421             0.135889
29553       4144.689546     4843.037238       4374.482421             0.139373
29554       4144.689546     4843.037238       4374.482421             0.139373
29555       4144.689546     4843.037238       4374.482421             0.139373
29556       4144.689546     4843.037238       4374.482421             0.139373

[19696 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
0           17      1  2015     1   Third  1713  32.469987  20.138549  1.55
1           17      1  2015     1  Second  1713  32.469987  20.138549  1.55
2           17      1  2015     1   First  1713  32.469987  20.138549  1.55
3           17      1  2015     2  Second  1713  26.455588  10.647633  1.87
4           17      1  2015     2   Third  1713  26.455588  10.647633  1.87
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
19707        3      1  2016    11   First   312  56.907539  41.575555  2.15
19708        3      1  2016    11  Second   312  56.907539  41.575555  2.15
19709        3      1  2016    12   First   312  33.189478  22.018894  1.54
19710        3      1  2016    12  Second   312  33.189478  22.018894  1.54
19711        3      1  2016    12   Third   312  33.189478  22.018894  1.54

       SNOW  ... count_restaurants  count_bars  count_daycares  \
0      11.3  ...              63.0         9.0             6.0
1      11.3  ...              63.0         9.0             6.0
2      11.3  ...              63.0         9.0             6.0
3      28.3  ...              63.0         9.0             6.0
4      28.3  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
19707   0.0  ...              14.0         1.0             3.0
19708   0.0  ...              14.0         1.0             3.0
19709  15.2  ...              14.0         1.0             3.0
19710  15.2  ...              14.0         1.0             3.0
19711  15.2  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
0          13283.675264     5454.068890       3258.006066             0.155378
1          13283.675264     5454.068890       3258.006066             0.155378
2          13283.675264     5454.068890       3258.006066             0.155378
3          13283.675264     5454.068890       3258.006066             0.155378
4          13283.675264     5454.068890       3258.006066             0.155378
...                 ...             ...               ...                  ...
19707       4144.689546     4843.037238       4374.482421             0.156794
19708       4144.689546     4843.037238       4374.482421             0.156794
19709       4144.689546     4843.037238       4374.482421             0.156794
19710       4144.689546     4843.037238       4374.482421             0.153310
19711       4144.689546     4843.037238       4374.482421             0.153310

[19712 rows x 24 columns]
Finished splitting...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...

Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

In [7]:
data_list_pca = prep_data(data, "high_crime",
                                        2, "Year", 
                          ["district", "sector", 
                                                    "Month", 
                                                    "Beat", "Watch"], pca="yes!", 
                                                  columns_to_pca = ["TOTAL POPULATION", "dist_to_police",
                                                                   "dist_to_hospital", 
                                                  "count_l_stops", "count_bus_stops", 
                                               "count_metra_stops", "count_restaurants", "count_bars", 
                                               "count_daycares", "count_entertainment", "count_businesses", 
                                               "road_distance_ft"])

      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
29557       17      1  2018     1   First  1713  33.201426  18.884223  1.12
29558       17      1  2018     1  Second  1713  33.201426  18.884223  1.12
29559       17      1  2018     1   Third  1713  33.201426  18.884223  1.12
29560       17      1  2018     2   Third  1713  39.791635  22.439919  5.47
29561       17      1  2018     2   First  1713  39.791635  22.439919  5.47
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
49256        3      1  2019    11  Second   312  43.761013  29.648049  1.70
49257        3      1  2019    11   Third   312  43.761013  29.648049  1.70
49258        3      1  2019    12  Second   312  42.647269  27.854899  1.29
49259        3      1  2019    12   First   312  42.647269  27.854899  1.29
49260        3      1  2019    12   Third   312  42.647269  27.854899  1.29

       SNOW  ... count_restaurants  count_bars  count_daycares  \
29557   5.0  ...              63.0         9.0             6.0
29558   5.0  ...              63.0         9.0             6.0
29559   5.0  ...              63.0         9.0             6.0
29560  21.8  ...              63.0         9.0             6.0
29561  21.8  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
49256   2.9  ...              14.0         1.0             3.0
49257   2.9  ...              14.0         1.0             3.0
49258   1.8  ...              14.0         1.0             3.0
49259   1.8  ...              14.0         1.0             3.0
49260   1.8  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
29557                  1.0              92.0     169276.405792
29558                  1.0              92.0     169276.405792
29559                  1.0              92.0     169276.405792
29560                  1.0              92.0     169276.405792
29561                  1.0              92.0     169276.405792
...                    ...               ...               ...
49256                  1.0              38.0     200633.844449
49257                  1.0              38.0     200633.844449
49258                  1.0              38.0     200633.844449
49259                  1.0              38.0     200633.844449
49260                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
29557      13283.675264     5454.068890       3258.006066             0.231076
29558      13283.675264     5454.068890       3258.006066             0.231076
29559      13283.675264     5454.068890       3258.006066             0.231076
29560      13283.675264     5454.068890       3258.006066             0.231076
29561      13283.675264     5454.068890       3258.006066             0.231076
...                 ...             ...               ...                  ...
49256       4144.689546     4843.037238       4374.482421             0.174216
49257       4144.689546     4843.037238       4374.482421             0.174216
49258       4144.689546     4843.037238       4374.482421             0.170732
49259       4144.689546     4843.037238       4374.482421             0.174216
49260       4144.689546     4843.037238       4374.482421             0.174216

[19704 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
19712       17      1  2017     1   First  1713  36.668219  25.445660  3.32
19713       17      1  2017     1   Third  1713  36.668219  25.445660  3.32
19714       17      1  2017     1  Second  1713  36.668219  25.445660  3.32
19715       17      1  2017     2  Second  1713  48.828937  30.957247  2.71
19716       17      1  2017     2   Third  1713  48.828937  30.957247  2.71
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
39402        3      1  2018    11   Third   312  40.859811  30.481732  3.11
39403        3      1  2018    11   First   312  40.859811  30.481732  3.11
39404        3      1  2018    12   First   312  40.587445  27.929352  3.00
39405        3      1  2018    12  Second   312  40.587445  27.929352  3.00
39406        3      1  2018    12   Third   312  40.587445  27.929352  3.00

       SNOW  ... count_restaurants  count_bars  count_daycares  \
19712   0.6  ...              63.0         9.0             6.0
19713   0.6  ...              63.0         9.0             6.0
19714   0.6  ...              63.0         9.0             6.0
19715   0.1  ...              63.0         9.0             6.0
19716   0.1  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
39402   9.2  ...              14.0         1.0             3.0
39403   9.2  ...              14.0         1.0             3.0
39404   0.8  ...              14.0         1.0             3.0
39405   0.8  ...              14.0         1.0             3.0
39406   0.8  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
19712                  1.0              92.0     169276.405792
19713                  1.0              92.0     169276.405792
19714                  1.0              92.0     169276.405792
19715                  1.0              92.0     169276.405792
19716                  1.0              92.0     169276.405792
...                    ...               ...               ...
39402                  1.0              38.0     200633.844449
39403                  1.0              38.0     200633.844449
39404                  1.0              38.0     200633.844449
39405                  1.0              38.0     200633.844449
39406                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
19712      13283.675264     5454.068890       3258.006066             0.243028
19713      13283.675264     5454.068890       3258.006066             0.243028
19714      13283.675264     5454.068890       3258.006066             0.243028
19715      13283.675264     5454.068890       3258.006066             0.243028
19716      13283.675264     5454.068890       3258.006066             0.243028
...                 ...             ...               ...                  ...
39402       4144.689546     4843.037238       4374.482421             0.104530
39403       4144.689546     4843.037238       4374.482421             0.104530
39404       4144.689546     4843.037238       4374.482421             0.104530
39405       4144.689546     4843.037238       4374.482421             0.101045
39406       4144.689546     4843.037238       4374.482421             0.104530

[19695 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
9861        17      1  2016     1  Second  1713  34.634797  21.333060  0.99
9862        17      1  2016     1   Third  1713  34.634797  21.333060  0.99
9863        17      1  2016     1   First  1713  34.634797  21.333060  0.99
9864        17      1  2016     2   First  1713  39.873946  26.515109  1.32
9865        17      1  2016     2  Second  1713  39.873946  26.515109  1.32
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
29552        3      1  2017    11  Second   312  48.004051  33.954321  2.48
29553        3      1  2017    11   Third   312  48.004051  33.954321  2.48
29554        3      1  2017    12  Second   312  36.924981  23.299649  0.44
29555        3      1  2017    12   Third   312  36.924981  23.299649  0.44
29556        3      1  2017    12   First   312  36.924981  23.299649  0.44

       SNOW  ... count_restaurants  count_bars  count_daycares  \
9861    6.3  ...              63.0         9.0             6.0
9862    6.3  ...              63.0         9.0             6.0
9863    6.3  ...              63.0         9.0             6.0
9864    6.6  ...              63.0         9.0             6.0
9865    6.6  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
29552   0.0  ...              14.0         1.0             3.0
29553   0.0  ...              14.0         1.0             3.0
29554   5.9  ...              14.0         1.0             3.0
29555   5.9  ...              14.0         1.0             3.0
29556   5.9  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
9861                   1.0              92.0     169276.405792
9862                   1.0              92.0     169276.405792
9863                   1.0              92.0     169276.405792
9864                   1.0              92.0     169276.405792
9865                   1.0              92.0     169276.405792
...                    ...               ...               ...
29552                  1.0              38.0     200633.844449
29553                  1.0              38.0     200633.844449
29554                  1.0              38.0     200633.844449
29555                  1.0              38.0     200633.844449
29556                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
9861       13283.675264     5454.068890       3258.006066             0.167331
9862       13283.675264     5454.068890       3258.006066             0.167331
9863       13283.675264     5454.068890       3258.006066             0.167331
9864       13283.675264     5454.068890       3258.006066             0.167331
9865       13283.675264     5454.068890       3258.006066             0.167331
...                 ...             ...               ...                  ...
29552       4144.689546     4843.037238       4374.482421             0.135889
29553       4144.689546     4843.037238       4374.482421             0.139373
29554       4144.689546     4843.037238       4374.482421             0.139373
29555       4144.689546     4843.037238       4374.482421             0.139373
29556       4144.689546     4843.037238       4374.482421             0.139373

[19696 rows x 24 columns]
      district sector  Year Month   Watch  Beat       TMAX       TMIN  PRCP  \
0           17      1  2015     1   Third  1713  32.469987  20.138549  1.55
1           17      1  2015     1  Second  1713  32.469987  20.138549  1.55
2           17      1  2015     1   First  1713  32.469987  20.138549  1.55
3           17      1  2015     2  Second  1713  26.455588  10.647633  1.87
4           17      1  2015     2   Third  1713  26.455588  10.647633  1.87
...        ...    ...   ...   ...     ...   ...        ...        ...   ...
19707        3      1  2016    11   First   312  56.907539  41.575555  2.15
19708        3      1  2016    11  Second   312  56.907539  41.575555  2.15
19709        3      1  2016    12   First   312  33.189478  22.018894  1.54
19710        3      1  2016    12  Second   312  33.189478  22.018894  1.54
19711        3      1  2016    12   Third   312  33.189478  22.018894  1.54

       SNOW  ... count_restaurants  count_bars  count_daycares  \
0      11.3  ...              63.0         9.0             6.0
1      11.3  ...              63.0         9.0             6.0
2      11.3  ...              63.0         9.0             6.0
3      28.3  ...              63.0         9.0             6.0
4      28.3  ...              63.0         9.0             6.0
...     ...  ...               ...         ...             ...
19707   0.0  ...              14.0         1.0             3.0
19708   0.0  ...              14.0         1.0             3.0
19709  15.2  ...              14.0         1.0             3.0
19710  15.2  ...              14.0         1.0             3.0
19711  15.2  ...              14.0         1.0             3.0

       count_entertainment  count_businesses  road_distance_ft  \
0                      1.0              92.0     169276.405792
1                      1.0              92.0     169276.405792
2                      1.0              92.0     169276.405792
3                      1.0              92.0     169276.405792
4                      1.0              92.0     169276.405792
...                    ...               ...               ...
19707                  1.0              38.0     200633.844449
19708                  1.0              38.0     200633.844449
19709                  1.0              38.0     200633.844449
19710                  1.0              38.0     200633.844449
19711                  1.0              38.0     200633.844449

       TOTAL POPULATION  dist_to_police  dist_to_hospital  high_crime_geog_lag
0          13283.675264     5454.068890       3258.006066             0.155378
1          13283.675264     5454.068890       3258.006066             0.155378
2          13283.675264     5454.068890       3258.006066             0.155378
3          13283.675264     5454.068890       3258.006066             0.155378
4          13283.675264     5454.068890       3258.006066             0.155378
...                 ...             ...               ...                  ...
19707       4144.689546     4843.037238       4374.482421             0.156794
19708       4144.689546     4843.037238       4374.482421             0.156794
19709       4144.689546     4843.037238       4374.482421             0.156794
19710       4144.689546     4843.037238       4374.482421             0.153310
19711       4144.689546     4843.037238       4374.482421             0.153310

[19712 rows x 24 columns]
Finished splitting...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

0    0.852368
1    0.852368
2    0.852368
3    0.852368
4    0.852368
Name: principal component 1, dtype: float64
(19695, 2) (19695, 322)
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.85269
1    0.85269
2    0.85269
3    0.85269
4    0.85269
Name: principal component 1, dtype: float64
(19696, 2) (19696, 322)
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
0    0.856576
1    0.856576
2    0.856576
3    0.856576
4    0.856576
Name: principal component 1, dtype: float64
(19712, 2) (19712, 322)

In [5]:
models = {
    'GaussianNB': GaussianNB(),
    'LinearSVC': LinearSVC()    
}

NBgrid = {'GaussianNB': [{'priors': None}] 
         }

SVCgrid = {'LinearSVC': [{'C': x, 'random_state': 0} for x in (0.01, 0.1, 1, 10, 100)]}

In [8]:
nb_results = average_grid_searches(GaussianNB(), 'GaussianNB', NBgrid, data_list, "high_crime", 2020)
nb_pca_results = average_grid_searches(GaussianNB(), 'GaussianNB', NBgrid, data_list_pca, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]
test year is: 2020
[2016, 2017, 2018, 2019]

In [9]:
nb_results

,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,{'priors': None},0.38322,{'priors': None},0.363594,{'priors': None},0.355835,0.36755

In [12]:
nb_pca_results

,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,{'priors': None},0.390228,{'priors': None},0.371183,{'priors': None},0.357834,0.373082

In [15]:
nb_results.to_csv("../final_data/NB.csv")

In [10]:
svc_results = average_grid_searches(LinearSVC(), 'LinearSVC', SVCgrid, data_list, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]

In [11]:
svc_pca_results = average_grid_searches(LinearSVC(), 'LinearSVC', SVCgrid, data_list_pca, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]

In [13]:
svc_results

,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,"{'C': 1, 'random_state': 0}",0.751169,"{'C': 1, 'random_state': 0}",1.000000,"{'C': 1, 'random_state': 0}",0.927184,0.892785
0,"{'C': 10, 'random_state': 0}",0.751169,"{'C': 10, 'random_state': 0}",1.000000,"{'C': 10, 'random_state': 0}",0.927184,0.892785
0,"{'C': 100, 'random_state': 0}",0.751169,"{'C': 100, 'random_state': 0}",1.000000,"{'C': 100, 'random_state': 0}",0.927184,0.892785
0,"{'C': 0.1, 'random_state': 0}",0.751169,"{'C': 0.1, 'random_state': 0}",1.000000,"{'C': 0.1, 'random_state': 0}",0.843496,0.864888
0,"{'C': 0.01, 'random_state': 0}",0.265156,"{'C': 0.01, 'random_state': 0}",0.282265,"{'C': 0.01, 'random_state': 0}",0.738462,0.428627

In [14]:
svc_pca_results

,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,"{'C': 10, 'random_state': 0}",0.912664,"{'C': 10, 'random_state': 0}",1.000000,"{'C': 10, 'random_state': 0}",0.672518,0.861727
0,"{'C': 100, 'random_state': 0}",0.912664,"{'C': 100, 'random_state': 0}",1.000000,"{'C': 100, 'random_state': 0}",0.672518,0.861727
0,"{'C': 1, 'random_state': 0}",0.912664,"{'C': 1, 'random_state': 0}",1.000000,"{'C': 1, 'random_state': 0}",0.672320,0.861661
0,"{'C': 0.1, 'random_state': 0}",0.912664,"{'C': 0.1, 'random_state': 0}",1.000000,"{'C': 0.1, 'random_state': 0}",0.247740,0.720135
0,"{'C': 0.01, 'random_state': 0}",0.910256,"{'C': 0.01, 'random_state': 0}",0.776884,"{'C': 0.01, 'random_state': 0}",0.000000,0.562380

In [16]:
svc_results.to_csv("../final_data/SVC.csv")