In [12]:
import pandas as pd
import geopandas as gpd
import seaborn as sns
import numpy as np
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import precision_score
import datetime

In [5]:
%run ml_helpers.ipynb

In [9]:
data = pd.read_csv("../intermediate_data/high_crime_labeled.csv")
data = data.drop(columns=["beat", "beat_num", "Crimes", "Arrest", "Domestic", "Serious"])
data = convert_to_categorical(data, ["district", "sector",
                                    "Month",
                                     "Watch", "Beat"])
data.drop(columns = ["Unnamed: 0"], inplace=True)

In [10]:
data.head()

,district,sector,Year,Month,Watch,Beat,count_l_stops,count_bus_stops,count_metra_stops,count_restaurants,...,count_businesses,road_distance_ft,TOTAL POPULATION,dist_to_police,dist_to_hospital,SNOW,TMAX,TMIN,high_crime,high_crime_geog_lag
0,17,1,2015,1,First,1713,3.0,26.0,0.0,63.0,...,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.214286,33.785714,24.642857,0.0,0.139442
1,17,1,2015,1,Second,1713,3.0,26.0,0.0,63.0,...,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.344444,32.650000,23.000000,0.0,0.139442
2,17,1,2015,1,Third,1713,3.0,26.0,0.0,63.0,...,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.400000,31.812500,21.312500,0.0,0.139442
3,17,1,2015,2,First,1713,3.0,26.0,0.0,63.0,...,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.320000,24.300000,8.400000,0.0,0.139442
4,17,1,2015,2,Second,1713,3.0,26.0,0.0,63.0,...,92.0,169276.405792,13283.675264,5454.06889,3258.006066,0.200000,22.666667,9.083333,0.0,0.139442

In [34]:
models = {
    'GaussianNB': GaussianNB(),
    'LinearSVC': LinearSVC()    
}

NBgrid = {'GaussianNB': [{'priors': None}] 
                         #for x in ('None')]
         }

SVCgrid = {'LinearSVC': [{'C': x, 'random_state': 0} for x in (0.01, 0.1, 1, 10, 100)]}

In [15]:
data_list = prep_data(data, "high_crime",
                                        2, "Year", ["district", "sector", 
                                                    "Month", 
                                                    "Beat", "Watch"])

      district sector  Year Month   Watch  Beat  count_l_stops  \
29557       17      1  2018     1   First  1713            3.0
29558       17      1  2018     1  Second  1713            3.0
29559       17      1  2018     1   Third  1713            3.0
29560       17      1  2018     2   First  1713            3.0
29561       17      1  2018     2  Second  1713            3.0
...        ...    ...   ...   ...     ...   ...            ...
49256        3      1  2019    11  Second   312            2.0
49257        3      1  2019    11   Third   312            2.0
49258        3      1  2019    12   First   312            2.0
49259        3      1  2019    12  Second   312            2.0
49260        3      1  2019    12   Third   312            2.0

       count_bus_stops  count_metra_stops  count_restaurants  ...  \
29557             26.0                0.0               63.0  ...
29558             26.0                0.0               63.0  ...
29559             26.0                0.0               63.0  ...
29560             26.0                0.0               63.0  ...
29561             26.0                0.0               63.0  ...
...                ...                ...                ...  ...
49256             32.0                0.0               14.0  ...
49257             32.0                0.0               14.0  ...
49258             32.0                0.0               14.0  ...
49259             32.0                0.0               14.0  ...
49260             32.0                0.0               14.0  ...

       count_businesses  road_distance_ft  TOTAL POPULATION  dist_to_police  \
29557              92.0     169276.405792      13283.675264     5454.068890
29558              92.0     169276.405792      13283.675264     5454.068890
29559              92.0     169276.405792      13283.675264     5454.068890
29560              92.0     169276.405792      13283.675264     5454.068890
29561              92.0     169276.405792      13283.675264     5454.068890
...                 ...               ...               ...             ...
49256              38.0     200633.844449       4144.689546     4843.037238
49257              38.0     200633.844449       4144.689546     4843.037238
49258              38.0     200633.844449       4144.689546     4843.037238
49259              38.0     200633.844449       4144.689546     4843.037238
49260              38.0     200633.844449       4144.689546     4843.037238

       dist_to_hospital      SNOW       TMAX       TMIN  high_crime  \
29557       3258.006066  0.000000  30.875000  18.125000         0.0
29558       3258.006066  0.462500  31.000000  15.937500         0.0
29559       3258.006066  0.029167  37.708333  20.791667         0.0
29560       3258.006066  0.925000  29.750000  15.875000         0.0
29561       3258.006066  0.437500  40.562500  24.750000         0.0
...                 ...       ...        ...        ...         ...
49256       4374.482421  0.134884  44.325581  29.744186         0.0
49257       4374.482421  0.000000  42.071429  28.928571         0.0
49258       4374.482421  0.078947  38.578947  25.000000         0.0
49259       4374.482421  0.054545  41.303030  27.636364         1.0
49260       4374.482421  0.064516  42.612903  27.645161         0.0

       high_crime_geog_lag
29557             0.215139
29558             0.215139
29559             0.215139
29560             0.215139
29561             0.215139
...                    ...
49256             0.163763
49257             0.163763
49258             0.163763
49259             0.160279
49260             0.163763

[19704 rows x 23 columns]
      district sector  Year Month   Watch  Beat  count_l_stops  \
19712       17      1  2017     1   First  1713            3.0
19713       17      1  2017     1  Second  1713            3.0
19714       17      1  2017     1   Third  1713            3.0
19715       17      1  2017     2   First  1713            3.0
19716       17      1  2017     2  Second  1713            3.0
...        ...    ...   ...   ...     ...   ...            ...
39402        3      1  2018    11  Second   312            2.0
39403        3      1  2018    11   Third   312            2.0
39404        3      1  2018    12   First   312            2.0
39405        3      1  2018    12  Second   312            2.0
39406        3      1  2018    12   Third   312            2.0

       count_bus_stops  count_metra_stops  count_restaurants  ...  \
19712             26.0                0.0               63.0  ...
19713             26.0                0.0               63.0  ...
19714             26.0                0.0               63.0  ...
19715             26.0                0.0               63.0  ...
19716             26.0                0.0               63.0  ...
...                ...                ...                ...  ...
39402             32.0                0.0               14.0  ...
39403             32.0                0.0               14.0  ...
39404             32.0                0.0               14.0  ...
39405             32.0                0.0               14.0  ...
39406             32.0                0.0               14.0  ...

       count_businesses  road_distance_ft  TOTAL POPULATION  dist_to_police  \
19712              92.0     169276.405792      13283.675264     5454.068890
19713              92.0     169276.405792      13283.675264     5454.068890
19714              92.0     169276.405792      13283.675264     5454.068890
19715              92.0     169276.405792      13283.675264     5454.068890
19716              92.0     169276.405792      13283.675264     5454.068890
...                 ...               ...               ...             ...
39402              38.0     200633.844449       4144.689546     4843.037238
39403              38.0     200633.844449       4144.689546     4843.037238
39404              38.0     200633.844449       4144.689546     4843.037238
39405              38.0     200633.844449       4144.689546     4843.037238
39406              38.0     200633.844449       4144.689546     4843.037238

       dist_to_hospital      SNOW       TMAX       TMIN  high_crime  \
19712       3258.006066  0.000000  32.000000  19.411765         0.0
19713       3258.006066  0.011765  32.176471  19.176471         0.0
19714       3258.006066  0.008696  37.391304  28.391304         0.0
19715       3258.006066  0.000000  54.111111  38.555556         0.0
19716       3258.006066  0.030000  45.000000  26.700000         0.0
...                 ...       ...        ...        ...         ...
39402       4374.482421  0.336364  37.333333  27.757576         0.0
39403       4374.482421  0.093939  41.818182  31.515152         0.0
39404       4374.482421  0.026667  42.400000  29.066667         0.0
39405       4374.482421  0.022222  40.166667  28.055556         1.0
39406       4374.482421  0.041176  38.852941  27.264706         0.0

       high_crime_geog_lag
19712             0.250996
19713             0.250996
19714             0.250996
19715             0.250996
19716             0.250996
...                    ...
39402             0.111498
39403             0.111498
39404             0.111498
39405             0.108014
39406             0.111498

[19695 rows x 23 columns]
      district sector  Year Month   Watch  Beat  count_l_stops  \
9861        17      1  2016     1   First  1713            3.0
9862        17      1  2016     1  Second  1713            3.0
9863        17      1  2016     1   Third  1713            3.0
9864        17      1  2016     2   First  1713            3.0
9865        17      1  2016     2  Second  1713            3.0
...        ...    ...   ...   ...     ...   ...            ...
29552        3      1  2017    11  Second   312            2.0
29553        3      1  2017    11   Third   312            2.0
29554        3      1  2017    12   First   312            2.0
29555        3      1  2017    12  Second   312            2.0
29556        3      1  2017    12   Third   312            2.0

       count_bus_stops  count_metra_stops  count_restaurants  ...  \
9861              26.0                0.0               63.0  ...
9862              26.0                0.0               63.0  ...
9863              26.0                0.0               63.0  ...
9864              26.0                0.0               63.0  ...
9865              26.0                0.0               63.0  ...
...                ...                ...                ...  ...
29552             32.0                0.0               14.0  ...
29553             32.0                0.0               14.0  ...
29554             32.0                0.0               14.0  ...
29555             32.0                0.0               14.0  ...
29556             32.0                0.0               14.0  ...

       count_businesses  road_distance_ft  TOTAL POPULATION  dist_to_police  \
9861               92.0     169276.405792      13283.675264     5454.068890
9862               92.0     169276.405792      13283.675264     5454.068890
9863               92.0     169276.405792      13283.675264     5454.068890
9864               92.0     169276.405792      13283.675264     5454.068890
9865               92.0     169276.405792      13283.675264     5454.068890
...                 ...               ...               ...             ...
29552              38.0     200633.844449       4144.689546     4843.037238
29553              38.0     200633.844449       4144.689546     4843.037238
29554              38.0     200633.844449       4144.689546     4843.037238
29555              38.0     200633.844449       4144.689546     4843.037238
29556              38.0     200633.844449       4144.689546     4843.037238

       dist_to_hospital      SNOW       TMAX       TMIN  high_crime  \
9861        3258.006066  0.025000  37.625000  25.500000         0.0
9862        3258.006066  0.050000  34.900000  20.750000         0.0
9863        3258.006066  0.166667  37.388889  24.222222         0.0
9864        3258.006066  0.066667  40.666667  27.444444         0.0
9865        3258.006066  0.309524  36.904762  27.476190         0.0
...                 ...       ...        ...        ...         ...
29552       4374.482421  0.000000  47.022222  33.555556         1.0
29553       4374.482421  0.000000  47.828571  34.457143         0.0
29554       4374.482421  0.109091  32.318182  20.045455         0.0
29555       4374.482421  0.106897  39.000000  25.758621         0.0
29556       4374.482421  0.135714  39.904762  25.214286         0.0

       high_crime_geog_lag
9861              0.143426
9862              0.143426
9863              0.143426
9864              0.143426
9865              0.143426
...                    ...
29552             0.139373
29553             0.142857
29554             0.142857
29555             0.142857
29556             0.142857

[19696 rows x 23 columns]
      district sector  Year Month   Watch  Beat  count_l_stops  \
0           17      1  2015     1   First  1713            3.0
1           17      1  2015     1  Second  1713            3.0
2           17      1  2015     1   Third  1713            3.0
3           17      1  2015     2   First  1713            3.0
4           17      1  2015     2  Second  1713            3.0
...        ...    ...   ...   ...     ...   ...            ...
19707        3      1  2016    11  Second   312            2.0
19708        3      1  2016    11   Third   312            2.0
19709        3      1  2016    12   First   312            2.0
19710        3      1  2016    12  Second   312            2.0
19711        3      1  2016    12   Third   312            2.0

       count_bus_stops  count_metra_stops  count_restaurants  ...  \
0                 26.0                0.0               63.0  ...
1                 26.0                0.0               63.0  ...
2                 26.0                0.0               63.0  ...
3                 26.0                0.0               63.0  ...
4                 26.0                0.0               63.0  ...
...                ...                ...                ...  ...
19707             32.0                0.0               14.0  ...
19708             32.0                0.0               14.0  ...
19709             32.0                0.0               14.0  ...
19710             32.0                0.0               14.0  ...
19711             32.0                0.0               14.0  ...

       count_businesses  road_distance_ft  TOTAL POPULATION  dist_to_police  \
0                  92.0     169276.405792      13283.675264     5454.068890
1                  92.0     169276.405792      13283.675264     5454.068890
2                  92.0     169276.405792      13283.675264     5454.068890
3                  92.0     169276.405792      13283.675264     5454.068890
4                  92.0     169276.405792      13283.675264     5454.068890
...                 ...               ...               ...             ...
19707              38.0     200633.844449       4144.689546     4843.037238
19708              38.0     200633.844449       4144.689546     4843.037238
19709              38.0     200633.844449       4144.689546     4843.037238
19710              38.0     200633.844449       4144.689546     4843.037238
19711              38.0     200633.844449       4144.689546     4843.037238

       dist_to_hospital      SNOW       TMAX       TMIN  high_crime  \
0           3258.006066  0.214286  33.785714  24.642857         0.0
1           3258.006066  0.344444  32.650000  23.000000         0.0
2           3258.006066  0.400000  31.812500  21.312500         0.0
3           3258.006066  0.320000  24.300000   8.400000         0.0
4           3258.006066  0.200000  22.666667   9.083333         0.0
...                 ...       ...        ...        ...         ...
19707       4374.482421  0.000000  56.550000  41.200000         1.0
19708       4374.482421  0.000000  56.381818  42.272727         1.0
19709       4374.482421  1.294118  35.000000  24.764706         0.0
19710       4374.482421  0.200000  32.179487  18.948718         1.0
19711       4374.482421  0.671429  30.095238  19.452381         1.0

       high_crime_geog_lag
0                 0.139442
1                 0.139442
2                 0.139442
3                 0.139442
4                 0.139442
...                    ...
19707             0.146341
19708             0.146341
19709             0.149826
19710             0.146341
19711             0.146341

[19712 rows x 23 columns]
Finished splitting...
Working on: [2018 2019]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2017 2018]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...

Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2016 2017]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...
Working on: [2015 2016]
Have accessed train and test df...
Finished filling NAs with mean...
On to normalizing continuous...
Finished normalizing training data
Finished normalizing test data...
Finished one-hot encoding...
Finished one-hot encoding...
Finished standardizing...

In [31]:
nb_results = average_grid_searches(GaussianNB(), 'GaussianNB', NBgrid, data_list, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]

In [32]:
nb_results

,parameters_2020,precision_2020,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,{'priors': None},0.353127,{'priors': None},0.380673,{'priors': None},0.349891,{'priors': None},0.364487,0.362045

In [35]:
svc_results = average_grid_searches(LinearSVC(), 'LinearSVC', SVCgrid, data_list, "high_crime", 2020)

test year is: 2020
[2016, 2017, 2018, 2019]

In [36]:
svc_results

,parameters_2020,precision_2020,parameters_2019,precision_2019,parameters_2018,precision_2018,parameters_2017,precision_2017,mean
0,"{'C': 1, 'random_state': 0}",0.664671,"{'C': 1, 'random_state': 0}",1.000000,"{'C': 1, 'random_state': 0}",1.000000,"{'C': 1, 'random_state': 0}",0.266772,0.732861
0,"{'C': 0.01, 'random_state': 0}",0.888889,"{'C': 0.01, 'random_state': 0}",0.683820,"{'C': 0.01, 'random_state': 0}",1.000000,"{'C': 0.01, 'random_state': 0}",0.282323,0.713758
0,"{'C': 0.1, 'random_state': 0}",0.241702,"{'C': 0.1, 'random_state': 0}",0.855696,"{'C': 0.1, 'random_state': 0}",1.000000,"{'C': 0.1, 'random_state': 0}",0.266828,0.591057
0,"{'C': 10, 'random_state': 0}",0.664671,"{'C': 10, 'random_state': 0}",1.000000,"{'C': 10, 'random_state': 0}",0.245893,"{'C': 10, 'random_state': 0}",0.266744,0.544327
0,"{'C': 100, 'random_state': 0}",0.664671,"{'C': 100, 'random_state': 0}",1.000000,"{'C': 100, 'random_state': 0}",0.245893,"{'C': 100, 'random_state': 0}",0.266744,0.544327